<template>
<transition
      name="custom-classes-transition"
      enter-active-class="animated dur03 slideInRight"
      leave-active-class="animated dur03 slideOutRight"
      mode="out-in">
  <div class="request-url-side">
    <div class="request-url-side__layer" @click.self='$emit("close")'></div>
    <div class="request-url-side__header">
      <p class="request-url-side__title">Request URL change</p>
      <close-button @click.native='$emit("close")'/>
    </div>
    <div class="request-url-side__body">
      <p class="request-url-side__text"
        >We judge name changes to protect the identity of the companies, brands and 
      organizations that represent Wambla page.
      </p>
      <div class="request-url-side__field">
        <label for="url" class="request-url-side__label">Current page name</label>
        <div class="request-url-side__input">
          <span>wambla.com/</span>
          <input
            class="request-url-side__input-url"
            autocomlete='autocomplete_off_hack_xfr4!k'
            type="text"
            v-model="currentUrl"
            disabled/>
        </div>
      </div>
      <div class="request-url-side__field">
        <label for="url" class="request-url-side__label">New page name</label>
        <div class='request-url-side__input'>
          <span>wambla.com/</span>
          <input
            type="text"
            autocomlete='autocomplete_off_hack_xfr4!k'
            @blur='checkUrl'
            class="request-url-side__input-url"
            :value='newUrl'
            @input='setNewUrl'/>
        </div>
        <div class="request-url-side__message-wrapper" v-if='status.success'>
          <div class="request-url-side__icon-wrapper request-url-side__icon-wrapper--success">
            <icon-check class='request-url-side__icon'/>
          </div>
          <span class='request-url-side__message request-url-side__message--success'
            >Great! Your page name is available.
          </span>
        </div>
        <div class="request-url-side__message-wrapper" v-if='status.error'>
          <div class="request-url-side__icon-wrapper request-url-side__icon-wrapper--error">
            <icon-close class='request-url-side__icon'/>
          </div>
          <span class='request-url-side__message request-url-side__message--error'
            >Your page name seems to be taken.
          </span>
        </div>
      </div>
      <p class="request-url-side__text"
        >Let us know your reason why you would like to change your page name.
      </p>
      <div class="request-url-side__field">
        <label for="url" class="request-url-side__label">Reason</label>
        <textarea
          autocomplete="off"
          class="request-url-side__textarea"
          v-model='reason'>
        </textarea>
      </div>
      <button
        @click='changeUrl'
        class='button is-success request-url-side__button'
        :class='{"is-loading": loading}'
        v-if='ready'>Send</button>
    </div>
  </div>
</transition>
</template>
<script>
import IconCheck from '@/components/common/icons/IconCheck.vue';
import IconClose from '@/components/common/icons/IconClose.vue';
import CloseButton from '@/components/common/buttons/CloseButton.vue';
import http from 'axios';
import { api } from '@/api/agency';
import { mapState } from 'vuex';

export default {
  name: 'Settingspopup',
  components: {
    IconCheck,
    IconClose,
    CloseButton,
  },
  data () {
    return {
      currentUrl: '',
      newUrl: '',
      reason: '',
      loading: false,
      status: {
        error: false,
        success: false,
      },
    };
  },
  methods: {
    showError() {
      this.$message.error(this.$t('messages.error_save'));
    },
    showSuccess() {
      this.$message.success(this.$t('messages.save'));
    },
    async setNewUrl({target: { value }}) {
      const url = await this.$store.dispatch('gears/formatUrl', value);
      this.newUrl = url;
    },
    checkUrl() {
      const data = {
        preferred_url: this.newUrl,
      }
      http.post(api.changeUrl, data)
        .catch((error) => {
          const { errors } = error.response.data;
          if (!!errors.preferred_url) {
            this.status.success = false;
            this.status.error = true;
          } else {
            this.status.error = false;
            this.status.success = true;
          }
        })
    },
    changeUrl() {
      this.loading = true;
      const data = {
        company_id: this.company.id,
        preferred_url: this.newUrl,
        reason: this.reason,
      }
      http.post(api.changeUrl, data)
        .then((resp) => {
          this.loading = false;
          this.$emit("success");
        })
        .catch((error) => {
          this.loading = false;
          this.$message.error(error.response.data.message);
        })
    },
  },
  computed: {
    ...mapState('profileAgency', [
      'company',
    ]),
    ready() {
      const { currentUrl, newUrl, reason, status: { success } } = this;
      return newUrl && reason && success;
    },
  },
  mounted() {
    this.currentUrl = this.company.url;
  },
};
</script>
<style lang="scss">
$styles: request-url-side;

.#{$styles} {
  padding: 80px 16px;
  position: fixed;
  height: 100vh;
  width: 500px;
  right: 0;
  background-color: $N0;
  z-index: 10;
  top: 0;
  bottom: 0;
  &__header {
    @include flex-row(space-between, center);
    padding-bottom: 6px;
    border-bottom: solid 1px #e3e3e3;
    margin-bottom: 16px;
  }
  &__title {
    @include text($H800, $B5, 500);
  }
  &__text {
    @include text($H500, #616b7e, 500);
    margin-bottom: 14px;
  }
  &__field {
    margin-bottom: 14px;
  }
  &__save {
    font-size: $H600;
  }
  &__label {
    @extend %account-label;
  }
  &__input {
    @extend %account-input;
    color: #616b7e;
    @include flex-row(flex-start, center);
  }
  &__url-name {
    color: $N100;
    font-weight: 600;
  }
  &__input-url {
    color: $N100;
    font-weight: 600;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
  }
  &__textarea {
    @extend %account-input;
    color: #616b7e;
    min-height: 160px;
  }
  &__icon-wrapper {
    $size: 18px;
    width: $size;
    height: $size;
    border-radius: 50%;
    @include flex-row(center, center);
    margin-right: 9px;
    &--success {
      background-color: #26b019;
    }
    &--error {
      background-color: #d0021b;
    }
  }
  &__icon {
    $size: 8px;
    width: $size;
    height: $size;
    fill: white;
  }
  &__message {
    @include text($H500, $B5, 500);
    &--success {
      color: #26b019;
    }
    &--error {
      color: #d0021b;
    }
  }
  &__message-wrapper {
    @include flex-row(flex-start, center);
    padding: 8px 0 0;
  }
  &__layer {
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 500px;
    bottom: 0;
    top: 0;
    z-index: -2;
  }
  &__button {
    margin-top: 8px;
    padding: 0 38px !important;
    min-height: 52px !important;
    background-color: #26B019 !important;
  }
}
</style>
