<template>
<div class="drop-input__box">
  <div
    class="drop-input list-complete-item"
    v-for='(item, index) in socials'
    :key='`n${index}`'
    @click='item.drop = false'>
    <div class="drop-input__wrapper">
      <div class="drop-input__drop">
        <a @click.prevent.stop='item.drop = !item.drop' class="drop-input__drop-placeholder">
          <component
            :is='item.type'
            class='drop-input__icon drop-input__icon--margin-right'/>
          <icon-arrow-down
            class="drop-input__arrow"
            :class='{"rotate-180": item.drop}'/>
        </a>
        <transition
          name="custom-classes-transition"
          enter-active-class="animated dur06 fadeIn"
          leave-active-class="animated dur04 fadeOut"
          mode="out-in">
        <ul class="drop-input__list" v-if='item.drop'>
          <li
            class="drop-input__item"
            v-for='(social, index) in socialList'
            @click.prevent='item.type = social'
            :key='index'>
            <component
              :is='social'
              class='drop-input__icon'/>
          </li>
        </ul>
        </transition>
      </div>
      <input
        autocomlete='autocomplete_off_hack_xfr4!k'
        :placeholder="item.type"
        type="text"
        class="drop-input__input"
        v-model='item.username'>
    </div>
    <close-button
      @click.native='removeSocial(index)'
      class="drop-input__remove-button"/>
  </div>
</div>
</template>
<script>
import CloseButton from '@/components/common/buttons/CloseButton.vue';
import IconArrowDown from '@/components/common/icons/IconArrowDown.vue';
import facebook from '@/components/common/icons/socials/IconFacebook.vue';
import google from '@/components/common/icons/socials/IconGoogle.vue';
import twitter from '@/components/common/icons/socials/IconTwitter.vue';
import youtube from '@/components/common/icons/socials/IconYoutube.vue';
import instagram from '@/components/common/icons/socials/IconInstagram.vue';
import vk from '@/components/common/icons/socials/IconVk.vue';

import { mapState, mapMutations } from 'vuex';

export default {
  name: 'AccountInputSocial',
  props: {
    socials: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  components: {
    CloseButton,
    IconArrowDown,
    facebook,
    google,
    twitter,
    youtube,
    instagram,
    vk,
  },
  data() {
    return {
      socialList: [
        'facebook',
        'twitter',
        'youtube',
        'google',
        'instagram',
        'vk',
      ],
    };
  },
  methods: {
    removeSocial(index) {
      this.$emit('removeSocial', index);
    },
    close() {
      this.drop = false;
    },
  },
};
</script>
<style lang="scss">
@import '~@/assets/scss/components/drop-input';
</style>