<template>
<div class='language-menu'>
  <a
    href="#"
    class="language-menu__button"
    @click.prevent='menu = !menu'>
    <component :is='currentIcon' class='language-menu__icon'/>
    <icon-arrow-down
      class='language-menu__arrow'
      :class='{"rotate-180": menu}'/>
  </a>
  <transition
    name="custom-classes-transition"
    enter-active-class="animated dur06 fadeIn"
    leave-active-class="animated dur04 fadeOut"
    mode="out-in">
  <ul class="language-menu__list" v-if='menu'>
    <li class="language-menu__item">
      <a @click.prevent='select("nl")' href="#" class="language-menu__link">
        <nl class='language-menu__icon'/>
        <p class="language-menu__text">Nederlands</p>
      </a>
    </li>
    <li class="language-menu__item">
      <a @click.prevent='select("en")' href="#" class="language-menu__link">
        <en class='language-menu__icon'/>
        <p class="language-menu__text">English</p>
      </a>
    </li>
  </ul>
  </transition>
</div>
</template>
<script>
import nl from '@/components/common/icons/flags/Netherlands.vue';
import en from '@/components/common/icons/flags/UnitedKingdom.vue';
import IconArrowDown from '@/components/common/icons/IconArrowDown.vue';

export default {
  name: 'LanguageMenu',
  components: {
    nl,
    en,
    IconArrowDown,
  },
  data() {
    return {
      menu: false,
      currentIcon: 'nl',
    };
  },
  methods: {
    select(lang) {
      this.currentIcon = lang;
      this.$store.dispatch('language/setLang', { lang, vm: this });
      this.menu = false;
    },
  },
  mounted() {
    this.currentIcon = this.$store.state.i18n.locale;
  },
};
</script>
<style lang="scss">
.language-menu {
  position: relative;
  &__list {
    position: absolute;
    z-index: 11;
    top: 140%;
    right: 0;
    list-style: none;
    background-color: $N0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    width: 180px;
    padding: 20px;
  }
  &__button {
    @include flex-row(flex-start, center);
  }
  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
  &__arrow {
    transition-property: transform, rotate;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    width: 12px;
    height: 12px;
    fill: $B5;
  }
  &__item {
    margin-bottom: 16px;
    &:last-child {
      margin: 0;
    }
  }
  &__link {
    @include flex-row(flex-start, center);
  }
  &__text {
    color: $N55;
    font-size: $H400;
    font-weight: 500;
  }
}
</style>
