<template>
  <div class="profile-menu">
    <a
      @click.prevent='menu = !menu'
      href="#"
      class="profile-menu__button">
      <img
        :src="personal.avatar"
        alt="avatar"
        class="profile-menu__image"
        v-if='personal.avatar'>
    </a>
    <transition
      name="custom-classes-transition"
      enter-active-class="animated dur02 fadeIn"
      leave-active-class="animated dur02 fadeOut"
      mode="out-in">
    <div class="profile-menu__drop" v-if='menu'>
      <div class="profile-menu__layer" @click.self='menu = false'></div>
      <div class="profile-menu__header">
        <div class="profile-menu__image-wrapper">
          <img
            :src="personal.avatar"
            alt="avatar"
            class="profile-menu__image"
            v-if='personal.avatar'>
        </div>
        <div class="profile-menu__name-wrapper">
          <p class="profile-menu__name">{{ `${personal.name} ${personal.surname?personal.surname:""}` }}</p>
          <p class="profile-menu__email">{{ personal.email }}</p>
        </div>
      </div>
      <ul class="profile-menu__list">
        <li class="profile-menu__item">
          <n-link @click.native='close' to='/admin/profile' class="profile-menu__link">
            <p class="profile-menu__link-text">{{ $t('navigation.profile') }}</p>
          </n-link>
        </li>
        <li class="profile-menu__item">
          <n-link @click.native='close' to='/admin' class="profile-menu__link">
            <p class="profile-menu__link-text">{{ $t('navigation.admin') }}</p>
          </n-link>
        </li>
      </ul>
      <div class="profile-menu__footer">
        <a @click.stop.prevent='logout' href="#" class="profile-menu__link">
          <p class="profile-menu__link-text">{{ $t('navigation.logout') }}</p>
        </a>
      </div>
    </div>
    </transition>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex';

export default {
  name: 'ProfileMenu',
  data() {
    return {
      menu: false,
    };
  },
  computed: {
    ...mapState('profileAdmin', [
      'personal',
    ]),
  },
  methods: {
    ...mapActions('auth', [
      'AUTH_LOGOUT',
    ]),
    logout() {
      this.AUTH_LOGOUT({ vm: this }).then(() => {
        this.$router.push('/auth');
      })
    },
    close() {
      this.menu = false;
    },
  },
};
</script>
<style lang="scss">
.profile-menu {
  position: relative;
  &__drop {
    position: absolute;
    z-index: 11;
    top: 100%;
  }
  &__layer {
    @include layer(80vw);
  }
  &__button {
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    overflow: hidden;
    display: block;
  }
  &__image {
    widows: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }
  &__drop {
    width: 310px;
    right: 0;
    top: 100%;
    background-color: $N0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  }
  &__header {
    padding: 20px 14px;
    @include flex-row(flex-start, center);
  }
  &__image-wrapper {
    height: 80px;
    width: 80px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: gray;
    margin-right: 16px;
  }
  &__list {
    list-style: none;
    border-top: 1px solid $N666;
    border-bottom: 1px solid $N666;
    padding: 20px;
  }
  &__item {
    margin-bottom: 20px;
    &:last-child {
      margin: 0;
    }
  }
  &__link {
    @include flex-row(flex-start, center);
  }
  &__link-icon {
    fill: $B5;
    width: 22px;
    height: 22px;
    margin-right: 16px;
  }
  &__link-text {
    font-size: $H400;
    font-weight: 500;
    color: $N55;
  }
  &__name {
    font-size: $H600;
    color: $N18;
    font-weight: 500;
    margin-bottom: 8px;
  }
  &__email {
    font-size: $H200;
    font-weight: 500;
    color: $N155;
  }
  &__footer {
    padding: 20px;
  }
}
</style>
