<template>
<label class="search">
  <input
    type="text"
    autocomlete='autocomplete_off_hack_xfr4!k'
    class="search__input">
  <icon-search class='search__icon'/>
</label>
</template>
<script>
import IconSearch from '@/components/common/icons/IconSearch.vue';

export default {
  name: 'Search',
  components: {
    IconSearch,
  },
};
</script>
