<template>
<div class="agency-edit__wrapper">
  <transition
    name="custom-classes-transition"
    enter-active-class="animated dur02 fadeIn"
    leave-active-class="animated dur03 fadeOut"
    mode="out-in">
  <div class="modal crop-box" v-if='cropModal'>
    <div class="modal-background"></div>
    <div
      class="modal-content crop-box__content"
      :class='{"agency-edit__crop": imageType === "avatar"}'>
      <vue-cropper
        ref='cropper'
        :guides="true"
        drag-mode="crop"
        :aspectRatio='imageType === "avatar"?1 / 1:3 / 1'
        :viewMode='0'
        :rotatable="true"
        :background="false"
        :src="previewImage"
        alt="Source Image"
        :img-style="{ 'width': '600px', 'height': '450px' }">
      </vue-cropper>
      <span class="tag is-info crop-box__info">Toggle drag mode between "crop" and "move" when click twice on the cropper</span>
      <div class="crop-box__buttons-wrapper">
        <button
          class="button is-link crop-box__button"
          @click="loadCrop"
          :class='{"is-loading": loading.crop}'>
          <span class="icon is-small">
            <i class="fas fa-crop"></i>
          </span>
          <span>Crop</span>
        </button>
        <a
          class="button crop-box__button"
          @click="rotate">
          <span class="icon is-small">
            <i class="fas fa-sync-alt"></i>
          </span>
          <span>Rotate</span>
        </a>
        <div class="field has-addons">
          <p class="control">
            <a
              class="button"
              @click.prevent='zoomOut'>
              <span class="icon is-small">
                <i class="fas fa-search-minus"></i>
              </span>
              <span>Zoom out</span>
            </a>
          </p>
          <p class="control">
            <a
              class="button"
              @click.prevent='zoomIn'>
              <span class="icon is-small">
                <i class="fas fa-search-plus"></i>
              </span>
              <span>Zoom In</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      @click='cropModal = false'></button>
  </div>
  </transition>
  <div class='agency-edit'>
    <div
      class="animated dur04 bounceIn is-small notification is-success agency-edit__notification"
      v-if='isSuccess'
      key='success'>
      <button @click='isSuccess = false' class="delete"></button>
      {{ $t('account.messages.save') }}
    </div>
    <div
      class="animated dur04 bounceIn is-small notification is-warning agency-edit__notification"
      v-if='isError'
      key='error'>
      <button @click='isError = false' class="delete"></button>
      {{ $t('account.messages.error_save') }}
    </div>
    <div class="agency-edit__card agency-edit__card--large">
      <h3 class="agency-edit__title">{{ $t('account.text.personal') }}</h3>
      <div class="agency-edit__row agency-edit__row--head">
        <label class="agency-edit__image-wrapper">
          <img
            :src="preview.avatar"
            alt="logo"
            class="agency-edit__image-round"
            v-if='preview.avatar'>
          <input
            type="file"
            class='upload__input'
            id="fileElemAvatar"
            ref="inputAvatar"
            @change="setImage($event, 'avatar')"
            accept="image/*"/>
          <edit-button
            @click.native.prevent="editCurrentImageBlob(backup.avatar, 'avatar')"
            :disabled='!backup.avatar'
            class="agency-edit__round-button"/>
        </label>
        <div class="agency-edit__col agency-edit__col--personal">
          <p class="agency-edit__input-name">{{ $t('account.text.email') }} 
            <span class="agency-edit__label-required">({{ $t('account.text.required') }})</span>
          </p>
          <div class="agency-edit__input-wrapper">
            <input
              ref='email'
              type="email"
              required
              autocomlete='autocomplete_off_hack_xfr4!k'
              class="agency-edit__input-transparent agency-edit__input-transparent--no-padding"
              :class="{'agency-edit__input-transparent--error': !readyEmail && user.email,
                      'agency-edit__input-transparent--success': readyEmail}"
              v-model='user.email'
              :placeholder="$t('account.text.email')">
          </div>
          <p class="agency-edit__input-name">{{ $t('account.text.password') }} 
            <span class="agency-edit__label-required">({{ $t('account.text.required') }})</span>
          </p>
          <div class="agency-edit__input-wrapper">
            <input
              autocomlete='autocomplete_off_hack_xfr4!k'
              ref='password'
              required
              type="password"
              class="agency-edit__input-transparent agency-edit__input-transparent--no-padding"
              :class="{'agency-edit__input-transparent--error': !readyPassword && user.password,
                      'agency-edit__input-transparent--success': readyPassword}"
              v-model='user.password'
              placeholder="**************">
          </div>
        </div>
      </div>
      <div class="agency-edit__row">
        <label class="agency-edit__label-box">
          <p class="agency-edit__label">{{ $t('account.text.name_first') }}
            <span class="agency-edit__label-required">({{ $t('account.text.required') }})</span>
          </p>
          <input
            type="text"
            required
            autocomlete='autocomplete_off_hack_xfr4!k'
            class="agency-edit__input"
            v-model='user.name'>
        </label>
        <label class="agency-edit__label-box">
          <p class="agency-edit__label">{{ $t('account.text.name_last') }} 
            <span class="agency-edit__label-required">({{ $t('account.text.required') }})</span>
          </p>
          <input
            type="text"
            class="agency-edit__input"
            autocomlete='autocomplete_off_hack_xfr4!k'
            required
            v-model='user.surname'>
        </label>
      </div>
    </div>
    <div class="agency-edit__card agency-edit__card--small">
      <div class="upload agency-edit__upload-logo-wrapper agency-edit__upload-logo-wrapper--margin">
        <div class='upload__area'>
          <p class="agency-edit__label">{{ $t('account.text.logo') }}</p>
          <form
            class="my-form upload__form"
            :class='{"upload__form--highlight": uploadLogo.highlight}'
            @dragenter.prevent.stop="uploadLogo.highlight = true"
            @dragover.prevent.stop="uploadLogo.highlight = true"
            @dragleave.prevent.stop="uploadLogo.highlight = false"
            ref="dragLogo"
            @drop.prevent="handleDropLogo">
            <p class="upload__text" v-html='$t("account.text.drop")'></p>
            <label class="upload__button" for="fileElemLogo">
              {{ $t('account.buttons.drop') }}
            </label>
            <input
              type="file"
              class='upload__input'
              id="fileElemLogo"
              ref="inputLogo"
              @change="setImage($event, 'logo')"
              accept="image/*"/>
            <label
              for="fileElemLogo"
              class="upload__plus-wrapper"
              :class='{"spin": loading.logo}'>
              <icon-plus class="upload__plus"/>
            </label>
            <img
              :src="preview.logo"
              alt="logo"
              v-if='preview.logo'
              class="upload__form-image">
          </form>
        </div>
      </div>
    </div>
    <h3 class="agency-edit__title">{{ $t('account.text.company') }}</h3>
    <div class="agency-edit__card agency-edit__card--large">
      <h3 class="agency-edit__title">{{ $t('account.text.data') }}</h3>
      <div class="agency-edit__row agency-edit__row--margin">
        <label class="agency-edit__label-box">
          <p class="agency-edit__label">{{ $t('account.text.company_name') }} 
            <span class="agency-edit__label-required">({{ $t('account.text.required') }})</span>
          </p>
          <input
            type="text"
            autocomlete='autocomplete_off_hack_xfr4!k'
            required
            class="agency-edit__input"
            v-model='company.c_name'>
        </label>
        <label class="agency-edit__label-box">
          <p class="agency-edit__label">{{ $t('account.text.company_off_name') }} 
            <span class="agency-edit__label-required">({{ $t('account.text.required') }})</span>
          </p>
          <input
            autocomlete='autocomplete_off_hack_xfr4!k'
            type="text"
            required
            class="agency-edit__input"
            v-model='company.official_c_name'>
        </label>
      </div>
      <div class="agency-edit__row agency-edit__row--head">
        <label class="agency-edit__label-box">
          <p class="agency-edit__label">{{ $t('account.text.chamber') }} 
            <span class="agency-edit__label-required">({{ $t('account.text.required') }})</span>
          </p>
          <input
            autocomlete='autocomplete_off_hack_xfr4!k'
            type="text"
            required
            class="agency-edit__input"
            v-model='company.сhamber_of_commerce'>
        </label>
        <label class="agency-edit__label-box">
          <p class="agency-edit__label">{{ $t('account.text.vat') }} 
            <span class="agency-edit__label-required">({{ $t('account.text.required') }})</span>
          </p>
          <input
            autocomlete='autocomplete_off_hack_xfr4!k'
            type="text"
            required
            class="agency-edit__input"
            v-model='company.VAT'>
        </label>
      </div>
      <div class="upload agency-edit__upload-wrapper">
        <transition-group name="list-complete" tag="div">
        <div
          class="upload__item "
          v-for='(file, index) in uploadDocs.files'
          :key='`f${index}`'>
          <a
            :href='file.filename?file.filename:"#"'
            class="upload__badge"
            target='_blank'
            download>
            <span class="upload__badge-text">{{ file.format }}</span>
          </a>
          <a
            :href='file.filename?file.filename:"#"'
            class="upload__progress-wrapper"
            target='_blank'
            download>
            <p
              class="upload__item-text"
              :class='{"upload__item-text--load": uploadDocs.progress[index] !== 100}'
              >{{ file.name?file.name:file.original_filename }}
            </p>
            <progress
              class="progress upload__progress"
              max="100"
              :value="uploadDocs.progress[index]"
              v-if='uploadDocs.progress[index] < 100'>
            </progress>
          </a>
          <icon-trash
            class='upload__icon-remove'
            v-if='uploadDocs.progress[index] === 100'
            @click.native='removeDoc'/>
        </div>
        </transition-group>
        <div class='upload__area'>
          <p class="agency-edit__label">{{ $t('account.text.doc') }}</p>
          <form
            class="my-form upload__form"
            :class='{"upload__form--highlight": uploadDocs.highlight}'
            @dragenter.prevent.stop="uploadDocs.highlight = true"
            @dragover.prevent.stop="uploadDocs.highlight = true"
            @dragleave.prevent.stop="uploadDocs.highlight = false"
            ref="drag"
            @drop.prevent="handleDropFiles">
            <p class="upload__text" v-html='$t("account.text.drop")'></p>
            <label class="upload__button" for="fileElem">
              {{ $t('account.buttons.drop') }}
            </label>
            <input
              type="file"
              class='upload__input'
              id="fileElem"
              ref="input"
              @change="handleFiles"
              multiple
              accept=".pdf, .doc, .jpg">
              <label
                for="fileElem"
                class="upload__plus-wrapper">
                <icon-plus class="upload__plus"/>
              </label>
          </form>
        </div>
      </div>
      <label class="agency-edit__label-box
        agency-edit__label-box--margin
        agency-edit__label-box--fluid">
        <p class="agency-edit__label">{{ $t('account.text.address') }}</p>
        <client-only>
          <gmap-autocomplete
            class="agency-edit__input"
            aria-autocomplete="off"
            autocomlete='autocomplete_off_hack_xfr4!k'
            :placeholder='`${company.address?company.address:""}`'
            @place_changed="setPlace">
          </gmap-autocomplete>
        </client-only>
      </label>
      <div class="agency-edit__map-wrapper">
        <client-only>
          <GmapMap
            :center="{lat: company.latitude?Number(company.latitude):52.181762,
                      lng: company.longitude?Number(company.longitude):5.709394}"
            :zoom="14"
            map-type-id="terrain"
            class="agency-edit__map"
          >
          <GmapMarker
            v-if='company.latitude && company.longitude'
            :position="{
                  lat: Number(company.latitude),
                  lng: Number(company.longitude)
                }"
            :clickable="true"
            :draggable="false"
            :icon="{ url: require('@/assets/images/marker.png')}"
          />
          </GmapMap>
        </client-only>
      </div>
      <div class="agency-edit__col agency-edit__col--1-2">
        <div class="agency-edit__label-box agency-edit__label-box--fluid">
          <p class="agency-edit__label">{{ $t('account.text.phone') }}</p>
          <input-phones
            class='agency-edit__input-phone-wrapper'
            @removePhone='removePhone'
            @close='closePhoneDrop'
            @toggleFavoritePhone='toggleFavoritePhone'
            :phones='phones'
            @input='([v, idx]) => phones[idx].phone = v'/>
          <subtle-icon @click.native='addPhone'>
            <icon-plus/>
            <span>{{ $t('account.buttons.phone') }}</span>
          </subtle-icon>
        </div>
      </div>
      <div class="agency-edit__col agency-edit__col--1-2">
        <div class="agency-edit__label-box agency-edit__label-box--fluid">
          <p class="agency-edit__label">{{ $t('account.text.email') }}</p>
          <transition-group name="list-complete" tag="div">
          <div
            class="agency-edit__row
              list-complete-item
              agency-edit__row--input-email"
            v-for="(item, index) in emails"
            :key='`n${index}`'>
            <div class="agency-edit__input-wrapper agency-edit__input-wrapper--fake">
              <input
                autocomlete='autocomplete_off_hack_xfr4!k'
                type="email"
                v-model='item.email'
                class="agency-edit__input-transparent">
              <div class="agency-edit__icon-check-wrapper" v-if='!!item.check'>
                <icon-check class='agency-edit__icon-check'/>
              </div>
              <icon-star
                class='agency-edit__icon-star'
                :class='{"agency-edit__icon-star--active": !!item.favorite}'
                @click.native='toggleFavoriteEmail(index)'/>
            </div>
            <close-button class="agency-edit__remove-button" @click.native='removeEmail(index)'/>
          </div>
          </transition-group>
          <subtle-icon @click.native='addEmail'>
            <icon-plus/>
            <span>{{ $t('account.buttons.email') }}</span>
          </subtle-icon>
        </div>
      </div>
      <label class="agency-edit__label-box agency-edit__label-box--fluid">
        <p class="agency-edit__label">{{ $t('account.text.site') }}</p>
        <input
          autocomlete='autocomplete_off_hack_xfr4!k'
          type="text"
          class="agency-edit__input"
          v-model='company.website'>
      </label>
    </div>
    <div class="agency-edit__card-col">
      <div class="agency-edit__card
        agency-edit__card--small
        agency-edit__card--flex
        agency-edit__card--margin-less">
        <p class="agency-edit__title">{{ $t('account.text.social') }}</p>
        <p class="agency-edit__label">{{ $t('account.text.soc_profile') }}</p>
        <account-input-social :socials='socials' @removeSocial='removeSocial'/>
        <subtle-icon @click.native='addSocial'>
          <icon-plus/>
          <span>{{ $t('account.buttons.social') }}</span>
        </subtle-icon>
      </div>
      <div class="agency-edit__card
        agency-edit__card--small
        agency-edit__card--flex">
        <p class="agency-edit__title">{{ $t('account.text.lang') }}</p>
        <transition-group name="list-complete" tag="div">
          <div
            class="agency-edit__lang-item list-complete-item"
            v-for='lang in languages'
            :key='lang.name'>
            <label
              class="agency-edit__checkbox-label">
              <input
                type="checkbox"
                name="languages"
                autocomlete='autocomplete_off_hack_xfr4!k'
                class="agency-edit__checkbox-input"
                v-model='lang.status'>
              <div class="agency-edit__checkbox-cell">
                <icon-check class='agency-edit__checkbox-icon'/>
              </div>
              <p class="agency-edit__checkbox-text">{{ lang.name }}</p>
            </label>
            <subtle @click.native='removeLang(lang.code)'>Delete</subtle>
          </div>
        </transition-group>
        <all-languages :list='languages' @addLanguage='addLanguage'/>
      </div>
      <div class="agency-edit__buttons-wrapper">
        <a
          class="button agency-edit__button is-fullwidth"
          @click.prevent='cancel'>Cancel</a>
        <button
          class="button is-success is-fullwidth"
          :class='{"is-loading": loading.save}'
          :disabled='!allReady'
          @click.prevent='save'>Save
        </button>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import Subtle from '@/components/common/buttons/Subtle.vue';
import SubtleIcon from '@/components/common/buttons/SubtleIcon.vue';
import InputPhones from '@/components/common/components/InputPhones.vue';
import AccountInputSocial from '@/components/admin/addCompany/components/AccountInputSocial.vue';
import AllLanguages from '@/components/common/components/AllLanguages.vue';
import IconTrash from '@/components/common/icons/IconTrash.vue';
import IconPlus from '@/components/common/icons/IconPlus.vue';
import IconCheck from '@/components/common/icons/IconCheck.vue';
import CloseButton from '@/components/common/buttons/CloseButton.vue';
import http from 'axios';
import IconStar from '@/components/common/icons/IconStar.vue';
import Validation from '@/assets/js/validation';
import IconPencil from '@/components/common/icons/IconPencil.vue';
import crop from '@/mixins/doubleCrop';
import { mapActions } from 'vuex';
import { api } from '@/api/admin';

export default {
  name: 'AdminAddAgency',
  mixins: [crop],
  components: {
    Subtle,
    SubtleIcon,
    InputPhones,
    IconTrash,
    IconPlus,
    IconCheck,
    CloseButton,
    AccountInputSocial,
    AllLanguages,
    IconStar,
    IconPencil,
  },
  data() {
    return {
      disabled: {
        email: true,
        password: true,
      },
      uploadDocs: {
        files: [],
        highlight: false,
        progress: [],
      },
      uploadLogo: {
        file: '',
        highlight: false,
        progress: 0,
      },
      isSuccess: false,
      isError: false,
      company: {
        c_name: '',
        official_c_name: '',
        сhamber_of_commerce: '',
        website: '',
        address: '',
        VAT: '',
        latitude: '',
        longitude: '',
      },
      user: {
        name: '',
        surname: '',
        email: '',
        password: '',
      },
      phones: [],
      emails: [],
      languages: [],
      socials: [],
      file: '',
      avatar: '',
      logo: '',
      preview: {
        avatar: '',
        logo: '',
      },
    };
  },
  methods: {
    ...mapActions('dataAdmin', [
      'getCompanies',
    ]),
    cancel() {
      this.$emit('close');
    },
    closePhoneDrop(payload) {
      const idx = this.phones.findIndex(({ id }) => payload === id);
      this.phones[idx].drop = false;
    },
    save() {
      this.loading.save = true;
      const formData = new FormData();
      formData.append('user', JSON.stringify(this.user));
      formData.append('company', JSON.stringify(this.company));
      formData.append('emails', JSON.stringify(this.emails));
      formData.append('languages', JSON.stringify(this.languages));
      formData.append('socials', JSON.stringify(this.socials));
      formData.append('phones', JSON.stringify(this.phones));
      formData.append('avatar', this.avatar);
      formData.append('logo', this.logo);
      formData.append('file', this.file);
      const data = {
        user: JSON.stringify(this.user),
        company: JSON.stringify(this.company),
        emails: JSON.stringify(this.emails),
        languages: JSON.stringify(this.languages),
        socials: JSON.stringify(this.socials),
        phones: JSON.stringify(this.phones),
        avatar: this.avatar,
        logo: this.logo,
        file: this.file,
      }
      http.post(api.addCompany, formData).then((resp) => {
        if (resp.status === 200) {
          this.saveSuccess();
          this.getCompanies();
          this.cancel();
        } else {
          this.saveError();
        }
      }).catch((error) => {
        this.saveError();
      }); 
    },
    loadCrop() {
      this.loading.crop = true;
      setTimeout(() => {this.cropMyImage()}, 20);
    },
    cropMyImage: async function() {
      const type = this.imageType;
      const URL = this.$refs.cropper.getCroppedCanvas().toDataURL();
      this.preview[type] = URL;
      const file = await this.dataURItoBlobAsync(URL);
      this[type] = file;
      this.loading.crop = false;
      this.cropModal = false;
      this.previewImage = '';
    },
    async setPlace(place) {
      if (place.geometry) {
        // const address = await this.$store.dispatch('gears/formatPlace', place.address_components);
        // this.company.address = address;
        this.company.address = place.formatted_address;
        this.company.latitude = place.geometry.location.lat();
        this.company.longitude = place.geometry.location.lng();
      } else {
        this.company.address = place;
      }
    },
    saveError() {
      this.loading.save = false;
      this.$message.error(this.$t('messages.error_save'));
      // this.showError();
    },
    saveSuccess() {
      this.loading.save = false;
      this.$message.success(this.$t('messages.save'));
      // this.showSuccess();
    },
    showError() {
      if (this.isError) {
        this.isError = false;
        setTimeout(() => {
          this.isError = true;
          setTimeout(() => {
            this.isError = false;
          }, 3000);
        }, 20);
      } else {
        this.isError = true;
        setTimeout(() => {
          this.isError = false;
        }, 3000);
      }
    },
    showSuccess() {
      if (this.isSuccess) {
        this.isSuccess = false;
        setTimeout(() => {
          this.isSuccess = true;
          setTimeout(() => {
            this.isSuccess = false;
          }, 3000);
        }, 20);
      } else {
        this.isSuccess = true;
        setTimeout(() => {
          this.isSuccess = false;
        }, 3000);
      }
    },
    toggleFavoriteEmail(id) {
      this.emails = this.emails.map((el, index) => {
        if (index === id) {
          el.favorite = !el.favorite; 
        } else {
          el.favorite = false; 
        }
        return el;
      });
    },
    toggleFavoritePhone(id) {
      this.phones = this.phones.map((el, index) => {
        if (el.id === id) {
          el.favorite = !el.favorite; 
        } else {
          el.favorite = false; 
        }
        return el;
      });
    },
    addEmail() {
      const data = {
        email: '',
        is_check: false,
        favorite: !this.emails.length,
      };
      this.emails.push(data);
    },
    addLanguage(lang) {
      const data = Object.assign({status: true}, lang);
      this.languages.push(data);
    },
    removeLang(state, code) {
      const idx = this.languages.findIndex(e => e.code === code);
      this.languages.splice(idx, 1);
    },
    addPhone() {
      const data = {
        phone: '',
        country: 'nl',
        is_check: false,
        favorite: !this.phones.length,
        drop: false,
      };
      this.phones.push(data);
    },
    addSocial() {
      const data = {
        type: 'facebook',
        username: '',
        drop: false,
      };
      this.socials.push(data);
    },
    removeEmail(index) {
      this.emails.splice(index, 1);
    },
    removePhone(index) {
      this.phones.splice(index, 1);
    },
    removeSocial(index) {
      this.socials.splice(index, 1);
    },
    removeLogo() {
      this.uploadLogo.file = '';
      this.uploadLogo.progress = 0;
      this.logo = '';
    },
    removeDoc() {
      this.file = '';
      this.uploadDocs.files = [];
      this.uploadDocs.progress = [];
    },
    handleDropFiles(e) {
      this.uploadDocs.highlight = false;
      this.formatDocs(e.dataTransfer.files[0]);
    },
    handleFiles() {
      this.uploadDocs.highlight = false;
      this.formatDocs(this.$refs.input.files[0]);
    },
    handleDropLogo(e) {
      this.imageType = 'logo';
      this.loading.logo = true;
      this.uploadLogo.highlight = false;
      const file = e.dataTransfer.files[0];
      if (!file.type.includes('image/')) {
        this.showError();
        return;
      }
      if (typeof FileReader === 'function') {
        const reader = new FileReader();
        reader.onload = (event) => {
          this.previewImage = event.target.result;
          this.cropModal = true;
          this.loading.logo = false;
        };
        reader.readAsDataURL(file);
      } else {
        this.showError();
        this.loading.logo = false;
      }
    },
    handleLogo() {
      this.uploadLogo.highlight = false;
      this.logo = this.$refs.inputLogo.files[0];
      const reader = new FileReader();
      reader.onload = e => this.preview.logo = e.target.result;
      reader.readAsDataURL(this.logo);
    },
    formatDocs(data) {
      this.uploadDocs.progress.push(100);
      const format = data.type.split('/').pop();
      const newFile = Object.assign(data, { format });
      this.uploadDocs.files.push(newFile);
      this.file = newFile;
    },
    loadAvatar(file) {
      this.avatar = file.target.files[0];
      const reader = new FileReader();
      reader.onload = e => this.preview.avatar = e.target.result;
      reader.readAsDataURL(this.avatar);
    },
  },
  computed: {
    allReady() {
      const ready = Object.values(this.user).every(item => !!item);
      return !!(this.readyEmail
        && this.readyPassword
        && ready
        && this.company.c_name
        && this.company.official_c_name
        && this.company.сhamber_of_commerce
        && this.company.VAT);
    },
    readyEmail() {
      return Validation.email(this.user.email);
    },
    readyPassword() {
      return this.user.password.length > 3;
    },
  },
};
</script>
<style lang="scss">
@import '~assets/scss/components/agency-edit';
</style>
