<template>
    <div class="object-details-card">
        <div class="object-details-card__head">
            <p class="object-details-card__head-text"
              >Wambla
            </p>
        </div>
        <div class="object-details-card__contacts-wrapper">
          <h2 class="object-details-card__title">{{ company.c_name }}</h2>
          <div class="object-details-card__wrapper">
              <i class="far fa-clock object-details-card__icon"></i>
              <p class="object-details-card__time">{{ $t('object.available-phone') }} {{ timeToCall }}</p>
          </div>
          <div class="object-details-card__wrapper">
            <a
            @click.prevent='telephone = true'
            href="#"
            class='object-details-card__tel-link'
            v-if='!telephone'>
              <i class="fas fa-phone object-details-card__icon"></i>
              <span>{{ $t('object.show_tel') }}</span>
            </a>
            <a
              :href="`tel:${getFavoritePhone}`"
              class='object-details-card__tel-link'
              v-else>
              <i class="fas fa-phone object-details-card__icon"></i>
              <span>{{ getFavoritePhone }}</span>
            </a>
          </div>
        </div>
        <div class="object-details-card__link-wrapper">
            <a href="#" class='button is-success object-details-card__mail-link'>{{ $t('object.contact_realtor') }}</a>
            <div class="object-details-card__wrapper">
                <a href="" class="object-details-card__download-link">
                    <i class="fas fa-file-download object-details-card__icon"></i>{{ $t('object.Download brochure') }}
                </a>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex';

export default {
  name: 'ObjectCard',
  data() {
      return {
          timeToCall: '21:30',
          telephone: false
      }
  },
  methods: {
    togglePhone(e) {
      if (!telephone) {
        e.preventDefault();
        this.telephone = true;
      }
    }
  },
  computed: {
    ...mapState('dataAgency', [
      'company'
    ]),
    ...mapGetters('dataAgency', [
      'getFavoritePhone',
    ])
  }
}
</script>
<style lang="scss">
    .object-details-card {
      border: 1px solid $G1;
      &__head {
        background-color: $G1;
        padding: 14px 24px;
      }
      &__head-text {
        @include text($H600, $N0, 400);
      }
      &__contacts-wrapper {
        background-color: $N6;
        padding: 32px 24px 16px;
      }
      &__wrapper {
        @include flex-row(flex-start, center);
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &__link-wrapper {
        padding: 16px 24px;
        @include flex-col(flex-start, stretch);
      }
      &__icon {
        font-size: 20px;
        color: $G5;
        margin-right: 8px;
        transition: color .2s ease;
      }
      &__title {
        @include text($H920, $G5, 600);
        margin-bottom: 12px;
      }
      &__time {
        @include text($H600, $N11, 400);
      }
      &__tel-link {
        color: $G5;
        &:hover {
          color: lighten($G5, 5%);
        }
      }
      &__mail-link {
        margin-bottom: 12px;
      }
      &__download-link {
        color: $G5;
        transition: color .2s ease;
        &:hover {
          color: lighten($G5, 5%);
          &>* {
            color: lighten($G5, 5%);
          }
        }
      }
    }
</style>
