<template>
  <div class="object-details-photo-slider" :class="{'fullscreen': fullscreen}">
    <a-icon
      @click.native='closeFullscreen'
      v-if='fullscreen'
      type="shrink"
      class="object-details-photo-slider__icon object-details-photo-slider__icon--alt"/>
    <a-icon
      @click.native='openFullscreen'
      v-else
      type="arrows-alt"
      class="object-details-photo-slider__icon object-details-photo-slider__icon--alt"/>
    <icon-close class="object-details-photo-slider__icon" @click.prevent.native='$emit("close")'/>
    <div class="object-details-photo-slider__wrapper">
      <client-only>
        <vue-glide :per-view='1' v-model="active" v-if='photos.length'>
          <vue-glide-slide
            v-for='(photo, index) in photos'
            :key='`${photo.id}${index}`'>
            <img :src="photo.url" class="object-details-photo-slider__image"/>
          </vue-glide-slide>
          <template slot="control">
            <button class="object-details-photo-slider__arrow-button" data-glide-dir="<"><i class="fas fa-arrow-left"></i></button>
            <button class="object-details-photo-slider__arrow-button" data-glide-dir=">"><i class="fas fa-arrow-right"></i></button>
          </template>
        </vue-glide>
      </client-only>
      <img :src="photo" class="object-details-photo-slider__image" v-if='!photos.length'/>
    </div>
    <div v-if='photos.length' class='object-details-photo-slider__stat object-details-photo-slider__stat--counter'>
       <span>{{ active + 1 }} / {{ photos.length }}</span>
    </div>
      <div class='object-details-photo-slider__stat object-details-photo-slider__stat--button'>
       <a href="#" class="object-details-photo-slider__link" @click.prevent='$emit("allmedia")'>
        <icon-layout/>
        {{ $t('object.media') }}
      </a>
    </div>
  </div>
</template>
<script>
import IconClose from '@/components/common/icons/IconClose.vue';
import { mapState } from 'vuex'
import fullscreenMixin from '@/mixins/fullscreen';
import IconLayout from '@/components/common/icons/IconLayout.vue';

export default {
  name: 'ObjectPhotoPopup',
  mixins: [fullscreenMixin],
  props: {
    startat: {
      type: Number,
      default: 0,
      required: true,
    }
  },
  components: {
    IconClose,
    IconLayout,
  },
  data() {
    return {
      active: 1,
      rerendered: false,
    }
  },
  computed: {
    ...mapState('dataAgency', {
      photos: state => state.objectDetails.images,
      photo: state => state.objectDetails.image,
    })
  },
  mounted() {
    this.active = this.startat;
  },
}
</script>
<style lang="scss">
$styles: object-details-photo-slider;
.#{$styles} {
  background: $N0;
  padding: 100px 62px 12px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  // overflow-y: hidden;
  // @include flex-row(stretch, stretch);
  &__title {
    margin-bottom: 32px;
   &>*{
     color: $N13;
   }
  }
  &.fullscreen {
    padding: 100px 0 12px;
    .#{$styles}__arrow-button {
      &:first-child {
        left: 6px;
      }
      &:last-child {
        right: 6px;
      }
  }
  }
  &__link {
    @include flex-row(flex-start, center);
    color: $G3;
    transition: color .2s ease;
    &:hover {
      color: lighten($G3, 10%);
      svg {
        fill: lighten($G3, 10%);
      }
    }
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
    svg {
      $size: 24px;
      width: $size;
      height: $size;
      fill: $G3;
      margin-right: 8px;
      transition: fill .2s ease;
    }
    span {
      margin-left: 8px;
      align-self: flex-end;
      @include text($H400, $N13, 500);
    }
  }
  &__icon {
    $size: 24px;
    width: $size;
    height: $size;
    fill: $N13;
    color: $N13;
    position: absolute;
    top: 12px;
    transform: translateY(25%);
    right: 18px;
    cursor: pointer;
    &--alt {
      top: 6px;
      right: 80px;
      font-size: 36px;
    }
  }
  &__grid {
    @include flex-row(flex-start, stretch);
    flex-wrap: wrap;
  }
  &__image-wrapper {
    flex-basis: calc(33.3% - 16px);
    margin-right: 16px;
    margin-bottom: 16px;
    overflow: hidden;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  &__image {
    width: 100%;
    height: calc(100vh - 150px);
    object-fit: contain;
    text-align: center;
  }
  &__wrapper {
    width: 100%;
    max-height: 100%;
    padding-bottom: 50px;
  }
  &__arrow-button {
    position: absolute;
    background-color: $N0;
    padding: 4px 12px;
    top: 35%;
    z-index: 12;
    font-size: 24px;
    &:first-child {
      left: -52px;
    }
    &:last-child {
      right: -52px;
    }
  }
  &__stat {
    position: fixed;
    bottom: 0;
    min-width: 70px;
    height: 50px;
    padding: 0 16px;
    background-color: $N0;
    @include text($H600, $N19, 400);
    @include flex-row(center, center);
    &--counter {
      left: 0;
    }
    &--button {
      right: 0;
    }
  }
}
</style>

