<template>
  <div class="object-details-header">
    <div class='object-details-header__col'>
      <h2 class="object-details-header__title">
        {{ objectDetails.street_address }}
      </h2>
      <p class="object-details-header__subtitle">
        {{ region }}
      </p>
      <div class="object-details-header__row">
        <div class="object-details-header__price-wrapper">
          <p class="object-details-header__price">€ {{ formatedPrice(objectDetails.price) }},- {{objectDetails.condition.split('').join('.')}}.</p>
        </div>
      </div>
    </div>
    <div class="object-details-header__social-wrapper">
      <div class="object-details-header__like">
        <a href="#" class="object-details-header__like-link">
         <a-icon type="heart" class='object-details-header__like-icon'/>
        </a>
      </div>
      <div class="object-details-header__col-dropdown">
        <object-details-social-dropdown/>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex';
import numeral from 'numeral-es6';
import ObjectDetailsSocialDropdown from '@/components/objects/components/ObjectDetailsSocialDropdown.vue';

export default {
  name: 'ObjectDetailsHeader',
  components: {
    ObjectDetailsSocialDropdown,
  },
  data() {
    return {
      shareVisible: false,
    }
  },
  computed: {
    ...mapState('dataAgency', [
      'objectDetails',
    ]),
    region() {
      const { address } = this.objectDetails;
      const region = address.split(', ').slice(1).join(', ');
      return region;
    },
  },
  methods: {
    formatedPrice(price) {
      const oldPrice = price;
      const newPrice = numeral(oldPrice).format('0,0');
      return newPrice.split(',').join('.');
    },
  }
}
</script>
<style lang="scss">
.object-details-header {
  width: 100%;
  padding: 40px 44px 16px;
  @include flex-row(space-between, flex-end);
  &__share-list {
    i {
    font-size: 12px;
  }
  }
  &__title {
    @include text(36px, #333333, 600);
    margin-bottom: 8px;
  }
  &__subtitle {
    @include text($H600, #999999, 400);
    margin-bottom: 8px;
  }
  &__row {
    @include flex-row(space-between, center);
  }
  &__price-wrapper {
    @include flex-row(space-between, center);
  }
  &__price {
    @include text($H920, #333333, 600);
    margin-right: 16px;
  }
  &__link {
    color: $G5;
    @include flex-row(space-between, center);
    svg {
      $size: 16px;
      width: $size;
      height: $size;
      fill: $G5;
      margin-right: 8px;
    }
    &:hover {
      color: lighten($G5, 10%);
    }
  }
  &__social-wrapper {
    @include flex-row(center, stretch);
  }
  &__like {
    border: 1px solid $G5;
    margin-right: 8px;
    &>a {
    display: block;
    padding: 8px 10px;
    }
  }
  &__like-icon {
    font-size: 24px;
    color: $G5;
  }
  &__like-link {
    font-size: 0;
  }
  &__col-dropdown {
    border: 1px solid $G5;
    @include flex-col(center, center);
  }
  
}
</style>

