<template>
  <div class="object-details-bar">
    <div class="object-details-bar__link-wrapper">
      <a
        href="#"
        class="object-details-bar__link"
        @click.prevent="$emit('onSlider')"
      >
        <icon-photos />
        {{ $t("object.photos") }}
        <span>{{ count }}</span>
      </a>
      <a href="#" @click.prevent class="object-details-bar__link">
        <icon-area-flat />
        {{ $t("object.plattegrond") }}
      </a>
      <a href="#" v-scroll-to="'#map'" class="object-details-bar__link">
        <icon-location />
        {{ $t("object.map") }}
      </a>
    </div>
    <div class="object-details-bar__link-wrapper">
      <a
        href="#"
        class="object-details-bar__link"
        @click.prevent="$emit('open')"
      >
        <icon-layout />
        {{ $t("object.media") }}
      </a>
    </div>
  </div>
</template>
<script>
import IconAreaFlat from "@/components/common/icons/IconAreaFlat.vue";
import IconPhotos from "@/components/common/icons/IconPhotos.vue";
import IconLayout from "@/components/common/icons/IconLayout.vue";
import IconLocation from "@/components/common/icons/IconLocation.vue";

export default {
  components: {
    IconAreaFlat,
    IconPhotos,
    IconLayout,
    IconLocation
  },
  computed: {
    count() {
      const {
        images = [],
        image = ""
      } = this.$store.state.dataAgency.objectDetails;
      return images.length || image ? 1 : 0;
    }
  }
};
</script>
<style lang="scss">
.object-details-bar {
  padding: 16px 0;
  width: 100%;
  border-bottom: 2px solid $G3;
  margin-bottom: 32px;
  @include flex-row(space-between, center);
  &__link-wrapper {
    @include flex-row(flex-start, center);
  }
  &__link {
    @include flex-row(flex-start, center);
    color: $G3;
    transition: color 0.2s ease;
    &:hover {
      color: lighten($G3, 10%);
      svg {
        fill: lighten($G3, 10%);
      }
    }
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
    svg {
      $size: 24px;
      width: $size;
      height: $size;
      fill: $G3;
      margin-right: 8px;
      transition: fill 0.2s ease;
    }
    span {
      margin-left: 8px;
      align-self: flex-end;
      @include text($H400, $N13, 500);
    }
  }
}
</style>
