<template>
  <div class="object-details-footer">
    <div class="object-details-footer__inner">
      <div class="object-details-footer__inner-col">
        <div class="object-details-footer__wrapper">
          <h4 class="object-details-footer__title">{{ lang === 'nl'?'English':'Nederlands' }}</h4>
          <a href="#" class="object-details-footer__link"
            @click.prevent='changeLang'
            >{{ lang === 'nl'?'Wambla in English':'Wambla in Nederlands' }}</a>
        </div>
        <div class="object-details-footer__wrapper">
          <h4 class="object-details-footer__title">{{ $t('object.estateagents') }}</h4>
          <a href="#" class="object-details-footer__link">{{ $t('object.desk') }}</a>
          <a href="#" class="object-details-footer__link">{{ $t('object.info') }}</a>
        </div>
      </div>
      <div class="object-details-footer__inner-col">
        <h4 class="object-details-footer__title">{{ $t('object.service') }}</h4>
        <a href="#" class="object-details-footer__link">{{ $t('object.login') }}</a>
        <a href="#" class="object-details-footer__link">{{ $t('object.help') }}</a>
        <a href="#" class="object-details-footer__link">{{ $t('object.contact') }}</a>
      </div>
      <div class="object-details-footer__inner-col">
        <h4 class="object-details-footer__title">{{ $t('object.house') }}</h4>
        <a href="#" class="object-details-footer__link">{{ $t('object.place') }}</a>
        <a href="#" class="object-details-footer__link">{{ $t('object.find') }}</a>
        <a href="#" class="object-details-footer__link">{{ $t('object.leaves') }}</a>
        <a href="#" class="object-details-footer__link">{{ $t('object.how_buy') }}</a>
        <a href="#" class="object-details-footer__link">{{ $t('object.mortgage') }}</a>
      </div>
      <div class="object-details-footer__inner-col">
        <h4 class="object-details-footer__title">Wambla</h4>
        <a href="#" class="object-details-footer__link">{{ $t('object.over') }}</a>
        <a href="#" class="object-details-footer__link">{{ $t('object.vacancies') }}</a>
        <a href="#" class="object-details-footer__link">{{ $t('object.advertise') }}</a>
      </div>
    </div>
    <div class="object-details-footer__social">
      <div class="object-details-footer__social-wrapper">
        <ul class="object-details-footer__social-list">
          <li class="object-details-footer__social-item">
            <a href="#" class="object-details-footer__social-link">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="object-details-footer__social-item">
            <a href="#" class="object-details-footer__social-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="object-details-footer__social-item">
            <a href="#" class="object-details-footer__social-link">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="object-details-footer__social-item">
            <a href="#" class="object-details-footer__social-link">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="object-details-footer__social-item">
            <a href="#" class="object-details-footer__social-link">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
        <div class="object-details-footer__social-legal">
          <a class="object-details-footer__social-legal-link">{{ $t('object.privacy') }}</a>
          <a class="object-details-footer__social-legal-link">{{ $t('object.cookies') }}</a>
          <a class="object-details-footer__social-legal-link">{{ $t('object.req') }}</a>
        </div>
      </div>
      <div class="object-details-footer__social-copyrights">
        <span class="object-details-footer__social-copyrights-text">© 2019 Wambla</span>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex';

export default {
  name: "ObjectDetailsFooter",
  methods: {
    changeLang() {
      if (this.lang === 'nl') {
        this.$store.dispatch('language/setLang', { lang: 'en', vm: this });
      } else {
        this.$store.dispatch('language/setLang', { lang: 'nl', vm: this });
      }
    }
  },
  computed: {
    ...mapState('language', [
      'lang',
    ]),
  },
}
</script>

<style lang="scss">
  .object-details-footer {
    padding: 32px 24px 16px;
    @include flex-col(flex-start, flex-start);
    background-color: $N7;
    width: 100%;
    &__inner {
      @include flex-row(space-between, flex-start);
      width: 100%;
    }
    &__inner-col {
      flex-basis: 25%;
      @include flex-col(flex-start, flex-start);
      min-width: 25%;
    }
    &__wrapper {
      margin-bottom: 24px;
      @include flex-col(flex-start, flex-start);
    }
    &__title {
      @include text($H600, $N18, 600);
      margin-bottom: 8px;
    }
    &__link {
      @include text($H600, $G5, 400);
      transition: color .2s ease;
      &:hover {
        color: lighten($G5, 10%);
      }
    }
    &__social {
       @include flex-row(space-between, center);
       width: 100%;
       border-top: 1px solid $N0;
       padding-top: 16px;
    }
    &__social-wrapper {
      @include flex-row(space-between, center);
    }
    &__social-list {
      @include flex-row(flex-start, center);
      list-style: none;
      margin-right: 24px;
    }
    &__social-item {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__social-link {
      color: $G5;
      transition: color .2s ease;
      &:hover {
        color: lighten($G5, 10%);
      }
    }
    &__social-legal-link {
      position: relative;
      margin-right: 24px;
      color: $G5;
      transition: color .2s ease;
      &:hover {
        color: lighten($G5, 10%);
      }
      &:not(:last-child)::after {
        content: "";
        display: block;
        position: absolute;
        right: -12px;
        top: 50%;
        transform: translateY(-50%);
        height: 12px;
        width: 2px;
        border-right: 1px solid $G6;
      }
    }
  }
</style>

