<template>
  <div class='object-details-photo-grid' :class='`photo-grid-${photos.length}`'>
    <div
      @click='$emit("openSlider", index)'
      class="object-details-photo-grid__image-wrapper"
      :class='`photo-${Number(index) + 1}`'
      v-for='(photo, index) in photos'
      :key='`${photo.id}${photo.created_at}${index}`'>
      <img :src="photo.url" class="object-details-photo-grid__image"/>
    </div>
    <div class="object-details-photo-grid__image-wrapper" v-if='!photos.length' key='preview'>
      <img v-if='previewPhoto' @click='$emit("openSlider", 1)' :src="previewPhoto" class="object-details-photo-grid__image"/>
      <img v-else src="'@/assets/images/placeholder.png'" class="object-details-photo-grid__image"/>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex';

export default {
  name: 'PhotoGrid',
  computed: {
    ...mapState('dataAgency', {
      getPhotos: state => state.objectDetails.images,
      previewPhoto: state => state.objectDetails.image,
    }),
    photos() {
      const data = this.getPhotos.slice(0, 6);
      return data;
    }
  }
}
</script>

<style lang="scss">
.object-details-photo-grid {
  height: 60vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  &.photo-grid-0 {
    grid-template-areas:
    'photo-1';
  }
  &.photo-grid-1 {
    grid-template-areas:
    'photo-1';
  }
  &.photo-grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'photo-1 photo-2';
  }
  &.photo-grid-3 {
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'photo-1 photo-2'
    'photo-1 photo-3';
  }
  &.photo-grid-4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'photo-1 photo-2'
    'photo-3 photo-4';
  }
  &.photo-grid-5 {
    grid-template-columns: 3fr 1.2fr 1.2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'photo-1 photo-2 photo-4'
    'photo-1 photo-3 photo-5';
  }
  &.photo-grid-6 {
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
    'photo-1 photo-2 photo-2'
    'photo-1 photo-3 photo-4'
    'photo-1 photo-5 photo-6';
  }
  @for $n from 1 through 6 {
    .photo-#{$n} {
      grid-area: photo-#{$n};
    }
  }
  &__image-wrapper {
    overflow: hidden;
    cursor: pointer;
  }
  &__image {
    $size: 100%;
    width: $size;
    height: $size;
    object-fit: cover;
  }
}
</style>
