<template>
  <div class="object-details-map">
    <span id="map" class="object-details-map__anchor"></span>
    <client-only>
      <GmapMap
        :center="{
          lat: Number(objectDetails.latitude),
          lng: Number(objectDetails.longitude)
        }"
        :zoom="14"
        map-type-id="terrain"
        class="object-details-map__map"
      >
        <GmapMarker
          v-if="objectDetails.latitude && objectDetails.longitude"
          :position="{
            lat: Number(objectDetails.latitude),
            lng: Number(objectDetails.longitude)
          }"
          :clickable="true"
          :draggable="false"
          :icon="{ url: require('@/assets/images/marker.png') }"
        />
      </GmapMap>
    </client-only>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  name: "OjectDetailsMap",
  computed: {
    ...mapState("dataAgency", ["objectDetails"])
  }
};
</script>

<style lang="scss">
.object-details-map {
  height: 600px;
  width: 100%;
  position: relative;
  &__map {
    height: 100%;
    width: 100%;
  }
  &__anchor {
    position: absolute;
    top: -60px;
  }
}
</style>
