<template>
  <div class="object-details-about">
    <h2 class="object-details-about__title">
      {{ $t('object.description') }}
    </h2>
    <div class="object-details-about__inner">
      <foldable class="vue-foldable-container vue-foldable-mask" height="120">
        <p class="object-details-about__text">{{ objectDetails.description_nl }}</p>
        <a align="center" class="my-foldable object-details-about__more"
          slot="view-more" slot-scope="{ toggle, collapsed }" @click="toggle">
          <icon-plus class='object-details-about__more-icon' v-if='collapsed'/>
          <icon-minus class='object-details-about__more-icon' v-else/>
          <span class='object-details-about__more-text'>{{ collapsed ? $t('object.more_description') : $t('object.less_description') }}</span>
        </a>
      </foldable>
    </div>
  </div>
</template>
<script>
import IconPlus from '@/components/common/icons/IconPlus.vue';
import IconMinus from '@/components/common/icons/IconMinus.vue';
import { mapState } from 'vuex';

export default {
  name: 'ObjectDetailsAbout',
  components: {
    IconPlus,
    IconMinus,
  },
  computed: {
    ...mapState('dataAgency', [
      'objectDetails',
    ])
  }
}
</script>

<style lang="scss">
.object-details-about {
  padding: 16px 0;
  width: 100%;
  &__title {
    @include text($H925, $N100, 700);
    margin-bottom: 16px;
  }
  &__inner {
    & > * {
      display: block;
      margin-bottom: 8px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__more {
    @include flex-row(flex-start, center);
    cursor: pointer;
  }
  &__more-icon {
    fill: $G4;
    $size: 16px;
    height: 16px;
    margin-right: 12px;
  }
  &__more-text {
    @include text($H600, $G4, 400)
  }
  &__text {
    padding-bottom: 16px;
    white-space: pre-wrap;
  }
}
</style>
