<template>
  <nav class='object-fixed-navigation'>
    <h1 class='object-fixed-navigation__title'>{{ objectDetails.address }}</h1>
    <div class='object-fixed-navigation__row'>
      <a
      @click.prevent='telephone = true'
      href="#"
      class='object-fixed-navigation__link'
      v-if='!telephone'>
        <i class="fas fa-phone object-fixed-navigation__link-icon"></i>
        <span>{{ $t('object.show_tel') }}</span>
      </a>
      <a
      :href="`tel:${getFavoritePhone}`"
      class='object-fixed-navigation__link'
      v-else>
        <i class="fas fa-phone object-fixed-navigation__link-icon"></i>
        <span>{{ getFavoritePhone }}</span>
      </a>
      <a href="#" class='button is-success object-fixed-navigation__button'>{{ $t('object.send') }}</a>
    </div>
  </nav>
</template>
<script>
import { mapState, mapGetters } from 'vuex';

export default {
  name: 'ObjectFixedNavigation',
  data() {
    return {
      telephone: false,
    }
  },
  computed: {
    ...mapState('dataAgency', [
      'objectDetails'
    ]),
    ...mapGetters('dataAgency', [
      'getFavoritePhone',
    ]),
  }
}
</script>
<style lang="scss">
.object-fixed-navigation {
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  box-shadow: 0 2px 3px rgba(10,10,10,.16);
  @include flex-row(space-between, center);
  z-index: 10;
  background-color: $N0;
  padding: 0 12%;
  &__button {
    height: 50px !important;
  }
  &__title {
    @include text($H920, $N100, 600);
  }
  &__row {
    @include flex-row(flex-start, center);
  }
  &__link {
    color: $G5;
    margin-right: 16px;
    &:hover {
      color: lighten($G5, 5%);
    }
  }
  &__link-icon {
    margin-right: 8px;
  }
}
</style>
