<template>
  <div class="object-details-photo-popup">
    <h2 class="object-details-photo-popup__title">Foto's <span>{{ photos.length || photo?1:0 }}</span></h2>
    <a-icon
      @click.native='closeFullscreen'
      v-if='fullscreen'
      type="shrink"
      class="object-details-photo-popup__icon object-details-photo-popup__icon--alt"/>
    <a-icon
      @click.native='openFullscreen'
      v-else
      type="arrows-alt"
      class="object-details-photo-popup__icon object-details-photo-popup__icon--alt"/>
    <icon-close class="object-details-photo-popup__icon" @click.prevent.native='$emit("close")'/>
    <div class="object-details-photo-popup__grid" v-if='photos.length'>
      <a href="#" @click.prevent='$emit("openSlider", index)' class="object-details-photo-popup__image-wrapper"
        v-for='(photo, index) in photos'
        :key='`${photo.id}${index}`'>
        <img :src="photo.url" class="object-details-photo-popup__image"/>
      </a>
    </div>
    <div class="object-details-photo-popup__grid" v-else>
      <a href="#" @click.prevent='$emit("openSlider")' class="object-details-photo-popup__image-wrapper">
        <img :src="photo" class="object-details-photo-popup__image"/>
      </a>
    </div>
  </div>
</template>
<script>
import IconClose from '@/components/common/icons/IconClose.vue';
import { mapState } from 'vuex'
import fullscreenMixin from '@/mixins/fullscreen';

export default {
  name: 'ObjectPhotoPopup',
  mixins: [fullscreenMixin],
  components: {
    IconClose,
  },
  computed: {
    ...mapState('dataAgency', {
      photos: state => state.objectDetails.images,
      photo: state => state.objectDetails.image,
    })
  }
}
</script>
<style lang="scss">
.object-details-photo-popup {
  background: $N0;
  padding: 48px 16%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height: 100vh;
  overflow-y: auto;
  z-index: 11;
  &__title {
    margin-bottom: 32px;
   &>*{
     color: $N13;
   }
  }
  &__icon {
    $size: 24px;
    width: $size;
    height: $size;
    fill: $N13;
    color: $N13;
    position: absolute;
    top: 12px;
    transform: translateY(25%);
    right: 18px;
    cursor: pointer;
    &--alt {
      top: 6px;
      right: 80px;
      font-size: 36px;
    }
  }
  &__grid {
    @include flex-row(flex-start, stretch);
    flex-wrap: wrap;
  }
  &__image-wrapper {
    flex-basis: calc(33.3% - 16px);
    margin-right: 16px;
    margin-bottom: 16px;
    overflow: hidden;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
</style>

