<template>
<div class='objects-detials-wrapper' v-scroll='handleScroll'>
  <transition
      name="custom-classes-transition"
      enter-active-class="animated dur02 fadeInDown"
      leave-active-class="animated dur02 fadeOutUp"
      mode="out-in">
    <object-fixed-navigation v-if='navigation'/>
  </transition>
   <transition
      name="custom-classes-transition"
      enter-active-class="animated dur02 fadeIn"
      leave-active-class="animated dur02 fadeOut"
      mode="out-in">
      <object-details-photo-popup
        @openSlider='openSlider'
        v-if='allMedia'
        @close='allMedia = false'
        key='all'/>
      <object-details-slider
        v-if='slider'
        :startat='startPhoto'
        @allmedia='openAllmedia'
        @close='slider = false'
        key='slider'/>
   </transition>
   <template v-if='!allMedia && !slider'>
    <home-navigation class='objects-detials-wrapper__navigation'/>
    <div class='objects-detials-wrapper__main'>
      <object-details-header/>
      <object-details-photo-grid @openSlider='openSlider'/>
      <object-details-bar @open='allMedia = true' @onSlider='slider = true'/>
      <div class="objects-detials-wrapper__info-wrapper">
        <div class="objects-detials-wrapper__info-wrapper-text">
          <object-details-features/>
          <object-details-about/>
        </div>
        <div class="objects-detials-wrapper__info-wrapper-card">
          <object-details-card class="objects-detials-wrapper__card"/>
          <a href="#" class='objects-detials-wrapper__link objects-detials-wrapper__link--paddinless'>{{ $t('object.Report') }}</a>
        </div>
      </div>
      <object-details-list/>
    </div>
    <object-details-map/>
    <div class='objects-detials-wrapper__main objects-detials-wrapper__main--paddingless'>
      <object-details-carousel class='objects-detials-wrapper__box'/>
      <a href="#" class='objects-detials-wrapper__link'>
        <a-icon type="right" />
        <span>{{ $t('object.more_houses') }}</span>
      </a>
      <object-details-bottom-bar class='objects-detials-wrapper__box'/>
    </div>
    <object-details-footer class='objects-detials-wrapper__box'/>
    </template>
</div>
</template>
<script>
import HomeNavigation from '@/components/common/HomeNavigation.vue';
import ObjectDetailsHeader from './ObjectDetailsHeader.vue';
import ObjectDetailsSlider from './ObjectDetailsSlider.vue';
import ObjectFixedNavigation from './ObjectFixedNavigation.vue';
import ObjectDetailsPhotoGrid from './ObjectDetailsPhotoGrid.vue';
import ObjectDetailsBar from './ObjectDetailsBar.vue';
import ObjectDetailsPhotoPopup from './ObjectDetailsPhotoPopup.vue';
import ObjectDetailsFeatures from './ObjectDetailsFeatures.vue';
import ObjectDetailsAbout from './ObjectDetailsAbout.vue';
import ObjectDetailsList from './ObjectDetailsList.vue';
import ObjectDetailsMap from './ObjectDetailsMap.vue';
import ObjectDetailsCarousel from './ObjectDetailsCarousel.vue';
import ObjectDetailsBottomBar from './ObjectDetailsBottomBar.vue';
import ObjectDetailsFooter from './ObjectDetailsFooter.vue';
import ObjectDetailsCard from './ObjectDetailsCard.vue';

export default {
  name: 'ObjectDetailsWrapper',
  scrollToTop: true,
  components: {
    ObjectDetailsHeader,
    ObjectFixedNavigation,
    ObjectDetailsSlider,
    ObjectDetailsPhotoGrid,
    ObjectDetailsBar,
    ObjectDetailsPhotoPopup,
    ObjectDetailsFeatures,
    ObjectDetailsAbout,
    ObjectDetailsList,
    ObjectDetailsMap,
    HomeNavigation,
    ObjectDetailsCarousel,
    ObjectDetailsBottomBar,
    ObjectDetailsFooter,
    ObjectDetailsCard,
  },
  data() {
    return {
      allMedia: false,
      navigation: false,
      slider: false,
      startPhoto: 0,
    };
  },
  methods: {
    handleScroll(evt, el) {
      this.navigation = window.scrollY > 110;
    },
    async openSlider(num = 0) {
      this.startPhoto = num;
      this.allMedia = false;
      await this.$nextTick();
      this.slider = true;
    },
    openAllmedia() {
      this.slider = false;
      this.allMedia = true;
    }
  }
}
</script>
<style lang="scss">
%object-details-width {
  $size: 24px;
    padding: {
      left: $size;
      right: $size;
    }
  @include media {
    $size: 40px;
    padding: {
      left: $size;
      right: $size;
    }
  }
  @include media($screen-desktop-large) {
    $size: 10%;
    padding: {
      left: $size;
      right: $size;
    }
  }
  @include media($screen-hd) {
    $size: 12%;
    padding: {
      left: $size;
      right: $size;
    }
  }
  @include media($screen-fullhd) {
    $size: 15%;
    padding: {
      left: $size;
      right: $size;
    }
  }
}
.objects-detials-wrapper {
  @include flex-col(flex-start, center);
  position: relative;
  &__main {
    @include flex-col(flex-start, center);
    padding-bottom: 32px;
    width: 100%;
    @extend %object-details-width;
    &--paddingless {
      padding: 0;
    }
  }
  &__navigation {
    background-color: $G1;
  }
  &__link {
    align-self: flex-start;
    color: $G5;
    margin-bottom: 64px;
    @extend %object-details-width;
    &:hover {
      color: lighten($G5, 5%)
    }
    &--paddinless {
      white-space: normal;
      padding: 0;
    }
  }
  &__info-wrapper {
    @include flex-row(space-between, flex-start);
    width: 100%;
  }
  &__box {
    @extend %object-details-width;
  }
  &__info-wrapper-text {
    flex-basis: calc( 100% - 340px);
  }
  &__card {
    margin-bottom: 32px;
  }
}
</style>
