<template>
  <div class="object-detail-list">
    <h2 class="object-detail-list__title">{{ $t('object.Characteristics') }}</h2>
    <ul class="object-detail-list__list">
      <li class="object-detail-list__item">
        <span class="object-detail-list__subtitle">{{ $t('object.Transmission') }}</span>
        </li>
      <li class="object-detail-list__item">
        <span class="object-detail-list__list-inner">{{ $t('object.Asking price') }}</span>
        <span class="object-detail-list__list-inner">€ {{ formatedPrice(details.price) }},- {{details.condition.split('').join('.')}}.</span>
        </li>
      <li class="object-detail-list__item" v-if='false'>
        <span class="object-detail-list__list-inner">{{ $t('object.Offered') }}</span>
        <span class="object-detail-list__list-inner"></span>
        </li>
      <li class="object-detail-list__item" v-if='!!full.status'>
        <span class="object-detail-list__list-inner">{{ $t('object.Status') }}</span>
        <span class="object-detail-list__list-inner">{{ translate(full.status) }}</span>
        </li>
      <li class="object-detail-list__item" v-if='!!full.acceptance'>
        <span class="object-detail-list__list-inner">{{ $t('object.Acceptance') }}</span>
        <span class="object-detail-list__list-inner">{{ translate(full.acceptance) }}</span>
        </li>
    </ul>
     <ul class="object-detail-list__list" v-if='construction'>
      <li class="object-detail-list__item">
        <span class="object-detail-list__subtitle">{{ $t('object.Construction') }}</span>
      </li>
      <li class="object-detail-list__item" v-if='!!full.type'>
        <span class="object-detail-list__list-inner">{{ $t('object.residential building') }}</span>
        <span class="object-detail-list__list-inner">{{ translate(full.type) }}</span>
      </li>
      <li class="object-detail-list__item" v-if='!!full.subtype'>
        <span class="object-detail-list__list-inner">{{ $t('object.Building') }}</span>
        <span class="object-detail-list__list-inner">{{ translate(full.subtype) }}</span>
        </li>
      <li class="object-detail-list__item" v-if='!!full.build_year || !!full.build_period'>
        <span class="object-detail-list__list-inner">{{ $t('object.Construction year') }}</span>
        <span class="object-detail-list__list-inner">{{ full.build_year }}</span>
      </li>
      <li class="object-detail-list__item" v-if='!!full.new_construction'>
        <span class="object-detail-list__list-inner">{{ $t('object.Specific') }}</span>
        <span class="object-detail-list__list-inner">{{ $t('object.new_construction') }}</span>
      </li>
      <li class="object-detail-list__item" v-if='!!full.roof'>
        <span class="object-detail-list__list-inner">{{ $t('object.what') }}</span>
        <span class="object-detail-list__list-inner">{{ full.roof }}</span>
      </li>
    </ul>
    
    <ul class="object-detail-list__list">
      <li class="object-detail-list__item">
        <span class="object-detail-list__subtitle">{{ $t('object.Surfaces') }}</span>
      </li>
      <li class="object-detail-list__item" v-if='!!Number(full.living_space)'>
        <span class="object-detail-list__list-inner">{{ $t('object.Living') }}</span>
        <span class="object-detail-list__list-inner">{{ full.living_space }} m<sup>2</sup></span>
      </li>
      <li class="object-detail-list__item" v-if='!!Number(full.other_indoor_space)'>
        <span class="object-detail-list__list-inner">{{ $t('object.space') }}</span>
        <span class="object-detail-list__list-inner">{{ full.other_indoor_space }} m<sup>2</sup></span>
      </li>
      <li class="object-detail-list__item" v-if='!!Number(details.plot_surface)'>
        <span class="object-detail-list__list-inner">{{ $t('object.Plot') }}</span>
        <span class="object-detail-list__list-inner">{{ details.plot_surface }} m<sup>2</sup></span>
      </li>
      <li class="object-detail-list__item" v-if='!!Number(full.volume)'>
        <span class="object-detail-list__list-inner">{{ $t('object.Content') }}</span>
        <span class="object-detail-list__list-inner">{{ full.volume }} m<sup>3</sup></span>
      </li>
    </ul>
    <ul class="object-detail-list__list" v-if='layout'>
      <li class="object-detail-list__item">
        <span class="object-detail-list__subtitle">{{ $t('object.Layout') }}</span>
      </li>
      <li class="object-detail-list__item" v-if='!!full.rooms && !!full.bedrooms'>
        <span class="object-detail-list__list-inner">{{ $t('object.Number') }}</span>
        <span class="object-detail-list__list-inner">{{ full.rooms }} {{ $t('object.Rooms') }} ({{ full.bedrooms }} {{$t('object.Bedrooms')}})</span>
      </li>
      <li class="object-detail-list__item" v-if='!!full.bathrooms'>
        <span class="object-detail-list__list-inner">{{ $t('object.Number of bathrooms') }}</span>
        <span class="object-detail-list__list-inner">{{ full.bathrooms }} {{ $t('object.bathrooms') }}</span>
      </li>
      <li class="object-detail-list__item" v-if='false'>
        <span class="object-detail-list__list-inner">{{ $t('object.Bathroom amenities') }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
      <li class="object-detail-list__item" v-if='false'>
        <span class="object-detail-list__list-inner">{{ $t('object.Number of floors') }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
       <li class="object-detail-list__item" v-if='!!full.featureFacilities.length'>
        <span class="object-detail-list__list-inner">{{ $t('object.Services') }}</span>
        <div class="object-detail-list__list-inner">
          <span
            v-for='(item, index) in full.featureFacilities'
            :key='`n${index}`'>{{ index>0?', ':'' }}{{ translate(item) }}</span>
        </div>
      </li>
    </ul>
    <ul class="object-detail-list__list" v-if='false'>
      <li class="object-detail-list__item">
        <span class="object-detail-list__subtitle">{{ $t('object.energy') }}</span>
      </li>
      <li class="object-detail-list__item">
        <span class="object-detail-list__list-inner">{{ $t('object.Provisional energy label') }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
      <li class="object-detail-list__item">
        <span class="object-detail-list__list-inner">{{ $t('object.Insulation') }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
      <li class="object-detail-list__item">
        <span class="object-detail-list__list-inner">{{ $t('object.Heating') }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
      <li class="object-detail-list__item">
        <span class="object-detail-list__list-inner">{{ $t('object.Warm water') }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
       <li class="object-detail-list__item">
        <span class="object-detail-list__list-inner">{{ $t('object.Boiler') }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
    </ul>
    <ul class="object-detail-list__list" v-if='cadastral'>
      <li class="object-detail-list__item">
        <span class="object-detail-list__subtitle">{{ $t('object.Cadastral data') }}</span>
      </li>
      <li class="object-detail-list__item" v-if='!!full.land_registries[0].municipality'>
        <span class="object-detail-list__list-inner object-detail-list__list-inner--large"
          >{{ full.land_registries[0].municipality }} {{ full.land_registries[0].section }} {{ full.land_registries[0].plot_number }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
      <li class="object-detail-list__item" v-if='!!full.plot_surface'>
        <span class="object-detail-list__list-inner">{{ $t('object.Surface') }}</span>
        <span class="object-detail-list__list-inner">{{ full.plot_surface }}  m<sup>2</sup></span>
      </li>
      <li class="object-detail-list__item" v-if='false'>
        <span class="object-detail-list__list-inner">{{ $t('object.Ownership situation') }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
    </ul>
    <ul class="object-detail-list__list" v-if='outdoor'>
      <li class="object-detail-list__item">
        <span class="object-detail-list__subtitle">{{ $t('object.Outdoor space') }}</span>
      </li>
      <li class="object-detail-list__item" v-if='!!full.locations.length'>
        <span class="object-detail-list__list-inner">{{ $t('object.location') }}</span>
        <div class="object-detail-list__list-inner" >
          <span v-for='(item, index) in full.locations' :key='index'
          >{{ index>0?', ':'' }}{{ translate(item) }}
          </span>
        </div>
      </li>
      <li class="object-detail-list__item" v-if='!!full.garden.length'>
        <span class="object-detail-list__list-inner">{{ $t('object.Garden') }}</span>
        <div class="object-detail-list__list-inner" >
          <span v-for='(item, index) in full.garden' :key='index'
          >{{ index>0?', ':'' }}{{ translate(item) }}
          </span>
        </div>
      </li>
      <li class="object-detail-list__item" v-if='!!full.garden_length && !!full.garden_width'>
        <span class="object-detail-list__list-inner">{{ $t('object.Backyard') }}</span>
        <span class="object-detail-list__list-inner" >{{ `${full.garden_length}cm ${$t('object.deep')} and ${full.garden_width}cm ${$t('object.broad')}` }}</span>
      </li>
      <li class="object-detail-list__item" v-if='!!full.garden_position'>
        <span class="object-detail-list__list-inner">{{ $t('object.Location garden') }}</span>
        <span class="object-detail-list__list-inner">{{ translate(full.garden_position) }}</span>
      </li>
       <li class="object-detail-list__item" v-if='false'>
        <span class="object-detail-list__list-inner">{{ $t('object.Balcony / roof terrace') }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
    </ul>
    <ul class="object-detail-list__list" v-if='!!full.storage'>
      <li class="object-detail-list__item">
        <span class="object-detail-list__subtitle">{{ $t('object.Storage space') }}</span>
      </li>
      <li class="object-detail-list__item" v-if='!!full.storage'>
        <span class="object-detail-list__list-inner">{{ $t('object.Barn / storage') }}</span>
        <span class="object-detail-list__list-inner">{{ translate(full.storage) }}</span>
      </li>
      <li class="object-detail-list__item" v-if='false'>
        <span class="object-detail-list__list-inner">{{ $t('object.Services') }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
    </ul>
    <ul class="object-detail-list__list" v-if='false'>
      <li class="object-detail-list__item">
        <span class="object-detail-list__subtitle">{{ $t('object.Garage') }}</span>
      </li>
      <li class="object-detail-list__item">
        <span class="object-detail-list__list-inner">{{ $t('object.Type of garage') }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
      <li class="object-detail-list__item">
        <span class="object-detail-list__list-inner">{{ $t('object.Capacity') }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
      <li class="object-detail-list__item">
        <span class="object-detail-list__list-inner">{{ $t('object.Services') }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
    </ul>
    <ul class="object-detail-list__list" v-if='false'>
      <li class="object-detail-list__item">
        <span class="object-detail-list__subtitle">{{ $t('object.Parking') }}</span>
      </li>
      <li class="object-detail-list__item">
        <span class="object-detail-list__list-inner">{{ $t('object.Type of parking') }}</span>
        <span class="object-detail-list__list-inner"></span>
      </li>
    </ul>
  </div>
</template>
<script>
import { mapState } from 'vuex';
import numeral from 'numeral-es6';

export default {
  name: 'ObjectDetailList',
  computed: {
    ...mapState('dataAgency', {
      details: state => state.objectDetails,
      full: state => state.objectDetails.full,
    }),
    outdoor() {
      const { full } = this;
      return !!(full.locations.length || full.garden.length || (full.garden_length && full.garden_width) || full.garden_position);
    },
    construction() {
      const { full } = this;
      return !!(full.type || full.build_year || full.build_period || full.roof);
    },
    cadastral() {
      const { full } = this;
      return !!(full.land_registries[0].municipality || full.plot_surface)
    },
    layout() {
      const { full } = this;
      return !!(full.rooms && full.bedrooms || full.bathrooms || full.featureFacilities.length);
    }
  },
  methods: {
    translate(value) {
      const key = `object.${value}`;
      if (!this.$i18n.keyExists(key, 'strict')) return value;
      return this.$i18n.translate(key);
    },
    formatedPrice(price) {
      const oldPrice = price;
      const newPrice = numeral(oldPrice).format('0,0');
      return newPrice.split(',').join('.');
    },
  }
}
</script>

<style lang="scss">
.object-detail-list {
  padding: 16px 0;
  width: 100%;
  margin-bottom: 32px;
  &__title {
    @include text($H925, $N100, 700);
    margin-bottom: 8px;
  }
  &__list {
    @include flex-col(flex-start, flex-start);
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item {
    width: 100%;
    @include flex-row(flex-start, center);
    padding: 8px 0;
    border-bottom: 1px solid $N66;
  }
  &__subtitle {
    @include text($H500, $N100, 700);
  }
  &__list-inner {
    display: block;
    @include text($H600, $N18, 400);
    
    &:first-child {
      flex-basis: 30%;
      color: $N14;
    }
    &:last-child {
      flex-basis: 70%;
    }
    &--large {
      color: $N18 !important;
    }
  }
}
</style>
