<template>
<client-only placeholder="Loading...">
  <div class="object-details-carousel">
    <h2 class="object-details-carousel__title">{{ $t('object.similar') }}</h2>
    <div class="object-details-carousel__toogle">
      <button
        class="object-details-carousel__toogle-button"
        @click='opened = true'
        :class='{"active": opened}'>{{ $t('object.For sale') }}
      </button>
      <button
        class="object-details-carousel__toogle-button"
        @click='opened = false'
        :class='{"active": !opened}'>{{ $t('object.Sold') }}
      </button>
    </div>
    <template v-if='rerendered'>
      <transition
        name="custom-classes-transition"
        enter-active-class="animated dur02 fadeIn"
        leave-active-class="animated dur02 fadeOut"
        mode="out-in">
       <div class="object-details-carousel__tab" v-if='opened' key='first'>
          <vue-glide v-if='getForSale.length'>
            <vue-glide-slide v-for='(object, index) in getForSale' :key='`${object.id}${index}`'>
              <a :href='`/${$route.params.url}/${object.id}`' @click.prevent='openObject(object.id)' class="object-details-carousel__card">
                <div class="object-details-carousel__img-wrapper">
                  <img :src="object.image" alt="photo" class="object-details-carousel__img" v-if='!!object.image'>
                  <img src="@/assets/images/placeholder.png" alt="image" class="object-details-carousel__img" v-else>
                </div>
                <h4 class="object-details-carousel__card-title">{{ object.street_address }}</h4>
                <p class="object-details-carousel__card-adress">{{ region(object.address) }}</p>
                <p class="object-details-carousel__card-price">€ {{ formatedPrice(object.price) }}</p>
              </a>
            </vue-glide-slide>
            <template slot="control">
              <a-button data-glide-dir=">" class="object-details-carousel__slider-button has-text-success" icon="right" size="large" />
            </template>
          </vue-glide>
      </div>
      <div class="object-details-carousel__tab" v-else key='second'>
          <vue-glide v-if='getSold.length'>
            <vue-glide-slide v-for='(object, index) in getSold' :key='`${object.id}${index}`'>
              <a :href='`/${$route.params.url}/${object.id}`' @click.prevent='openObject(object.id)' class="object-details-carousel__card">
                <div class="object-details-carousel__img-wrapper">
                  <img :src="object.image" alt="photo" class="object-details-carousel__img" v-if='!!object.image'>
                  <img src="@/assets/images/placeholder.png" alt="image" class="listings__image" v-else>
                </div>
                <h4 class="object-details-carousel__card-title">{{ object.street_address }}</h4>
                <p class="object-details-carousel__card-adress">{{ region(object.address) }}</p>
                <p class="object-details-carousel__card-price">€ {{ formatedPrice(object.price) }}</p>
              </a>
            </vue-glide-slide>
            <template slot="control">
              <a-button data-glide-dir=">" class="object-details-carousel__slider-button has-text-success" icon="right" size="large" />
            </template>
          </vue-glide>
      </div>
      </transition>
    </template>
  </div>
</client-only>
</template>
<script>
import { mapState, mapGetters } from 'vuex';
import numeral from 'numeral-es6';

export default {
  name: 'ObjectDetailsCarousel',
  data() {
    return {
      opened: true,
      rerendered: true,
    }
  },
  computed: {
    ...mapState('dataAgency', [
      'company'
    ]),
    ...mapGetters('dataAgency', [
      'getSold',
      'getForSale',
    ]),
  },
  methods: {
    formatedPrice(price) {
      const oldPrice = price;
      const newPrice = numeral(oldPrice).format('0,0');
      return newPrice.split(',').join('.');
    },
    async openObject(id) {
      const { url } = this.$route.params;
      const {id: company_id} = this.company;
      const object_id = id;
      await this.$store.dispatch('dataAgency/getFullObject', {company_id, object_id})
      this.$router.push(`/${url}/${id}`);
    },
    async fetchData() {
      const {id: object_id} = this.$route.params;
      const {id: company_id} = this.company;
      await this.$store.dispatch('dataAgency/getFullObject', {company_id, object_id})
    },
    region(val) {
      const address = val;
      const region = address.split(', ').slice(1).join(', ');
      return region;
    },
    async forceUpdate() {
      this.rerendered = false;
      await this.$nextTick();
      this.$forceUpdate();
      this.rerendered = true;
    }
  },
  watch: {
    getForSale() {
      this.forceUpdate();
    },
    getSold() {
      this.forceUpdate();
    }
  }
}
</script>
<style lang="scss">
.object-details-carousel {
  width: 100%;  
  padding: 40px 0;
  &__title {
    @include text($H925, $N18, 500);
    margin-bottom: 8px;
  }
  &__toogle{
    @include flex-row(flex-start, center);
    margin-bottom: 16px;
  }
  &__toogle-button {
    padding: .5rem 1rem;
    border-bottom: 2px solid $N10;
  }
  .active {
    border-color: $G5;
    background-color: lighten($G5, 50%);
    color: $G5;
  }
  &__card {
    @include flex-col(flex-start, flex-start);
  }
  &__img-wrapper {
    margin-bottom: 8px;
    height: 210px;
  }
  &__img {
    $size: 100%;
    width: $size;
    height: $size;
    object-fit: cover;
  }
  &__card-title {
   @include text($H600, $G5, 600);
   margin-bottom: 8px;
  }
  &__card {
    pointer-events: all;
  }
  &__card-adress {
   @include text($H600, $N13, 400);
   margin-bottom: 8px;
  }
  &__card-price {
     @include text($H600, $N18, 600);
  }
  &__tab {
    position: relative;
  }
  &__slider-button {
    position: absolute !important;
    top: 30%;
    right: 16px !important;
    &:hover {
      border-color: $G2 !important;
    }
    &:active {
      border-color: $G6 !important;
    }
    &:focus {
      border-color: $G1 !important;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015) !important;
    }
  }
}
</style>

