<template>
  <div class="object-details-features">
    <ul class="object-details-features__list">
      <li class="object-details-features__item" v-if='objectDetails.full.build_year || objectDetails.full.build_period'>
        <span class="object-details-features__icon">
          <icon-brick/>
        </span>
        <span class="object-details-features__title">{{ $t('object.year') }}</span>
        <span class="object-details-features__value">{{ objectDetails.full.build_year || objectDetails.full.build_period }}</span>
      </li>
      <li class="object-details-features__item" v-if='!!Number(objectDetails.plot_surface)'>
        <span class="object-details-features__icon">
          <icon-plan/>
        </span>
        <span class="object-details-features__title">{{ $t('object.plot') }}</span>
        <span class="object-details-features__value">{{ objectDetails.plot_surface }} m<sup>2</sup></span>
      </li>
      <li class="object-details-features__item" v-if='!!Number(objectDetails.living_space)'>
        <span class="object-details-features__icon">
          <icon-square/>
        </span>
        <span class="object-details-features__title">{{ $t('object.living') }}</span>
        <span class="object-details-features__value">{{ objectDetails.living_space }} m<sup>2</sup></span>
      </li>
      <li class="object-details-features__item" v-if='objectDetails.rooms'>
        <span class="object-details-features__icon">
          <icon-door/>
        </span>
        <span class="object-details-features__title">{{ $t('object.rooms') }}</span>
        <span class="object-details-features__value">{{ objectDetails.rooms }}</span>
      </li>
    </ul>
  </div>
</template>
<script>
import IconSquare from '@/components/common/icons/IconSquare.vue';
import IconPlan from '@/components/common/icons/IconPlan.vue';
import IconDoor from '@/components/common/icons/IconDoor.vue';
import IconBrick from '@/components/common/icons/IconBrick.vue';
import { mapState } from 'vuex';

export default {
  components: {
    IconSquare,
    IconPlan,
    IconDoor,
    IconBrick,
  },
  name: 'OjectDetailsFeatures',
  computed: {
    ...mapState('dataAgency', [
      'objectDetails'
    ])
  }
}
</script>
<style lang="scss">
.object-details-features {
  padding: 16px 40px;
  width: 100%;
  border-bottom: 1px solid $N66;
  border-top: 1px solid $N66;
  &__list{
    @include flex-row(space-evenly, center);
  }
  &__item{
    @include flex-col(flex-start, center);
  }
  &__icon{
    $size: 24px;
    width: $size;
    height: $size;
    margin-bottom: 12px;
    fill: $G5;
  }
  &__title{
    @include text($H600, $N100, 500);
  }
  &__value{
    @include text($H500, $N100, 400);
  }
}
</style>

