<template>
  <div class="object-details-bottom-bar">
    <a href="#" class="object-details-bottom-bar__icon-wrapper">
      <a-icon type="heart" class="object-details-bottom-bar__icon"/>
      <span class="object-details-bottom-bar__icon-name">
        {{ $t('object.save') }}
      </span>
    </a>
    <a href="#" class="object-details-bottom-bar__icon-wrapper">
      <object-details-social-dropdown class="object-details-bottom-bar__dropdown"/>
    </a>
    <a href="#" class="object-details-bottom-bar__icon-wrapper">
      <a-icon type="printer" class="object-details-bottom-bar__icon"/>
      <span class="object-details-bottom-bar__icon-name">
       {{ $t('object.print') }}
      </span>
    </a>
    <a href="#" class="object-details-bottom-bar__icon-wrapper">
      <icon-for-sale class="object-details-bottom-bar__icon"/>
      <span class="object-details-bottom-bar__icon-name">
       {{ $t('object.selling') }}
      </span>
    </a>
    <a href="#" class="object-details-bottom-bar__icon-wrapper">
      <icon-succes-deal class="object-details-bottom-bar__icon"/>
      <span class="object-details-bottom-bar__icon-name">
       {{ $t('object.bought') }}
      </span>
    </a>
  </div>
</template>
<script>
import ObjectDetailsSocialDropdown from '@/components/objects/components/ObjectDetailsSocialDropdown.vue';
import IconForSale from '@/components/common/icons/IconForSale.vue';
import IconSuccesDeal from '@/components/common/icons/IconSuccesDeal.vue';

export default {
  components: {
    ObjectDetailsSocialDropdown,
    IconForSale,
    IconSuccesDeal,
  },
}
</script>

<style lang="scss">
  .object-details-bottom-bar {
    @include flex-row(flex-start, center);
    padding: 16px 0;
    border-top: 1px solid $N66;
    width: 100%;
    * {
      transition: color ease 0.2s;
      transition: fill ease 0.2s;
    }
    &__icon-wrapper {
      @include flex-row(flex-start, center);
      margin-right: 16px;
      transition: color ease 0.2s;
      @include text($H600, $G5, 400);
      &:hover {
        color: lighten($G5, 10%);
        * {
          color: lighten($G5, 10%);
        }
        svg {
          fill: lighten($G5, 10%);
        }
      }
    }
    &__icon {
      $size: 20px;
      width: $size;
      height: $size;
      font-size: 20px;
      margin-right: 8px;
      fill: $G5;
      color: $G5;
      transition: fill ease 0.2s;
    }
  }
</style>

