<template>
  <admin-clients/>
</template>
<script>
import AdminClients from '@/components/admin/AdminClients.vue';

export default {
  name: 'AdminClientsPage',
  components: {
    AdminClients,
  }
}
</script>