<template>
  <admin-companies/>
</template>
<script>
import AdminCompanies from '@/components/admin/AdminCompanies.vue';

export default {
  name: 'AdminCompaniesPage',
  components: {
    AdminCompanies,
  }
}
</script>