<template>
  <admin-profile/>
</template>
<script>
import AdminProfile from '@/components/admin/AdminProfile.vue';

export default {
  name: 'AdminProfilePage',
  components: {
    AdminProfile,
  }
}
</script>