<template>
  <admin-settings/>
</template>
<script>
import AdminSettings from '@/components/admin/AdminSettings.vue';

export default {
  name: 'AdminSettingsPage',
  components: {
    AdminSettings,
  }
}
</script>