<template>
  <admin-translations/>
</template>
<script>
import AdminTranslations from '@/components/admin/AdminTranslations.vue';

export default {
  name: 'AdminTranslationsPage',
  components: {
    AdminTranslations,
  }
}
</script>