<template>
  <admin-users/>
</template>
<script>
import AdminUsers from '@/components/admin/AdminUsers.vue';

export default {
  name: 'AdminUsersPage',
  components: {
    AdminUsers,
  }
}
</script>