<template>
<label class="button">
  <input
    type="file"
    class='button__input'
    ref="inputPhoto"
    @change="loadPhoto"
    accept="image/*"/>
  <icon-camera class="button__icon"/>
  <span class="button__text">{{ label }}</span>
</label>
</template>
<script>
import IconCamera from '@/components/common/icons/IconCamera.vue';
import { mapState, mapActions, mapGetters } from 'vuex';
import { api } from '@/api/agency';
import http from 'axios';

export default {
  name: 'ButtonCamera',
  props: {
    label: String,
  },
  components: {
    IconCamera,
  },
  methods: {
    ...mapActions({
      getCompanyByUrl: 'dataAgency/getCompanyByUrl',
    }),
    loadPhoto(e) {
      this.$emit('loadPhoto', [e, 'logo_big']);
    },
  },
  computed: {
    ...mapGetters({
      agencyId: 'profileAgency/agencyId',
    }),
  }
};
</script>
<style lang="scss" scoped>
.button {
  width: max-content;
  padding: 9px 16px;
  margin-right: 12px;
  position: relative;
  border-radius: 5px;
  border: solid 1px $N0;
  background-color: rgba(255, 255, 255, 0.17);
  @include flex-row(flex-start, center);
  transition: background-color ease-in-out 0.2s;
  &:last-of-type {
    margin-right: 0;
  }
  @media screen and (min-width: $screen-desktop) {
    &:hover {
      background-color: transparent;
    }
  }
  &__icon {
    fill: $N0;
    width: 22px;
    height: 22px;
    margin-right: 9px;
  }
  &__text {
    color: $N0;
    font-weight: 600;
    font-size: $H400;
  }
  &__input {
    display: none;
    position: absolute;
    z-index: -1;
  }
}
</style>
