<template>
  <button>
    <icon-pencil/>
  </button>
</template>
<script>
import IconPencil from '@/components/common/icons/IconPencil.vue';

export default {
  name: 'ButtonEdit',
  components: {
    IconPencil,
  },
};
</script>
<style lang="scss" scoped>
button {
  width: 45px;
  height: 45px;
  background-color: $G4;
  @include flex-row(center, center);
  border-radius: 50%;
  padding-bottom: 1px;
  svg {
    width: 16px;
    height: 16px;
    fill: $N0;
  }
}
</style>
