<template>
<div class="team-card">
  <div
    class="animated dur04 bounceIn is-small notification is-warning agency-edit__notification"
    v-if='isError'
    key='error'>
    <button @click='isError = false' class="delete"></button>
    {{ errorText }}
  </div>
  <transition
    name="custom-classes-transition"
    enter-active-class="animated dur02 fadeIn"
    leave-active-class="animated dur03 fadeOut"
    mode="out-in">
  <div class="modal crop-box" v-if='cropModal'>
    <div class="modal-background" @click.self='cropModal = false'></div>
    <div class="modal-content crop-box__content">
      <vue-cropper
        ref='cropper'
        :guides="true"
        :aspectRatio='1 / 1'
        drag-mode="crop"
        :viewMode='0'
        :rotatable="true"
        :background="false"
        :src="previewImage"
        alt="Source Image"
        :img-style="{ 'max-width': '90vw', 'max-height': '80vh' }">
      </vue-cropper>
       <span class="tag is-info crop-box__info">Toggle drag mode between "crop" and "move" when click twice on the cropper</span>
      <div class="crop-box__buttons-wrapper">
        <button
          class="button is-link crop-box__button"
          @click.prevent="preCropImage"
          :class='{"is-loading": loading.crop}'>
          <span class="icon is-small">
            <i class="fas fa-crop"></i>
          </span>
          <span>Crop</span>
        </button>
        <a
          class="button crop-box__button"
          @click="rotate">
          <span class="icon is-small">
            <i class="fas fa-sync-alt"></i>
          </span>
          <span>Rotate</span>
        </a>
        <div class="field has-addons">
          <p class="control">
            <a
              class="button"
              @click.prevent='zoomOut'>
              <span class="icon is-small">
                <i class="fas fa-search-minus"></i>
              </span>
              <span>Zoom out</span>
            </a>
          </p>
          <p class="control">
            <a
              class="button"
              @click.prevent='zoomIn'>
              <span class="icon is-small">
                <i class="fas fa-search-plus"></i>
              </span>
              <span>Zoom In</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      @click='cropModal = false'></button>
  </div>
  </transition>
  <input
    class="input is-small team-card__order"
    type="text"
    v-if='edit'
    autocomlete='autocomplete_off_hack_xfr4!k'
    maxlength="2"
    :key='member.id'
    v-model.number='order'>
  <div
    v-if='edit'
    key='edit'
    class="buttons has-addons team-card__edit-buttons">
    <button
      class="button is-success is-small"
      :class='{"is-loading": loading.save}'
      :disabled='!compared'
      @click='saveMember'>
      <span class="icon is-small">
        <i class="fas fa-check"></i>
      </span>
    </button>
    <button
      class="button is-danger is-small"
      :class='{"is-loading": loading.discard}'
      @click='deleteTeamMember(member)'>
      <span class="icon is-small">
        <i class="fas fa-times"></i>
      </span>
    </button>
  </div>
  <div class="team-card__image-wrapper">
    <form id='form-image' key='edit-form'>
      <label
        class="team-card__image-label"
        :class='{"team-card__image-label--edit": edit}'>
        <input
          type="file"
          form="form-image"
          class='upload__input'
          id="fileLogo"
          ref="fileElemAvatar"
          @change.prevent="uploadPhoto"
          :disabled='!edit'
          accept="image/*"/>
        <img
          :src="previewAvatar || member.filename"
          v-if='rerendered'
          data-loading='@/assets/images/Rolling.gif'
          alt="team member"
          class="team-card__image">
        <button
          v-if='edit && (previewAvatar || member.filename)'
          @click.prevent="editTeamAvatar(member.company_id, member.order_id)"
          class="team-card__round-button has-background-info">
          <icon-pencil class="team-card__round-button-icon"/>
        </button>
      </label>
    </form>
  </div>
  <template v-if='!edit'>
    <div class="team-card__col" >
      <p class="team-card__name">{{ firstName }}</p>
      <p class="team-card__name team-card__name--margin">{{ lastName }}</p>
      <p class="team-card__job" key='job'>{{ member.job? member.job:'Function here'}}</p>
    </div>
  </template>
  <template v-else>
    <input
      class="input is-success team-card__name"
      v-model.trim='name'
      maxlength="60"
      autocomlete='autocomplete_off_hack_xfr4!k'
      placeholder="Name"
      type="text">
    <input
      class="input is-success team-card__name"
      placeholder="Function here"
      v-model.trim='job'
      autocomlete='autocomplete_off_hack_xfr4!k'
      maxlength="100"
      type="text">
    </template>
</div>
</template>
<script>
import crop from '@/mixins/crop';
import IconPencil from '@/components/common/icons/IconPencil.vue';
import { mapState, mapMutations, mapActions } from 'vuex';

export default {
  name: 'TeamCard',
  mixins: [crop],
  components: {
    IconPencil,
  },
  props: {
    member: {
      type: Object,
    },
    edit: {
      type: Boolean,
    },
    index: {
      type: Number,
    },
  },
  data() {
    return {
      rerendered: true,
      loading: {
        save: false,
        discard: false,
      },
      jobTooltip: false,
      avatar: '',
      previewAvatar: '',
    };
  },
  methods: {
    ...mapActions({
      getCompanyByUrl: 'dataAgency/getCompanyByUrl',
      putData: 'profileAgency/putData',
      addMember: 'dataAgency/addMember',
      pushMember: 'profileAgency/pushMember',
      changeOrder: 'dataAgency/changeOrder',
      deleteMember: 'profileAgency/deleteMember',
    }),
    ...mapMutations({
      updateMember: 'dataAgency/updateMember',
      setMemberValue: 'dataAgency/setMemberValue',
      backupMember: 'dataAgency/backupMember',
      deleteMemberLocal: 'dataAgency/deleteMemberLocal',
    }),
    async forceRender() {
      this.rerendered = false;
      await this.$nextTick();
      this.rerendered = true;
    },
    uploadPhoto(e) {
      if (this.edit) {
        this.setImage(e);
      } else {
        return;
      }
    },
    cropImage() {
      this.previewAvatar = this.$refs.cropper.getCroppedCanvas().toDataURL();
      this.avatar = this.dataURItoBlob(this.previewAvatar);
      this.setMemberValue([this.member.id, 'avatar_team', this.previewAvatar]);
      this.loading.crop = false;
      this.cropModal = false;
      this.forceRender();
    },
    saveMember: async function() {
      this.loading.save = true;
      const formData = new FormData();
      formData.append('company_id', this.member.company_id);
      formData.append('order_id', this.member.order_id);
      formData.append('name', this.member.name);
      formData.append('job', this.member.job);
      formData.append('avatar_team', this.avatar);
      const backupData = Object.assign({}, this.member);
      this.backupMember(backupData);
      await this.pushMember(formData);
      this.loading.save = false;
    },
    deleteTeamMember: async function(data) {
      this.loading.discard = true;
      const formData = Object.assign({}, {company_id: data.company_id, order_id: data.order_id});
      await this.deleteMember(formData);
      this.deleteMemberLocal(this.index);
      this.loading.discard = false;
    },
  },
  computed: {
    name: {
      get() {
        return this.member.name;
      },
      set(value) {
        this.setMemberValue([this.member.id, 'name', value]);
      },
    },
    firstName() {
      const { name } = this.member;
      let fullName = name.split(' ');
      return fullName[0];
    },
    lastName() {
      const { name } = this.member;
      let fullName = name.split(' ');
      if (fullName < 2) {
        return '';
      }
      const lastName = fullName.splice(1).join(' ');
      return lastName;
    },
    job: {
      get() {
        return this.member.job;
      },
      set(value) {
        this.setMemberValue([this.member.id, 'job', value]);
      },
    },
    order: {
      get() {
        return this.member.order_id;
      },
      set(value) {
        this.changeOrder([this.member.id, 'order_id', value]);
      },
    },
    compared() {
      if (this.member.backup) {
        const { backup } = this.member;
        const newData = this.member;
        const params = ['name', 'order_id', 'job', 'avatar_team'];
        const some = params.some(param => backup[param] !== newData[param]);
        return some;
      }
      return false;
    },
  },
};
</script>
<style lang="scss">
@import '~@/assets/scss/bulma/components/modal';
@import '~@/assets/scss/components/crop-box';
.team-card {
  height: 300px;
  min-width: 240px;
  background-color: $N0;
  @include flex-col(space-between, center);
  padding: 22px;
  margin: 0 5px 10px;
  position: relative;
  &__image-wrapper {
    border-radius: 50%;
    margin-bottom: 4px;
    width: 150px;
    height: 150px;
    position: relative;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
  }
  &__col {
    flex: 1 1;
    @include flex-col(center, center);
  }
  &__name {
    font-size: $H600;
    font-weight: 500;
    line-height: 1.3;
    color: $B6;
    overflow: visible;
    width: 195px;
    text-align: center;
    white-space: nowrap;
    &--margin {
      margin-bottom: 8px;
    }
  }
  input.team-card__name {
    width: 160px;
  }
  &__job {
    font-size: $H600;
    font-weight: 500;
    line-height: 18px;
    color: $N13;
    overflow: visible;
    max-width: 195px;
    max-height: 56px;
    text-align: center;
    position: relative;
    white-space: wrap;
    transition-property: color, background-color, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  &__edit-buttons {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__order {
    position: absolute !important;
    width: 32px !important;
    left: 0;
    top: 0;
  }
  &__image-label {
    border-radius: 50%;
    position: relative;
    width: 150px;
    height: 150px;
    cursor: default;
    pointer-events: all;
    background-color: $N8;
    // background-image: url('~@/assets/images/icons/photo-camera.svg');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    &--edit {
      cursor: pointer;
    }
  }
  .cropper-crop-box, .cropper-view-box {
    border-radius: 50% !important;
  }
  &__round-button {
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    top: 6px;
    left: 6px;
    @include flex-row(center, center);
    pointer-events: all;
    z-index: 2;
  }
  &__round-button-icon {
    width: 12px;
    height: 12px;
    fill: $N0;
  }
  &__tooltip {
    text-align: center;
    position: relative;
  }
}
</style>
