<template>
  <div class="my-navigation" @click='closeAll'>
    <sublink
      :style='{ top: sublinkTop + "px" }'
      v-if='show.sublink'
      :email='personal.email'
      :secret='personal.secret'
      @mouseenter.native="show.sublink = true"
      @mouseleave.native="show.sublink = false"/>
    <nav class="my-navigation__panel">
      <div class="my-navigation__panel-row">
        <burger
          class='my-navigation__burger'
          :open='menu'
          @click='toggleMenu'/>
        <a href="#" class="my-navigation__logo">
          <img src="@/assets/images/wambla.png" alt="logo" class="my-navigation__logo-image">
        </a>
      </div>
      <div class="my-navigation__panel-row">
        <language-menu ref='lang' @click.native.stop='closeProfile' class="my-navigation__language-menu"/>
        <profile-menu ref='profile' @click.native.stop='closeLang' class="my-navigation__profile-menu"/>
      </div>
    </nav>
    <transition
      name="custom-classes-transition"
      enter-active-class="animated dur06 slideInLeft"
      leave-active-class="animated dur04 slideOutLeft"
      appear
      mode="out-in">
    <div class="my-navigation__menu" v-if='menu'>
      <div class="my-navigation__section">
        <post-form-button @click.native='closeMenu' :label="$t('navigation.publish')">
          <icon-paper-plane class="my-navigation__link-icon"/>
        </post-form-button>
      </div>
      <div class="my-navigation__section">
        <post-form-button
          @click.native='closeMenu'
          id='facebook'
          @mouseover.native="showSublink('facebook')"
          @mouseleave.native="show.sublink = false"
          label="Facebook">
          <icon-facebook class="my-navigation__link-icon"/>
        </post-form-button>
        <post-form-button
          @click.native='closeMenu'
          id='instagram'
          @mouseover.native="showSublink('instagram')"
          @mouseleave.native="show.sublink = false"
          label="Instagram">
          <icon-instagram class="my-navigation__link-icon"/>
        </post-form-button>
        <post-form-button
          @click.native='closeMenu'
          id='twitter'
          @mouseover.native="showSublink('twitter')"
          @mouseleave.native="show.sublink = false"
          label="Twitter">
          <icon-twitter class="my-navigation__link-icon"/>
        </post-form-button>
      </div>
      <div class="my-navigation__section">
        <post-form-button @click.native='closeMenu' :label="$t('navigation.dashboard')">
          <icon-dashboard class="my-navigation__link-icon"/>
        </post-form-button>
        <n-link
          to='/dashboard'
          class="my-navigation__link"
          @click.native='closeMenu'>
          <icon-mail class="my-navigation__link-icon"/>
          <p class="my-navigation__link-text">{{ $t('navigation.inbox') }}</p>
        </n-link>
        <n-link
          to='/dashboard'
          class="my-navigation__link"
          @click.native='closeMenu'>
          <icon-houses class="my-navigation__link-icon"/>
          <p class="my-navigation__link-text">{{ $t('navigation.object') }}</p>
        </n-link>
        <post-form-button @click.native='closeMenu' :label="$t('navigation.schedules')">
          <icon-calendar class="my-navigation__link-icon"/>
        </post-form-button>
        <n-link
          to='/dashboard'
          class="my-navigation__link"
          @click.native='closeMenu'>
          <icon-stat class="my-navigation__link-icon"/>
          <p class="my-navigation__link-text">{{ $t('navigation.statisctics') }}</p>
        </n-link>
        <n-link
          to='/dashboard'
          class="my-navigation__link"
          @click.native='closeMenu'>
          <icon-megaphone class="my-navigation__link-icon"/>
          <p class="my-navigation__link-text">{{ $t('navigation.affiliate') }}</p>
        </n-link>
      </div>
      <div class="my-navigation__section">
        <n-link
          to='/dashboard'
          class="my-navigation__link"
          @click.native='closeMenu'>
          <icon-search-house class="my-navigation__link-icon"/>
          <p class="my-navigation__link-text">{{ $t('navigation.searches') }}</p>
        </n-link>
        <n-link
          to='/dashboard'
          class="my-navigation__link"
          @click.native='closeMenu'>
          <icon-star2 class="my-navigation__link-icon"/>
          <p class="my-navigation__link-text">{{ $t('navigation.favorites') }}</p>
        </n-link>
      </div>
      <div class="my-navigation__section">
        <n-link
          to='/dashboard'
          class="my-navigation__link"
          @click.native='closeMenu'>
          <icon-id-card class="my-navigation__link-icon"/>
          <p class="my-navigation__link-text">{{ $t('navigation.membership') }}*</p>
        </n-link>
        <post-form-button @click.native='closeMenu' :label="$t('navigation.account')">
          <icon-avatar class="my-navigation__link-icon"/>
        </post-form-button>
         <n-link
          to='/dashboard'
          class="my-navigation__link"
          @click.native='closeMenu'>
          <icon-users class="my-navigation__link-icon"/>
          <p class="my-navigation__link-text">{{ $t('navigation.team') }}</p>
        </n-link>
         <n-link
          to='/dashboard'
          class="my-navigation__link"
          @click.native='closeMenu'>
          <icon-data class="my-navigation__link-icon"/>
          <p class="my-navigation__link-text">{{ $t('navigation.social') }}</p>
        </n-link>
        <post-form-button @click.native='closeMenu' :label="$t('navigation.caption')">
          <icon-command class="my-navigation__link-icon"/>
        </post-form-button>
        <post-form-button @click.native='closeMenu' :label="$t('navigation.file')">
          <icon-folder class="my-navigation__link-icon"/>
        </post-form-button>
         <n-link
          to='/dashboard'
          class="my-navigation__link"
          @click.native='closeMenu'>
          <icon-gear class="my-navigation__link-icon"/>
          <p class="my-navigation__link-text">{{ $t('navigation.settings') }}</p>
        </n-link>
      </div>
    </div>
    </transition>
  </div>
</template>
<script>
import Burger from '@/components/common/buttons/Burger.vue';
import LanguageMenu from '@/components/common/LanguageMenu.vue';
import ProfileMenu from '@/components/profile/components/ProfileMenu.vue';
import IconMail from '@/components/common/icons/IconMail.vue';
import IconPaperPlane from '@/components/common/icons/IconPaperPlane.vue';
import IconFacebook from '@/components/common/icons/IconFacebook.vue';
import IconInstagram from '@/components/common/icons/IconInstagram.vue';
import IconTwitter from '@/components/common/icons/IconTwitter.vue';
import IconDashboard from '@/components/common/icons/IconDashboard.vue';
import IconHouses from '@/components/common/icons/IconHouses.vue';
import IconCalendar from '@/components/common/icons/IconCalendar.vue';
import IconStat from '@/components/common/icons/IconStat.vue';
import IconSearchHouse from '@/components/common/icons/IconSearchHouse.vue';
import IconMegaphone from '@/components/common/icons/IconMegaphone.vue';
import IconStar2 from '@/components/common/icons/IconStar2.vue';
import IconFolder from '@/components/common/icons/IconFolder.vue';
import IconUsers from '@/components/common/icons/IconUsers.vue';
import IconIdCard from '@/components/common/icons/IconIdCard.vue';
import IconAvatar from '@/components/common/icons/IconAvatar.vue';
import IconData from '@/components/common/icons/IconData.vue';
import IconGear from '@/components/common/icons/IconGear.vue';
import IconCommand from '@/components/common/icons/IconCommand.vue';
import PostFormButton from './components/PostFormButton.vue';
import Sublink from '@/components/profile/components/Sublink.vue';
import { api } from '@/api/agency';
import http from 'axios';
import { mapActions, mapState } from 'vuex';

export default {
  name: 'Navigation',
  components: {
    Sublink,
    Burger,
    LanguageMenu,
    ProfileMenu,
    IconMail,
    IconDashboard,
    IconHouses,
    IconCalendar,
    IconStat,
    IconSearchHouse,
    IconMegaphone,
    IconStar2,
    IconUsers,
    IconIdCard,
    IconAvatar,
    IconData,
    IconGear,
    IconFolder,
    IconFacebook,
    IconInstagram,
    IconPaperPlane,
    IconTwitter,
    IconCommand,
    PostFormButton,
  },
  data() {
    return {
      menu: false,
      isMessage: {
        success: false,
        error: false,
      },
      message: '',
      sublinkTop: 0,
      show: {
        sublink: false,
      }
    };
  },
  computed: {
    ...mapState('profileAgency', [
      'personal',
    ]),
    routeName() {
      return this.$route.name;
    },
  },
  methods: {
    ...mapActions({
      getData: 'profileAgency/getData',
    }),
    showSublink(type) {
      const { top } = document.getElementById(type).getBoundingClientRect();
      this.sublinkTop = top - 7;
      this.show.sublink = true;
    },
    posting() {
      const { email, secret } = this.personal;
      const data = { email, secret };
      http.post(api.posting, data)
        .then((resp) => {

          this.$message.success('Success');
          // this.showMessage('success', 'Success')
        })
        .catch((error) => {
          this.$message.error(error);
          // this.showMessage('error', error)
        })
    },
    showMessage(type, text) {
      this.message = text;
      if (this.isMessage[type]) {
        this.isMessage[type] = false;
        setTimeout(() => {
          this.isMessage[type] = true;
          setTimeout(() => {
            this.isMessage[type] = false;
          }, 4000);
        }, 20);
      } else {
        this.isMessage[type] = true;
        setTimeout(() => {
          this.isMessage[type] = false;
        }, 4000);
      }
    },
    toggleMenu() {
      this.menu = !this.menu;
    },
    closeMenu() {
      this.menu = false;
    },
    closeAll() {
      this.$refs.profile.close();
      this.$refs.lang.close();
    },
    closeProfile() {
      this.$refs.profile.close();
    },
    closeLang() {
      this.$refs.lang.close();
    },
  },
  beforeMount() {
    this.getData();
  },
};
</script>
<style lang="scss">
@import '~@/assets/scss/components/navigation';
</style>
