* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @media screen and (min-width: $screen-desktop) {
    // scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    width: 6px;
    background: $N14;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

p,
ul,
ol,
dl {
  margin-bottom: 0;
}

a,
button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-family: $base-font;
  &:hover,
  &:visited,
  &:focus,
  &:link {
    text-decoration: none;
  }
}

a,
button,
input,
textarea,
body {
  font-family: $base-font !important;
}

input,
textarea {
  outline: none;
  &:focus {
    outline: none;
  }
}

body {
  min-height: 100vh;
  line-height: 1.3;
  // overflow-y: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.layer {
  position: fixed;
  top: 0;
  right: 100px;
  bottom: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  z-index: -1;
}
.pop-layer {
  position: fixed;
  top: 0;
  right: 100px;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
img[lazy="loading"] {
  width: 100px;
  height: 100px;
}
.auth {
  @include flex-row(center, center);
  background-color: #ecf0f1;
  min-height: 100vh;
}
