@import 'style';
@import 'base';
@import 'animate';

// @import 'components/listings';
@import 'components/button';


@import 'components/search';

@import 'components/upload';
@import 'components/progress';


@import 'components/notification-absolute';

@import 'components/crop-box';

@import 'bulma/base/generic.sass';
@import 'bulma/base/helpers.sass';
@import 'bulma/elements/_all.sass';
@import 'bulma/elements/icon.sass';
@import 'bulma/elements/form.sass';
@import 'bulma/elements/button.sass';
@import 'bulma/elements/other.sass';
@import 'bulma/elements/box.sass';
@import 'bulma/elements/title.sass';
@import 'bulma/elements/notification.sass';
@import 'bulma/components/modal.sass';
@import url('~/assets/css/vue-foldable.css');

.gm-style-mtc {
  span img {
    margin-bottom: 8px;
  }
}