<template>
  <div class="profile">
  <navigation class='profile__navigation'/>
  <account class='profile__main'/>
</div>
</template>
<script>
import Navigation from '@/components/profile/Navigation.vue';
import Account from '@/components/profile/account/Account.vue';

export default {
  name: 'AgencySettingsPage',
  components: {
    Account,
    Navigation,
  }
}
</script>
<style lang="scss">
.profile {
  @include flex-row(stretch, stretch);
  background-color: $B1;
  &__main {
    flex: 1 1;
    padding: 74px 14px 14px;
    min-height: 100vh;
    overflow-y: auto;
    background-color: $B1;
  }
}
</style>