<template>
<nav class="nav">
  <div class="nav__header">
    <close-button @click.native='close' class="nav__close"/>
    <div class="nav__logo-wrapper">
      <img
        :src="personal.avatar"
        alt="avatar"
        class="nav__logo"
        v-if='personal.avatar'>
    </div>
    <p class="nav__name">{{ personal.name }}</p>
    <a :href="`mailto:${personal.email}`" class="nav__email">{{ personal.email }}</a>
  </div>
  <div class="nav__links">
    <div class="nav__list">
      <post-form-button class="nav__link" :label="$t('navigation.publish')">
        <icon-paper-plane class="nav__link-icon"/>
      </post-form-button>
    </div>
    <div class="nav__list">
      <post-form-button class="nav__link" label="Facebook">
        <icon-facebook class="nav__link-icon"/>
      </post-form-button>
      <post-form-button class="nav__link" label="Instagram">
        <icon-instagram class="nav__link-icon"/>
      </post-form-button>
      <post-form-button class="nav__link" label="Twitter">
        <icon-twitter class="nav__link-icon"/>
      </post-form-button>
    </div>
    <div class="nav__list">
      <post-form-button class="nav__link" :label="$t('navigation.dashboard')">
        <icon-dashboard class="nav__link-icon"/>
      </post-form-button>
      <n-link
        :to='{name: "agency"}'
        class="nav__link">
        <icon-avatar class="nav__link-icon"/>
        <p class="nav__link-text">{{ $t('navigation.profile') }}</p>
      </n-link>
      <n-link
        to='/dashboard'
        class="nav__link">
        <icon-mail class="nav__link-icon"/>
        <p class="nav__link-text">{{ $t('navigation.inbox') }}</p>
      </n-link>
      <n-link
        to='/dashboard'
        class="nav__link">
        <icon-houses class="nav__link-icon"/>
        <p class="nav__link-text">{{ $t('navigation.object') }}</p>
      </n-link>
      <post-form-button class="nav__link" :label="$t('navigation.schedules')">
        <icon-calendar class="nav__link-icon"/>
      </post-form-button>
      <n-link
        to='/dashboard'
        class="nav__link">
        <icon-stat class="nav__link-icon"/>
        <p class="nav__link-text">{{ $t('navigation.statisctics') }}</p>
      </n-link>
      <n-link
        to='/dashboard'
        class="nav__link">
        <icon-megaphone class="nav__link-icon"/>
        <p class="nav__link-text">{{ $t('navigation.affiliate') }}</p>
      </n-link>
    </div>
    <div class="nav__list">
      <n-link
        to='/dashboard'
        class="nav__link">
        <icon-search-house class="nav__link-icon"/>
        <p class="nav__link-text">{{ $t('navigation.searches') }}</p>
      </n-link>
      <n-link
        to='/dashboard'
        class="nav__link">
        <icon-star2 class="nav__link-icon"/>
        <p class="nav__link-text">{{ $t('navigation.favorites') }}</p>
      </n-link>
    </div>
    <div class="nav__list">
      <n-link
        to='/dashboard'
        class="nav__link">
        <icon-id-card class="nav__link-icon"/>
        <p class="nav__link-text">{{ $t('navigation.membership') }}*</p>
      </n-link>
      <n-link
        to='/agency'
        class="nav__link">
        <icon-avatar class="nav__link-icon"/>
        <p class="nav__link-text">{{ $t('navigation.account') }}</p>
      </n-link>
        <n-link
        to='/dashboard'
        class="nav__link">
        <icon-users class="nav__link-icon"/>
        <p class="nav__link-text">{{ $t('navigation.team') }}</p>
      </n-link>
        <n-link
        to='/dashboard'
        class="nav__link">
        <icon-data class="nav__link-icon"/>
        <p class="nav__link-text">{{ $t('navigation.social') }}</p>
      </n-link>
      <post-form-button class="nav__link" :label="$t('navigation.caption')">
        <icon-command class="nav__link-icon"/>
      </post-form-button>
      <post-form-button class="nav__link" :label="$t('navigation.file')">
        <icon-folder class="nav__link-icon"/>
      </post-form-button>
      <n-link
        to='/dashboard'
        class="nav__link">
        <icon-gear class="nav__link-icon"/>
        <p class="nav__link-text">{{ $t('navigation.settings') }}</p>
      </n-link>
    </div>
    <div class="nav__list">
      <a @click.stop.prevent='logout' href="#" class="nav__link">
        <p class="nav__link-text">{{ $t('navigation.logout') }}</p>
      </a>
    </div>
  </div>
</nav>
</template>
<script>
import IconCommand from '@/components/common/icons/IconCommand.vue';
import IconFolder from '@/components/common/icons/IconFolder.vue';
import CloseButton from '@/components/common/buttons/CloseButton.vue';
import PostFormButton from '@/components/profile/components/PostFormButton.vue';
import IconMail from '@/components/common/icons/IconMail.vue';
import IconFacebook from '@/components/common/icons/IconFacebook.vue';
import IconInstagram from '@/components/common/icons/IconInstagram.vue';
import IconTwitter from '@/components/common/icons/IconTwitter.vue';
import IconDashboard from '@/components/common/icons/IconDashboard.vue';
import IconHouses from '@/components/common/icons/IconHouses.vue';
import IconCalendar from '@/components/common/icons/IconCalendar.vue';
import IconStat from '@/components/common/icons/IconStat.vue';
import IconSearchHouse from '@/components/common/icons/IconSearchHouse.vue';
import IconMegaphone from '@/components/common/icons/IconMegaphone.vue';
import IconStar2 from '@/components/common/icons/IconStar2.vue';
import IconUsers from '@/components/common/icons/IconUsers.vue';
import IconIdCard from '@/components/common/icons/IconIdCard.vue';
import IconAvatar from '@/components/common/icons/IconAvatar.vue';
import IconData from '@/components/common/icons/IconData.vue';
import IconGear from '@/components/common/icons/IconGear.vue';
import IconPaperPlane from '@/components/common/icons/IconPaperPlane.vue';
import { mapState, mapActions } from 'vuex';

export default {
  name: 'Menu',
  components: {
    CloseButton,
    PostFormButton,
    IconFacebook,
    IconInstagram,
    IconTwitter,
    IconMail,
    IconFacebook,
    IconInstagram,
    IconTwitter,
    IconDashboard,
    IconHouses,
    IconCalendar,
    IconStat,
    IconSearchHouse,
    IconMegaphone,
    IconStar2,
    IconUsers,
    IconIdCard,
    IconAvatar,
    IconData,
    IconGear,
    IconCommand,
    IconFolder,
    IconPaperPlane,
  },
  methods: {
    ...mapActions('auth', [
      'AUTH_LOGOUT',
    ]),
    close() {
      this.$emit('close');
    },
    logout() {
      this.AUTH_LOGOUT({ vm: this }).then(() => {
        this.$router.push('/auth');
      })
    },
  },
  computed: {
    ...mapState('profileAgency', [
      'personal',
    ]),
  },
};
</script>
<style lang="scss">
$nav: nav;
.#{$nav} {
  width: 275px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $N4;
  z-index: 12;
  @include flex-col(stretch, stretch);
  &__header {
    background-color: $B1;
    @include flex-col(center, center);
    padding: 22px;
    position: relative;
  }
  &__logo-wrapper {
    margin-bottom: 14px;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: $N0;
    overflow: hidden;
  }
  &__logo {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }
  &__name {
    font-size: $H600;
    font-weight: 500;
    margin-bottom: 8px;
    color: $N18;
  }
  &__email {
    font-size: $H200;
    font-weight: 500;
    color: $N15;
  }
  &__list {
    padding: 14px 20px;
    border-bottom: 1px solid $N9;
  }
  &__link {
    @include flex-row(flex-start, center);
    margin-bottom: 16px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: $screen-desktop) {
      &:hover .#{$nav} {
        &__link-text {
          color: $G2;
        }
        &__link-icon {
          fill: $G2;
        }
      }
    }
    &:active .#{$nav} {
      &__link-text {
        color: $G4;
      }
      &__link-icon {
        fill: $G4;
      }
    }
  }
  &__link-icon {
    fill: $B5;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 18px;
    transition: fill ease-in-out 0.2s;
  }
  &__link-text {
    color: $B5;
    font-size: $H600;
    font-weight: 500;
    transition: color ease-in-out 0.2s;
  }
  &__close {
    position: absolute;
    top: 16px;
    left: 16px;
  }
  &__links {
    overflow-y: auto;
  }
}
</style>
