<template>
  <nav class="home-navigation">
    <transition
      name="custom-classes-transition"
      enter-active-class="animated dur02 slideInRight"
      leave-active-class="animated dur03 slideOutRight"
      mode="out-in">
    <agency-menu @close='closeMenu' v-if='menu'/>
    </transition>
      <div class="home-navigation__head">
        <span class='home-navigation__logo'>
          <img src='@/assets/images/Wambla-logo.png' class="home-navigation__logo-image" alt="logo">
        </span>
        <div class="home-navigation__inner">
          <language-menu ref='lang' class="home-navigation__lang-menu" :class='{"is-auth": isAuthenticated}'/>
          <div class="home-navigation__buttons" v-if='!isAuthenticated && !isAdminAuthenticated'>
            <n-link to='/auth' href="#" class="home-navigation__link">Login</n-link>
            <n-link to='/auth/signup' class="home-navigation__button">Register</n-link>
          </div>
          <button
            class='home-navigation__menu-button'
            v-if='isAuthenticated'
            @click='openMenu'>
            <img class='home-navigation__menu-button-image' :src="agency.user.avatar" alt="avatar" v-if='agency.user.avatar'>
          </button>
        </div>
      </div>
      <div class="home-navigation__bread">
        <ul class="home-navigation__list" v-if='$route.name === "object-details"'>
          <li class="home-navigation__item">
            <n-link to='/'>
              <icon-home class='home-navigation__icon'/>
            </n-link>
          </li>
          <li class="home-navigation__item" v-if='!!object.country'>
            <icon-angle-right class="home-navigation__angle"/>
            <n-link
              to="#"
              class="home-navigation__text">{{ object.country }}
            </n-link>
          </li>
          <li class="home-navigation__item" v-if='!!object.city'>
            <icon-angle-right class="home-navigation__angle"/>
            <n-link
              to="#"
              class="home-navigation__text">{{ object.city }}
            </n-link>
          </li>
          <li class="home-navigation__item" v-if='!!object.address'>
            <icon-angle-right class="home-navigation__angle"/>
            <n-link
              to="#"
              class="home-navigation__text">{{ object.address }}
            </n-link>
          </li>
        </ul>
        <ul class="home-navigation__list" v-else>
          <li class="home-navigation__item">
            <n-link to='/'>
              <icon-home class='home-navigation__icon'/>
            </n-link>
          </li>
          <li class="home-navigation__item" v-if="$store.getters['dataAgency/getCompanyName']">
            <icon-angle-right class="home-navigation__angle"/>
            <n-link
              :to="`/${$route.params.url}`"
              class="home-navigation__text">{{ $store.getters['dataAgency/getCompanyName'] }}
            </n-link>
          </li>
          <li class="home-navigation__item" v-if="$store.getters['dataAgency/getObjectName']">
            <icon-angle-right class="home-navigation__angle"/>
            <n-link
              :to="`/${$route.params.url}/${$route.params.id}`"
              class="home-navigation__text">{{ $store.getters['dataAgency/getObjectName'] }}
            </n-link>
          </li>
        </ul>
      </div>
    </nav>
</template>
<script>
import IconHome from '@/components/common/icons/IconHome.vue';
import IconAngleRight from '@/components/common/icons/IconAngleRight.vue';
import LanguageMenu from '@/components/common/LanguageMenu.vue';
import AgencyMenu from '@/components/common/AgencyMenu.vue';
import { mapState, mapGetters } from 'vuex';

export default {
  name: 'HomeNavigation',
  components: {
    LanguageMenu,
    AgencyMenu,
    IconHome,
    IconAngleRight,
  },
  data() {
    return {
      menu: false,
    };
  },
  computed: {
    ...mapState({
      agency: state => state.dataAgency.company,
      object: state => state.dataAgency.objectDetails.full,
    }),
    ...mapGetters({
      isAuthenticated: 'auth/isAuthenticated',
      isAdminAuthenticated: 'auth/isAdminAuthenticated',
    }),
  },
  methods: {
    openMenu() {
      this.$refs.lang.close();
      this.menu = true;
    },
    closeMenu() {
      this.menu = false;
    },
    getBreadcrumb: function (bc) {
      return typeof bc === 'function' ? bc.call(this, this.$route.params) : bc;
    },
  },
}
</script>
<style lang="scss">
$styles: home-navigation;
.#{$styles} {
  padding: 12px 10px 0;
  width: 100%;
  &__logo {
    height: 40px;
  }
  &__logo-image {
    height: 100%;
    width: auto;
  }

  &__menu-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background-color: white;
  }
  &__menu-button-image {
    @extend %image-round;
  }
  &__head {
    @include flex-row(space-between, center);
    padding-bottom: 14px;
    border-bottom: 1px solid $N0;
    padding-top: 4px;
  }
  &__bread {
    padding-top: 9px;
  }
  &__list {
    @include flex-row(flex-start, center);
    list-style: none;
  }
  &__item {
    margin-right: 12px;
    @include flex-row(flex-start, center);
  }
  &__icon {
    width: 20px;
    height: 20px;
    fill: $N0;
  }
  &__angle {
    width: 8px;
    height: 8px;
    fill: $N0;
    margin-right: 9px;
  }
  &__text {
    font-size: $H400;
    color: $N0;
    transition: color ease-in-out 0.2s;
    &:hover {
      color: darken($N0, 5%);
    }
  }
  &__link {
    font-size: $H500;
    font-weight: 500;
    color: $N0;
    margin-right: 24px;
    transition: color ease-in-out 0.2s;
    @media screen and (min-width: $screen-desktop) {
      &:hover {
        color: darken($N0, 5%);
      }
    }
  }
  &__button {
    font-size: $H500;
    font-weight: 500;
    color: $N0;
    padding: 8px 22px;
    border: 1px solid $N0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.13);
    transition: background-color ease-in-out 0.2s;
    @media screen and (min-width: $screen-desktop) {
      &:hover {
        background-color: transparent;
        color: darken($N0, 5%);
      }
    }
  }
  &__button-wrapper {
    position: absolute;
    top: 16px;
    left: 12px;
    @include flex-row(flex-start, center);
  }
  
  &__inner {
    align-self: center;
    max-height: 40px;
    @include flex-row(flex-start, center);
  }
  &__lang-menu {
    margin: 0 4px 0 16px;
    padding: 8px 0;
    order: 2;
    .language-menu__arrow {
      fill: $N0;
    }
    &.is-auth {
      order: 0;
      margin: 0 16px 0 0;
      padding: 8px 16px 8px 0;
      border-right: 1px solid #ffffff;
    }
  }
}
</style>
