%account-card {
  background-color: $N0;
  padding: 22px;
}

%account-title {
  font-size: $H800;
  font-weight: 500;
  color: $N100;
  margin-bottom: 12px;
}

%account-label {
  color: #8b8b8b;
  font-size: $H300;
  font-weight: 500;
  margin-bottom: 8px;
}

%account-input {
  width: 100%;
  height: 50px;
  background-color: $N3;
  padding: 7px 12px;
  @include flex-row(flex-start, flex-end);
  color: $N18;
  font-size: $H500;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid $B1; 
  outline: none;
  box-shadow: none;
}