$agency-edit: agency-edit;
.#{$agency-edit} {
  @include flex-row(stretch, flex-start);
  flex-wrap: wrap;
  position: relative;
  &__wrapper {
    padding-left: 286px !important;
  }
  &__title {
    @extend %account-title;
    width: 100%;
    margin-bottom: 16px;
  }
  &__card {
    @extend %account-card;
    margin-bottom: 28px;
    min-height: 340px;
    position: relative;
    &--large {
      flex: 0 0 54%;
      margin-right: 1%;
    }
    &--small {
      flex: 0 0 45%;
    }
    &--margin-less {
      margin-bottom: 16px;
    }
    &--flex {
      min-height: auto;
    }
  }
  &__image-wrapper {
    width: 113px;
    height: 113px;
    margin-right: 24px;
    flex-shrink: 0;
    background-color: gray;
    @extend %image-wrapper;
    cursor: pointer;
    position: relative;
  }
  &__image {
    @extend %image;
  }
  &__image-round {
    @extend %image-round;
  }
  &__edit-button {
    margin-left: 16px;
    color: $B3;
    @media screen and (min-width: $screen-desktop) {
      &:hover {
        color: $B2;
      }
    }
    &:active {
      color: $B4;
    }
  }
  &__row {
    @include flex-row(flex-start, center);
    &--head {
      margin-bottom: 28px;
    }
    &--margin {
      margin-bottom: 24px;
    }
    &--input-email {
      margin-bottom: 8px;
    }
  }
  &__input-name {
    font-size: $H600;
    color: $B6;
    font-weight: 500;
    margin-bottom: 6px;
  }
  &__input-wrapper {
    @include flex-row(space-between, center);
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    &--fake {
      @extend %account-input;
      align-items: center;
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
  &__input-transparent {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    margin-right: 14px;
    padding-left: 12px;
    color: $N100;
    font-weight: 500;
    font-size: $H800;
    width: 80%;
    flex: 0 1 80%;
    border-bottom: 1px solid transparent;
    transition: border-color ease-in-out 0.2s;
    &::placeholder {
      color: $N10;
      font-weight: 400;
      font-size: $H400;
    }
    &--no-padding {
      margin: 0;
      padding: 0;
    }
    &--success {
      border-color: $G2;
    }
    &--password {
      margin: 0;
      padding: 0;
      background-color: $N3;
      border-bottom: 1px solid $B1;
    }
    &--error {
      border-color: $P1;
    }
  }
  &__input {
    @extend %account-input;
    width: 100%;
    flex: 1 1;
    &--password {
      margin: 0;
      padding: 0;
      max-width: 80%;
    }
  }
  &__label {
    @extend %account-label;
  }
  &__label-required {
    @extend %account-label;
    color: $O1;
  }
  &__label-box {
    display: block;
    position: relative;
    flex: 0 1 50%;
    &:first-child {
      margin-right: 12px;
    }
    &--fluid {
      flex: 1 1 100%;
      margin-right: 0;
      &:first-child {
        margin-right: 0;
      }
    }
    &--margin {
      margin-bottom: 16px;
    }
  }
  &__link-text {
    font-size: $H600;
    color: $N17;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 6px;
    &--margin {
      margin-bottom: 12px;
    }
  }
  &__text {
    font-size: $H600;
    color: $N17;
    font-weight: 500;
    &--site-link {
      margin-bottom: 6px;
    }
    &--site-url {
      color: $N100;
    } 
  }
  &__input-url {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: $H600;
    color: $N100;
    font-weight: 500;
    position: relative;
  }
  &__url-button {
    margin-bottom: 16px;
  }
  &__upload-item {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 24px;
    }
  }
  &__upload-wrapper {
    margin-bottom: 24px;
    position: relative;
  }
  &__col {
    &--1-2 {
      min-width: 300px;
      width: 50%;
      margin-bottom: 20px;
    }
    &--personal {
      width: 80%;
    }
  }
  &__icon-check-wrapper {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background-color: #3db321;
    border-radius: 50%;
    @include flex-row(center, center);
  }
  &__icon-check {
    width: 12px;
    height: 12px;
    fill: $N0;
  }
  &__upload-logo-wrapper {
    width: 100% !important;
    &--margin {
      margin-top: 16px !important;
    }
  }
  &__card-col {
    flex: 0 0 45%;
  }
  &__lang-item {
    @include flex-row(space-between, center);
    margin-bottom: 12px;
  }
  &__checkbox-label {
    @extend %checkbox-label;
  }
  &__checkbox-input {
    @extend %checkbox-input;
    &:checked + .#{$agency-edit}__checkbox-cell {
      @extend %checkbox-cell-select;
      .#{$agency-edit}__checkbox-icon {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__checkbox-cell {
    @extend %checkbox-cell;
  }
  &__checkbox-icon {
    @extend %checkbox-icon;
  }
  &__checkbox-text {
    @extend %checkbox-text;
  }
  &__buttons-wrapper {
    @include flex-row(center, center);
    &--absolute {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }
  &__button {
    margin-right: 20px;
  }
  &__notification {
    position: fixed !important;
    top: 80px;
    z-index: 20;
    right: 50px;
  }
  &__icon-star {
    width: 18px;
    height: 18px;
    cursor: pointer;
    fill: $N10;
    margin-left: 8px;
    transition: ease-in-out fill 0.2s;
    &--active {
      fill: $O1;
    }
  }
  &__map-wrapper {
    width: 100%;
    height: 300px;
    iframe {
      width: 100%;
      height: 300px;
    }
    margin-bottom: 24px;
  }
  &__map {
    width: 100%;
    height: 100%;
  }
  &__crop {
    .cropper-crop-box, .cropper-view-box {
      border-radius: 50% !important;
    }
  }
  &__round-button-logo {
    left: -12px !important;
    right: auto;
    top: -10px !important;
  }
  &__round-button-icon {
    width: 12px;
    height: 12px;
    fill: $N0;
  }
  &__message-url {
    @include text($H300, #ef6c05, 500);
    margin-bottom: 12px;
  }
  &__form {
    margin-top: 6px;
  }
}