%card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  background-color: $N0;
  padding: 20px 16px;
}

%card-title {
  font-size: $H800;
  font-weight: 500;
  color: $N18;
}

%card-icon-light {
  width: 16px;
  height: 16px;
  fill: #3c475b;
}

%card-icon-dark {
  width: 16px;
  height: 16px;
  fill: #7a7a7a;
}
