%checkbox-label {
  @include flex-row(flex-start, center);
  position: relative;
  z-index: 2;
  cursor: pointer;
}
%checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  top: 2px;
  left: 2px;
}
%checkbox-cell {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 2px solid #0101018a;
  background-color: $N0;
  @include flex-row(center, center);
  transition-property: color, background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
%checkbox-cell-select {
  background-color: $G4;
  border-color: $G4;
}
%checkbox-icon {
  width: 12px;
  height: 12px;
  fill: $N0;
  transition-property: fill, visibility, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  visibility: hidden;
  opacity: 0;
}

%checkbox-text {
  font-size: $H500;
  font-weight: 500;
  color: #1e293d;
  margin-left: 12px;
}