.drop-input {
  @include flex-row(flex-start, center);
  margin-bottom: 8px;
  &__drop {
    position: relative;
  }
  &__icon {
    width: 22px;
    height: 22px;
    &--margin-right {
      margin-right: 8px;
    }
  }
  &__wrapper {
    @extend %account-input;
    align-items: center;
    margin-right: 10px;
  }
  &__list {
    position: absolute;
    z-index: 11;
    left: -12px;
    top: 140%;
    list-style: none;
    background-color: $N0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    padding: 6px 12px;
    text-align: center;
  }
  &__item {
    cursor: pointer;
    margin-bottom: 6px;
    &:last-child {
      margin: 0;
    }
  }
  &__input {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 12px;
    color: $N18;
    font-size: $H500;
    font-weight: 500;
    width: 90%;
    flex: 0 1 90%;
    &--phone {
      input {
        background-color: $N3;
      }
      padding-left: 0;
      background-color: $N3;
    }
  }
  &__drop-placeholder {
    @include flex-row(flex-start, center);
  }
  &__arrow {
    transition-property: transform, rotate;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    width: 12px;
    height: 12px;
    fill: $B5;
  }
  &__icon-check-wrapper {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background-color: #3db321;
    border-radius: 50%;
    margin-right: 8px;
    transition: ease-in-out background-color 0.2s;
    @include flex-row(center, center);
  }
  &__icon-check {
    width: 12px;
    height: 12px;
    fill: $N0;
    transition: ease-in-out fill 0.2s;
  }
  &__icon-star {
    width: 18px;
    height: 18px;
    cursor: pointer;
    fill: $N10;
    transition: ease-in-out fill 0.2s;
    &--active {
      fill: $O1;
    }
  }
  &__box {
    width: 100%;
    position: relative;
  }
  &__input.vue-tel-input {
    border: none;
    &:focus-within {
      border: none;
      background-color: $N3;
      box-shadow: none;
    }
    &:focus {
      border: none;
      background-color: default;
    }
    margin-right: 6px;
    input {
      color: $N18;
      font-size: $H500;
      font-weight: 500;
    }
  }
}