%image-wrapper {
  border-radius: 50%;
}
%image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
%image-round {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}