$progress-bar-background-color: #e7e7e7 !default;
$progress-value-background-color: #50d544 !default;

$progress-indeterminate-duration: 1.5s !default;

.progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 2.5px;
  display: block;
  height: 6px;
  padding: 0;
  background-color: $progress-bar-background-color;
  transition-property: width, background-color, box-shadow;
  transition-duration: 5s;
  transition-timing-function: ease; 
  &::-webkit-progress-bar {
    background-color: transparent;
  }
  &::-webkit-progress-value {
    background-color: $progress-value-background-color;
    box-shadow: 0 4px 4px 0 rgba(80, 213, 68, 0.36);
  }
  &::-moz-progress-bar {
    background-color: $progress-value-background-color;
    box-shadow: 0 4px 4px 0 rgba(80, 213, 68, 0.36);
  }
  &::-ms-fill {
    background-color: $progress-value-background-color;
    box-shadow: 0 4px 4px 0 rgba(80, 213, 68, 0.36);
    border: none;
  }
  &::-webkit-progress-value {
    background-color: #50d544;
  }
  &::-moz-progress-bar {
    background-color: #50d544;
  }
  &::-ms-fill {
    background-color: #50d544;
  }
  &:indeterminate {
    background-image: linear-gradient(to right, #50d544 30%, $progress-bar-background-color 30%);
  }
  &:indeterminate {
    animation-duration: $progress-indeterminate-duration;
    animation-iteration-count: infinite;
    animation-name: moveIndeterminate;
    animation-timing-function: linear;
    background-color: $progress-bar-background-color;
    background-image: linear-gradient(to right, #50d544 30%, $progress-bar-background-color 30%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150% 150%;
  }
  &::-webkit-progress-bar {
    background-color: transparent;
  }
  &::-moz-progress-bar {
    background-color: transparent;
  }
}

// @keyframes moveIndeterminate {
//   from {
//     background-position: 200% 0;
//   }
//   to {
//     background-position: -200% 0;
//   }
// }