.search {
  display: block;
  position: relative;
  &__input {
    width: 100%;
    height: 36px;
    background-color: $N3;
    padding: 4px 12px 4px 40px;
    @include flex-row(flex-start, flex-end);
    color: $N18;
    font-size: $H500;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid $B1; 
    outline: none;
    box-shadow: none;
  }
  &__icon {
    position: absolute;
    left: 8px;
    top: 10px;
    width: 16px;
    height: 16px;
    fill: #8b8b8b;
  }
}