%social-link {
  width: 48px;
  height: 48px;
  background-color: $N6;
  border-radius: 50%;
  @include flex-row(center, center);
  @media screen and (min-width: $screen-desktop) {
    &:hover svg {
      fill: $N19;
    }
  }
}

%social-icon {
  fill: $N13;
  width: 18px;
  height: 18px;
  transition: fill ease-in-out 0.2s;
}