.upload {
  width: 50%;
  &__gallery {
    img {
      width: 45px;
      height: 45px;
      object-fit: cover;
      margin-right: 10px;
    }
  }
  &__text {
    font-size: $H400;
    font-weight: 500;
    color: #8b8b8b;
  }
  &__button {
    font-size: $H400;
    font-weight: 500;
    color: #26b019;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: none;
  }
  &__form {
    height: 100px;
    width: 100%;
    min-width: 275px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 3px dashed #dae5e7;
    border-radius: 5px;
    position: relative;
    transition: border-color ease-in-out 0.3s;
    @include flex-row(center, center);
    &--highlight {
      border-color: #8add82;
    }
  }
  &__input {
    display: none;
  }
  &__item {
    width: 100%;
    margin-bottom: 28px;
    @include flex-row(space-between, center);
  }
  &__item-text {
    font-weight: 500;
    font-size: $H300;
    color: #1e293d;
    transition: color ease-in-out 0.2s;
    margin: 5px 0;
    overflow: hidden;
    max-height: 24px;
    word-break: break-all;
    width: 100%;
    &--load {
      color: #9b9b9b;
    }
  }
  &__icon-remove {
    fill: #d0021b;
    flex: 0 0 18px;
    height: 18px;
    margin-left: 10px;
    cursor: pointer;
  }
  &__badge {
    flex: 0 0 45px;
    height: 45px;;
    border-radius: 5px;
    background-color: #87c981;
    @include flex-row(center, center);
    margin-right: 10px;
    overflow: hidden;
  }
  &__form-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    opacity: 0.2;
    object-position: center;
    pointer-events: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    z-index: 0;
  }
  &__badge-text {
    text-transform: uppercase;
    color: $N0;
    font-weight: 600;
    font-size: $H200;
  }
  &__progress {
    width: 100%;
  }
  &__progress-wrapper {
    flex: 1 1 calc(100% - 83px);
    @include flex-col(flex-end, flex-start);
    flex-wrap: wrap;
  }
  &__plus-wrapper {
    position: absolute;
    z-index: 3;
    width: 45px;
    height: 45px;
    top: -24px;
    right: 20px;
    background-color: #26b019;
    border-radius: 50%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    @include flex-row(center, center);
  }
  &__plus {
    width: 18px;
    height: 18px;
    fill: $N0;
    pointer-events: none;
  }
}