.crop-box {
  display: flex;
  &__buttons-wrapper {
    padding-top: 16px;
    @include flex-row(flex-start, center);
    * {
      transition: all ease-in-out 0.2s;
    }
  }
  &__button {
    transition: all ease-in-out 0.2s;
    margin-right: 16px;
    &:last-child {
      margin-right: 16px;
    }
  }
  &__content {
    overflow: visible;
    &--round {
      .cropper-crop-box, .cropper-view-box {
        border-radius: 50% !important;
      }
    }
  }
  &__info {
    margin-top: 12px;
  }
}