.languages {
  position: relative;
  z-index: 9;
  &__list {
    min-width: 400px;
    position: absolute;
    z-index: 9;
    right: 100%;
    bottom: 140%;
    list-style: none;
    background-color: $N0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    padding: 12px 24px;
    text-align: center;
    max-height: 300px;
    overflow-y: auto;
  }
  &__item {
    color: $N18;
    font-size: $H500;
    font-weight: 500;
    padding: 5px 0;
    cursor: pointer;
    transition: color ease-in-out 0.2s;
    &:hover {
      color: $N15;
    }
    &:active {
      color: $N100;
    }
  }
}