$styles: my-navigation;
.#{$styles} {

  &__panel {
    position: fixed;
    z-index: 11;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    @include flex-row(space-between, center);
    padding: 0 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);
    background-color: $N0;
  }
  &__panel-row {
    @include flex-row(flex-start, center);
  }
  &__burger {
    margin-right: 22px;
  }
  &__logo {
    height: 30px;
  }
  &__logo-image {
    height: 100%;
    width: auto;
  }
  &__language-menu {
    margin-right: 16px;
  }
  &__profile-menu {
    border-left: 1px solid #e5e5e5;
    padding-left: 16px;
  }
  &__menu {
    position: fixed;
    z-index: 9;
    width: 275px;
    left: 0;
    height: calc( 100vh - 60px);
    top: 60px;
    bottom: 0;
    background-color: $N4;
    box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.19);
    overflow-y: auto;
    padding-bottom: 24px;
  }
  &__section {
    padding: 22px 20px;
    border-bottom: 1px solid $N777;
  }
  &__button-wrapper {
    margin-bottom: 18px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    @include flex-row(flex-start, center);
    margin-bottom: 18px;
    &--active {
      .#{$styles} {
        &__link-text {
          color: $G4;
        }
        &__link-icon {
          fill: $G4;
        }
      }
    }
    &--sublink-wrapper {
      position: relative;
    }
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: $screen-desktop) {
      &:hover .#{$styles} {
        &__link-text {
          color: $G2;
        }
        &__link-icon {
          fill: $G2;
        }
      }
    }
    &:active .#{$styles} {
      &__link-text {
        color: $G4;
      }
      &__link-icon {
        fill: $G4;
      }
    }
  }
  &__link-icon {
    fill: $B5;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 18px;
    transition: fill ease-in-out 0.2s;
  }
  &__link-text {
    color: $B5;
    font-size: $H600;
    font-weight: 500;
    transition: color ease-in-out 0.2s;
  }
  &__notification {
    position: fixed !important;
    top: 72px;
    z-index: 20;
    left: 285px;
  }
  &__sublink-wrapper {
    position: relative;
    overflow: visible;
  }
}