<template>
<client-only>
<div class="agency-edit__wrapper">
  <transition
    name="custom-classes-transition"
    enter-active-class="animated dur02 fadeIn"
    leave-active-class="animated dur03 fadeOut"
    mode="out-in">
  <div class="modal crop-box" v-if='cropModal'>
    <div class="modal-background"></div>
    <div
      class="modal-content crop-box__content"
      :class='{"agency-edit__crop": imageType === "avatar"}'>
      <vue-cropper
        ref='cropper'
        :guides="true"
        drag-mode="crop"
        :aspectRatio='imageType === "avatar"?1 / 1:NaN'
        :viewMode='0'
        :rotatable="true"
        :background="false"
        :src="previewImage"
        alt="Source Image">
      </vue-cropper>
      <span class="tag is-info crop-box__info">Toggle drag mode between "crop" and "move" when click twice on the cropper</span>
      <div class="crop-box__buttons-wrapper">
        <button
          class="button is-link crop-box__button"
          @click="preCropImage"
          :class='{"is-loading": loading.crop}'>
          <span class="icon is-small">
            <i class="fas fa-crop"></i>
          </span>
          <span>Crop</span>
        </button>
        <a
          class="button crop-box__button"
          @click="rotate">
          <span class="icon is-small">
            <i class="fas fa-sync-alt"></i>
          </span>
          <span>Rotate</span>
        </a>
        <div class="field has-addons">
          <p class="control">
            <a
              class="button"
              @click.prevent='zoomOut'>
              <span class="icon is-small">
                <i class="fas fa-search-minus"></i>
              </span>
              <span>Zoom out</span>
            </a>
          </p>
          <p class="control">
            <a
              class="button"
              @click.prevent='zoomIn'>
              <span class="icon is-small">
                <i class="fas fa-search-plus"></i>
              </span>
              <span>Zoom In</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      @click='cropModal = false'></button>
  </div>
  </transition>
  <div class='agency-edit'>
    <div
      class="animated dur04 bounceIn is-small notification is-success agency-edit__notification"
      v-if='isSuccess'
      key='success'>
      <button @click='isSuccess = false' class="delete"></button>
      {{ $t('account.messages.save') }}
    </div>
    <div
      class="animated dur04 bounceIn is-small notification is-warning agency-edit__notification"
      v-if='isError'
      key='error'>
      <button @click='isError = false' class="delete"></button>
      {{ $t('account.messages.error_save') }}
    </div>
    <div class="agency-edit__card agency-edit__card--large">
      <h3 class="agency-edit__title">{{ $t('account.text.personal') }}</h3>
      <div class="agency-edit__row agency-edit__row--head">
        <label class="agency-edit__image-wrapper">
          <img
            :src="personal.avatar"
            alt="logo"
            class="agency-edit__image-round"
            v-if='personal.avatar'>
          <input
            type="file"
            class='upload__input'
            id="fileElemAvatar"
            ref="inputAvatar"
            @change="setImage($event, 'avatar')"
            accept="image/*"/>
          <edit-button
            @click.native.prevent="editAvatar(personal.id)"
            :disabled='!personal.avatar'
            class="agency-edit__round-button"/>
        </label>
        <div class="agency-edit__col agency-edit__col--personal">
          <p class="agency-edit__input-name">{{ $t('account.text.email') }}</p>
          <div class="agency-edit__input-wrapper">
            <input
              ref='email'
              type="email"
              autocomlete='autocomplete_off_hack_xfr4!k'
              class="agency-edit__input-transparent agency-edit__input-transparent--no-padding"
              :class="{'agency-edit__input-transparent--error': !readyEmail && email}"
              v-model='email'
              :disabled='disabled.email'>
            <transition
              name="custom-classes-transition"
              enter-active-class="animated dur02 fadeIn"
              leave-active-class="animated dur02 fadeOut"
              mode="out-in">
            <subtle
              class="agency-edit__edit-button"
              @click.native='edit("email")'
              v-if='disabled.email'
              key='edit'>{{ $t('account.buttons.edit') }}
            </subtle>
            <div class="agency-edit__row" key='box' v-else>
              <subtle
                class="agency-edit__edit-button has-text-success"
                @click.native='savePersonal("email", email)'
                :disabled='!readyEmail'
                key='save'>{{ $t('account.buttons.save') }}
              </subtle>
              <subtle
                class="agency-edit__edit-button"
                @click.native='disabled.email = true'
                key='cancel'>{{ $t('buttons.cancel') }}
              </subtle>
            </div>
            </transition>
          </div>
          <p class="agency-edit__input-name">{{ $t('account.text.password') }}</p>
          <div class="agency-edit__input-wrapper">
            <input
              ref='password'
              autocomlete='autocomplete_off_hack_xfr4!k'
              type="password"
              class="agency-edit__input-transparent agency-edit__input-transparent--no-padding"
              :disabled='disabled.password'
              v-if='disabled.password'
              placeholder="*************"
              v-model='passwordCurrent'>
            <input
              ref='password'
              autocomlete='autocomplete_off_hack_xfr4!k'
              type="password"
              class="agency-edit__input agency-edit__input--password"
              :class="{'agency-edit__input-transparent--error': !readyPasswordCurrent && passwordCurrent}"
              :placeholder="$t('account.text.password_current')"
              v-else
              v-model='passwordCurrent'>
            <transition
              name="custom-classes-transition"
              enter-active-class="animated dur02 fadeIn"
              leave-active-class="animated dur02 fadeOut"
              mode="out-in">
            <subtle
              class="agency-edit__edit-button"
              @click.native='edit("password")'
              v-if='disabled.password'
              key='edit'>{{ $t('account.buttons.edit') }}
            </subtle>
            <subtle
              class="agency-edit__edit-button has-text-success"
              @click.native='savePersonal("password", [passwordCurrent, passwordNew])'
              v-else
              :disabled='!readyPassword'
              key='save'>{{ $t('account.buttons.save') }}
            </subtle>
            </transition>
          </div>
          <div v-if='!disabled.password' class="agency-edit__input-wrapper">
            <input
              ref='password'
              type="password"
              autocomlete='autocomplete_off_hack_xfr4!k'
              class="agency-edit__input agency-edit__input--password"
              :class="{'agency-edit__input-transparent--error': !readyPasswordNew && passwordNew}"
              :placeholder="$t('account.text.password_new')"
              v-model='passwordNew'>
            <subtle
              class="agency-edit__edit-button"
              @click.native='cancelPassword'
              key='cancel'>{{ $t('buttons.cancel') }}
            </subtle>
          </div>
        </div>
      </div>
      <div class="agency-edit__row">
        <label class="agency-edit__label-box">
          <p class="agency-edit__label">{{ $t('account.text.name_first') }}</p>
          <input
            type="text"
            autocomlete='autocomplete_off_hack_xfr4!k'
            class="agency-edit__input"
            v-model='name'>
        </label>
        <label class="agency-edit__label-box">
          <p class="agency-edit__label">{{ $t('account.text.name_last') }}</p>
          <input
            type="text"
            autocomlete='autocomplete_off_hack_xfr4!k'
            class="agency-edit__input"
            v-model='surname'>
        </label>
      </div>
    </div>
    <div class="agency-edit__card agency-edit__card--small">
      <h3 class="agency-edit__title">Your page URL</h3>
      <n-link :to='`/${url}`' class="agency-edit__link-text agency-edit__link-text--margin"
      >https://wambla.com/<input
        @click.stop.prevent
        type="text"
        class="agency-edit__input-url"
        :value='url'
        disabled/>
      </n-link>
      <div class="upload agency-edit__upload-logo-wrapper">
        <div class='upload__area'>
          <p class="agency-edit__label">{{ $t('account.text.logo') }}</p>
          <form
            class="my-form upload__form"
            :class='{"upload__form--highlight": uploadLogo.highlight}'
            @dragenter.prevent.stop="uploadLogo.highlight = true"
            @dragover.prevent.stop="uploadLogo.highlight = true"
            @dragleave.prevent.stop="uploadLogo.highlight = false"
            ref="dragLogo"
            @drop.prevent="handleDropLogo">
            <p class="upload__text" v-html='$t("account.text.drop")'></p>
            <label class="upload__button" for="fileElemLogo">
              {{ $t('account.buttons.drop') }}
            </label>
            <input
              type="file"
              class='upload__input'
              id="fileElemLogo"
              ref="inputLogo"
              @change="setImage($event, 'logo')"
              accept="image/*"/>
            <label
              for="fileElemLogo"
              class="upload__plus-wrapper"
              :class='{"spin": loading.logo}'>
              <icon-plus class="upload__plus"/>
            </label>
            <img
              :src="company.logo"
              alt="logo"
              v-if='company.logo'
              class="upload__form-image">
          <edit-button
            @click.native.prevent="editLogo(company.id)"
            :disabled='!company.logo'
            class="agency-edit__round-button-logo"/>
          </form>
        </div>
      </div>
    </div>
    <h3 class="agency-edit__title">{{ $t('account.text.company') }}</h3>
    <div class="agency-edit__card agency-edit__card--large">
      <h3 class="agency-edit__title">{{ $t('account.text.data') }}</h3>
      <div class="agency-edit__row agency-edit__row--margin">
        <label class="agency-edit__label-box">
          <p class="agency-edit__label">{{ $t('account.text.company_name') }}</p>
          <input
            type="text"
            autocomlete='autocomplete_off_hack_xfr4!k'
            class="agency-edit__input"
            @blur='changeUrl'
            v-model='companyName'>
        </label>
        <label class="agency-edit__label-box">
          <p class="agency-edit__label">{{ $t('account.text.company_off_name') }}</p>
          <input
            type="text"
            autocomlete='autocomplete_off_hack_xfr4!k'
            class="agency-edit__input"
            v-model='companyOffName'>
        </label>
      </div>
      <div class="agency-edit__row agency-edit__row--head">
        <label class="agency-edit__label-box">
          <p class="agency-edit__label">{{ $t('account.text.chamber') }}</p>
          <input
            type="text"
            autocomlete='autocomplete_off_hack_xfr4!k'
            class="agency-edit__input"
            v-model='chamber'>
        </label>
        <label class="agency-edit__label-box">
          <p class="agency-edit__label">{{ $t('account.text.vat') }}</p>
          <input
            type="text"
            autocomlete='autocomplete_off_hack_xfr4!k'
            class="agency-edit__input"
            v-model='vat'>
        </label>
      </div>
      <div class="upload agency-edit__upload-wrapper">
        <transition-group name="list-complete" tag="div">
        <div
          class="upload__item "
          v-for='(file, index) in uploadDocs.files'
          :key='`f${index}`'>
          <a
            :href='file.filename?file.filename:"#"'
            class="upload__badge"
            target='_blank'
            download>
            <span class="upload__badge-text">{{ file.format }}</span>
          </a>
          <a
            :href='file.filename?file.filename:"#"'
            class="upload__progress-wrapper"
            target='_blank'
            download>
            <p
              class="upload__item-text"
              :class='{"upload__item-text--load": uploadDocs.progress[index] !== 100}'
              >{{ file.name?file.name:file.original_filename }}
            </p>
            <progress
              class="progress upload__progress"
              max="100"
              :value="uploadDocs.progress[index]"
              v-if='uploadDocs.progress[index] < 100'>
            </progress>
          </a>
          <icon-trash
            class='upload__icon-remove'
            v-if='uploadDocs.progress[index] === 100'
            @click.native='myRemoveDoc(file.id)'/>
        </div>
        </transition-group>
        <div class='upload__area'>
          <p class="agency-edit__label agency-edit__label--margin">{{ $t('account.text.doc') }}</p>
          <form
            class="my-form upload__form"
            :class='{"upload__form--highlight": uploadDocs.highlight}'
            @dragenter.prevent.stop="uploadDocs.highlight = true"
            @dragover.prevent.stop="uploadDocs.highlight = true"
            @dragleave.prevent.stop="uploadDocs.highlight = false"
            ref="drag"
            @drop.prevent="handleDropFiles">
            <p class="upload__text" v-html='$t("account.text.drop")'></p>
            <label class="upload__button" for="fileElem">
              {{ $t('account.buttons.drop') }}
            </label>
            <input
              type="file"
              class='upload__input'
              id="fileElem"
              ref="input"
              @change="handleFiles"
              multiple
              accept=".pdf, .doc, .jpg">
              <label for="fileElem" class="upload__plus-wrapper">
                <icon-plus class="upload__plus"/>
              </label>
          </form>
        </div>
      </div>
      <label class="agency-edit__label-box
        agency-edit__label-box--margin
        agency-edit__label-box--fluid">
        <p class="agency-edit__label">{{ $t('account.text.address') }}</p>
        <client-only>
          <gmap-autocomplete
            class="agency-edit__input"
            aria-autocomplete="off"
            autocomlete='autocomplete_off_hack_xfr4!k'
            :placeholder='`${address?address:""}`'
            @place_changed="setPlace">
          </gmap-autocomplete>
        </client-only>
      </label>
      <div class="agency-edit__map-wrapper">
        <client-only>
          <GmapMap
            :center="{lat: company.latitude?Number(company.latitude):52.181762,
                      lng: company.longitude?Number(company.longitude):5.709394}"
            :zoom="14"
            map-type-id="terrain"
            class="agency-edit__map"
          >
          <GmapMarker
            v-if='company.latitude && company.longitude'
            :position="{
                  lat: Number(company.latitude),
                  lng: Number(company.longitude)
                }"
            :clickable="true"
            :draggable="false"
            :icon="{ url: require('@/assets/images/marker.png')}"
          />
          </GmapMap>
        </client-only>
      </div>
      <div class="agency-edit__col agency-edit__col--1-2">
        <div class="agency-edit__label-box agency-edit__label-box--fluid">
          <p class="agency-edit__label">{{ $t('account.text.phone') }}</p>
          <input-phones
            class='agency-edit__input-phone-wrapper'
            @removePhone='removePhone'
            @toggleFavoritePhone='toggleFavoritePhone'
            @close='closePhoneDrop'
            :phones='company.phones'
            @input='setPhoneValue'/>
          <subtle-icon @click.native='addPhone'>
            <icon-plus/>
            <span>{{ $t('account.buttons.phone') }}</span>
          </subtle-icon>
        </div>
      </div>
      <div class="agency-edit__col agency-edit__col--1-2">
        <div class="agency-edit__label-box agency-edit__label-box--fluid">
          <p class="agency-edit__label">{{ $t('account.text.email') }}</p>
          <transition-group name="list-complete" tag="div">
          <div
            class="agency-edit__row
              list-complete-item
              agency-edit__row--input-email"
            v-for="(item, index) in company.emails"
            :key='`n${index}`'>
            <div class="agency-edit__input-wrapper agency-edit__input-wrapper--fake">
              <input
                type="email"
                autocomlete='autocomplete_off_hack_xfr4!k'
                :value='item.email'
                @input='(e) => setEmailValue([e.target.value, index])'
                class="agency-edit__input-transparent">
              <div class="agency-edit__icon-check-wrapper" v-if='!!item.check'>
                <icon-check class='agency-edit__icon-check'/>
              </div>
              <icon-star
                class='agency-edit__icon-star'
                :class='{"agency-edit__icon-star--active": !!item.favorite}'
                @click.native='toggleFavoriteEmail(item.id)'/>
            </div>
            <close-button class="agency-edit__remove-button" @click.native='removeEmail(index)'/>
          </div>
          </transition-group>
          <subtle-icon @click.native='addEmail'>
            <icon-plus/>
            <span>{{ $t('account.buttons.email') }}</span>
          </subtle-icon>
        </div>
      </div>
      <label class="agency-edit__label-box agency-edit__label-box--fluid">
        <p class="agency-edit__label">{{ $t('account.text.site') }}</p>
        <input
          type="text"
          autocomlete='autocomplete_off_hack_xfr4!k'
          placeholder="https://www.website.com"
          class="agency-edit__input"
          v-model='site'>
      </label>
    </div>
    <div class="agency-edit__card-col">
      <div class="agency-edit__card
        agency-edit__card--small
        agency-edit__card--flex
        agency-edit__card--margin-less">
        <p class="agency-edit__title">{{ $t('account.text.social') }}</p>
        <p class="agency-edit__label">{{ $t('account.text.soc_profile') }}</p>
        <account-input-social/>
        <subtle-icon @click.native='addSocial'>
          <icon-plus/>
          <span>{{ $t('account.buttons.social') }}</span>
        </subtle-icon>
      </div>
      <div class="agency-edit__card
        agency-edit__card--small
        agency-edit__card--flex">
        <p class="agency-edit__title">{{ $t('account.text.lang') }}</p>
        <transition-group name="list-complete" tag="div">
          <div
            class="agency-edit__lang-item list-complete-item"
            v-for='lang in company.languages'
            :key='lang.name'>
            <label
              class="agency-edit__checkbox-label">
              <input
                type="checkbox"
                name="languages"
                class="agency-edit__checkbox-input"
                v-model='lang.status'>
              <div class="agency-edit__checkbox-cell">
                <icon-check class='agency-edit__checkbox-icon'/>
              </div>
              <p class="agency-edit__checkbox-text">{{ lang.name }}</p>
            </label>
            <subtle @click.native='removeLang(lang.code)'>Delete</subtle>
          </div>
        </transition-group>
        <all-languages :list='company.languages' @addLanguage='addLanguage'/>
      </div>
      <div class="agency-edit__buttons-wrapper">
        <a
          class="button agency-edit__button is-fullwidth"
          @click.prevent='cancel'>Cancel</a>
        <button
          class="button is-success is-fullwidth"
          :class='{"is-loading": loading.save}'
          @click.prevent='save'>Save
        </button>
      </div>
    </div>
  </div>
</div>
</client-only>
</template>
<script>
import Subtle from '@/components/common/buttons/Subtle.vue';
import SubtleIcon from '@/components/common/buttons/SubtleIcon.vue';
import InputPhones from '@/components/common/components/InputPhones.vue';
import AccountInputSocial from '@/components/admin/agency/components/AccountInputSocial.vue';
import AllLanguages from '@/components/common/components/AllLanguages.vue';
import IconTrash from '@/components/common/icons/IconTrash.vue';
import IconPlus from '@/components/common/icons/IconPlus.vue';
import IconCheck from '@/components/common/icons/IconCheck.vue';
import CloseButton from '@/components/common/buttons/CloseButton.vue';
import http from 'axios';
import IconStar from '@/components/common/icons/IconStar.vue';
import IconPencil from '@/components/common/icons/IconPencil.vue';
import Validation from '@/assets/js/validation';
import crop from '@/mixins/doubleCrop';
import { mapState, mapMutations, mapActions } from 'vuex';
import { api } from '@/api/admin';

export default {
  name: 'AdminAgency',
  mixins: [crop],
  components: {
    Subtle,
    SubtleIcon,
    InputPhones,
    IconTrash,
    IconPlus,
    IconCheck,
    CloseButton,
    AccountInputSocial,
    AllLanguages,
    IconStar,
    IconPencil,
  },
  data() {
    return {
      passwordNew: '',
      passwordCurrent: '',
      disabled: {
        email: true,
        password: true,
      },
      uploadDocs: {
        files: [],
        highlight: false,
        progress: [],
      },
      uploadLogo: {
        file: '',
        highlight: false,
        progress: 0,
      },
      isSuccess: false,
      isError: false,
      urlFlag: false,
      loading: {
        crop: false,
        save: false,
        logo: false,
      },
    };
  },
  methods: {
    ...mapMutations('dataAdmin', [
      'setPersonalValue',
      'setCompanyValue',
      'removeEmail',
      'addEmail',
      'addPhone',
      'addSocial',
      'removeLogo',
      'toggleFavoriteEmail',
      'removeLang',
      'addLanguage',
      'removePhone',
      'toggleFavoritePhone',
      'setPhoneValue',
      'setEmailValue',
      'closePhoneDrop',
    ]),
    ...mapActions('dataAdmin', [
      'putData',
      'getCompanyById',
      'getDocsAsync',
      'updateData',
      'updatePhones',
      'getCompany',
      'updateProfile',
      'updateSocials',
      'getDataPure',
    ]),
    cancel() {
      this.$router.go(-1);
    },
    async setPlace(place) {
      if (place.geometry) {
        // const address = await this.$store.dispatch('gears/formatPlace', place.address_components);
        this.setCompanyValue(['address', place.formatted_address]);
        this.setCompanyValue(['latitude', place.geometry.location.lat()]);
        this.setCompanyValue(['longitude', place.geometry.location.lng()]);
      } else {
        this.setCompanyValue(['address', place]);
      }
    },
    saveError() {
      this.getCompany();
      this.loading.save = false;
      this.showError();
    },
    saveSuccess() {
      this.loading.save = false;
      this.showSuccess();
    },
    save() {
      this.loading.save = true;
      const { name, surname } = this;
      const personalData = Object.assign({}, { name, surname });
      this.updateData()
        .then((resp) => {
          if (resp.data.status === 'error') {
            this.showWarning(resp.data.message)
          } else {
            this.updateProfile(personalData)
              .then(() => {
                this.showSuccess();
              })
              .catch(() => {
                this.saveError();
              });
          }
        })
        .catch(() => this.saveError())
    },
    updateUrl() {
      const data = Object.assign({}, {url: this.url});
      data.append('url', data);
      this.putData(data)
        .then((resp) => {
          if (resp.data.status === 'error') {
            this.showWarning(resp.data.message)
          } else {
            this.showSuccess();
          }
        })
        .catch(() => this.showError());
    },
    showError() {
      this.loading.save = false;
      this.$message.error(this.$t('messages.error_save'));
    },
    showSuccess() {
      this.loading.save = false;
      this.$message.success(this.$t('messages.save'));
    },
    showWarning(msg) {
      this.loading.save = false;
      this.$message.warning(msg);
    },
    myRemoveLogo() {
      this.uploadLogo.file = '';
      this.uploadLogo.progress = 0;
      this.removeLogo();
    },
    myRemoveDoc(id) {
      http.delete(api.deleteFile(id))
        .then(() => {
          this.getDocsAsync()
            .then((resp) => {
              this.updateDocsArrey();
            })
          this.showSuccess();
        })
        .catch(() => {
          this.getDocsAsync()
            .then((resp) => {
              this.updateDocsArrey();
            })
          this.showError();
        })
    },
    handleDropFiles(e) {
      this.uploadDocs.highlight = false;
      this.formatDocs(e.dataTransfer.files[0]);
    },
    handleFiles() {
      this.uploadDocs.highlight = false;
      this.formatDocs(this.$refs.input.files[0]);
    },
    handleDropLogo(e) {
      this.imageType = 'logo';
      this.loading.logo = true;
      this.uploadLogo.highlight = false;
      const file = e.dataTransfer.files[0];
      if (!file.type.includes('image/')) {
        this.showError();
        return;
      }
      if (typeof FileReader === 'function') {
        const reader = new FileReader();
        reader.onload = (event) => {
          this.previewImage = event.target.result;
          this.cropModal = true;
          this.loading.logo = false;
        };
        reader.readAsDataURL(file);
        
      } else {
        this.showError();
        this.loading.logo = false;
      }
    },
    formatLogo(data) {
      this.uploadLogo.progress = 0;
      const format = data.type.split('/').pop();
      const logo = Object.assign(data, { format });
      this.uploadLogo.file = logo;
      this.loadLogo(logo);
    },
    formatDocs(data) {
      this.uploadDocs.progress.push(0);
      const format = data.type.split('/').pop();
      const newFile = Object.assign(data, { format });
      this.uploadDocs.files.push(newFile);
      this.loadDoc(newFile);
    },
    updateDocsArrey() {
      this.uploadDocs.files = this.company.files.map((item) => {
        item.format = item.mime.split('/').pop();
        return item;
      });
      this.company.files.forEach((item) => {
        this.uploadDocs.progress.push(100);
      });
    },
    loadAvatar(file) {
      this.loading.crop = true;
      const formData = new FormData();
      formData.append('avatar', file);
      formData.append('user_id', this.personal.id);
      http.post(api.uploadAvatarAgency, formData).then((resp) => {
        this.loading.crop = false;
        if (resp.status === 200) {
          this.getDataPure()
            .then((data) => {
              const { data: { user: { avatar } } } = data;
              this.setPersonalValue(['avatar', avatar]);
            });
          this.showSuccess();
          this.cropModal = false;
          this.previewImage = '';
        } else {
          this.showError();
        }
      }).catch((error) => {
        this.showError();
        this.loading.crop = false;
      }); 
    },
    loadLogo(file) {
      this.loading.crop = true;
      const formData = new FormData();
      formData.append('logo', file);
      formData.append('company_id', this.company.id);
      http.post(api.uploadLogo, formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      }).then((resp) => {
        this.loading.crop = false;
        if (resp.status === 200) {
          this.getDataPure()
            .then((data) => {
              const { data: { logo } } = data;
              this.setCompanyValue(['logo', logo]);
            })
          this.showSuccess();
          this.cropModal = false;
          this.previewImage = '';
        } else {
          this.showError();
        }
      }).catch((error) => {
        this.showError();
        this.loading.crop = false;
      });
    },
    loadDoc(file) {
      const index = this.uploadDocs.files.findIndex(item => item.name === file.name);
      const formData = new FormData();
      formData.append('file', file);
      formData.append('company_id', this.company.id);
      http.post(api.uploadDocs, formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
        },
        onUploadProgress: (progressEvent) => {
          this.$set(this.uploadDocs.progress,
            index,
            parseInt(Math.floor((progressEvent.loaded * 100) / progressEvent.total)));
        },
      }).then((resp) => {
        if (resp.status === 200) {
          this.getDocsAsync()
            .then(() => {
              this.updateDocsArrey();
            });
          this.showSuccess();
        } else {
          this.showError();
          this.updateDocsArrey();
        }
      }).catch((error) => {
        this.showError();
        this.updateDocsArrey();
      });
    },
    async savePersonal(type, data) {
      if (type in this.disabled) {
        this.disabled[type] = true;
      }
      const formData = {};
      if (type === 'password') {
        formData.confirm_password = data[0];
        formData.password = data[1];
      } else {
        formData[type] = data;
      }
      this.updateProfile(formData)
        .then(() => {
          this.showSuccess();
        })
        .catch(() => {
          this.showError();
        });
      await this.$nextTick();
      this.clearPassword();
    },
    clearPassword() {
      this.passwordNew = '';
      this.passwordCurrent = '';
    },
    edit(type) {
      this.disabled[type] = false;
      const timer = setInterval(() => {
        if (!this.disabled[type]) {
          this.$refs[type].focus();
          clearInterval(timer);
        }
      }, 10);
    },
    cancelPassword() {
      this.$refs.password.blur();
      this.disabled.password = true;
      this.clearPassword();
    },
    changeUrl() {
      if (this.urlFlag) {
        this.updateUrl();
      }
    },
    checkUrl() {
      if (!this.companyName && Number(this.url) === Number(this.personal.id)) {
        this.urlFlag = true;
      }
    },
    setUrl(value) {
      if (this.urlFlag) {
        this.$store.dispatch('gears/formatUrl', value)
          .then((resp) => {
            this.setCompanyValue(['url', resp]);
          });
      }
    },
  },
  computed: {
    ...mapState('dataAdmin', [
      'company',
      'personal',
    ]),
    readyPersonal() {
      return !!this.readyEmail && !!this.readyPassword;
    },
    readyEmail() {
      return Validation.email(this.email);
    },
    readyPassword() {
      return this.readyPasswordNew && this.readyPasswordCurrent;
    },
    readyPasswordNew() {
      return this.passwordNew.length > 3 && this.passwordNew !== this.passwordCurrent;
    },
    readyPasswordCurrent() {
      return this.passwordCurrent.length > 3;
    },
    email: {
      get() {
        return this.personal.email;
      },
      set(value) {
        this.setPersonalValue(['email', value]);
      },
    },
    password: {
      get() {
        return this.personal.password;
      },
      set(value) {
        this.setPersonalValue(['password', value]);
      },
    },
    name: {
      get() {
        return this.personal.name;
      },
      set(value) {
        this.setPersonalValue(['name', value]);
      },
    },
    surname: {
      get() {
        if (!this.personal.surname) return '';
        return this.personal.surname;
      },
      set(value) {
        this.setPersonalValue(['surname', value]);
      },
    },
    companyName: {
      get() {
        return this.company.c_name;
      },
      set(value) {
        this.setCompanyValue(['c_name', value]);
      },
    },
    url: {
      get() {
        return this.company.url;
      },
      set(value) {
        this.$store.dispatch('gears/formatUrl', value)
          .then((resp) => {
            this.setCompanyValue(['url', resp]);
          });
      },
    },
    companyOffName: {
      get() {
        return this.company.official_c_name;
      },
      set(value) {
        this.setCompanyValue(['official_c_name', value]);
      },
    },
    chamber: {
      get() {
        return this.company.сhamber_of_commerce;
      },
      set(value) {
        this.setCompanyValue(['сhamber_of_commerce', value]);
      },
    },
    vat: {
      get() {
        return this.company['VAT'];
      },
      set(value) {
        this.setCompanyValue(['VAT', value]);
      },
    },
    address: {
      get() {
        return this.company.address;
      },
      set(value) {
        this.setCompanyValue(['address', value]);
      },
    },
    site: {
      get() {
        return this.company.website;
      },
      set(value) {
        this.setCompanyValue(['website', value]);
      },
    },
  },
  watch: {
    'company.c_name'(value) {
      this.setUrl(value);
    }
  },
  mounted() {
    this.updateDocsArrey();
    this.checkUrl();
    const { id } = this.$route.params;
    this.$store.dispatch('dataAdmin/getCompanyById', id);
  },
  beforeUpdate() {
    this.checkUrl();
  },
};
</script>
<style lang="scss">
@import '~@/assets/scss/components/agency-edit';
</style>
