<template>
<a
  href='#'
  class="burger"
  @click.prevent='$emit("click")'
  :class='{"burger--open": open}'>
  <div class='burger__button'>
    <span class="burger__item burger__item--button"></span>
    <span class="burger__item burger__item--button"></span>
    <span class="burger__item burger__item--button"></span>
  </div>
  <div class="burger__cross">
    <span class="burger__item burger__item--cross"></span>
    <span class="burger__item burger__item--cross"></span>
  </div>
</a>
</template>
<script>
export default {
  name: 'Burger',
  props: {
    open: {
      type: Boolean,
    },
  },
};
</script>
<style lang="scss">
.burger {
  display: block;
  width:26px;
  height:26px;
  position:relative;
  cursor:pointer;
  border-radius:2px;
  * {
    transition:.15s ease-in-out;
  }
  &__item {
    display:block;
    background:$B8;
    border-radius:2px;
    will-change: transform, transition, height, width, max-height;
    &--button {
      width:26px;
      height:3px;
      position:relative;
      margin: 4px 0;
      &:nth-child(1){
        transition-delay:.5s;
      }
      &:nth-child(2){
        transition-delay:.625s;
      }
      &:nth-child(3){
        transition-delay:.75s;
      }
    }
    &--cross {
      &:nth-child(1){
        height:0%;
        width:2px;
        position:absolute;
        top:8%;
        left:14px;
        transition-delay:0s;
      }
      &:nth-child(2){
        width:0%;
        height:2px;
        position:absolute;
        left:8%;
        top:14px;
        transition-delay:.25s;
      }
    }
  }
  &__button {
    top: 2px;
    position:absolute;
    height:100%;
    width:100%;
  }
  &__cross {
    top: -2px;
    position:absolute;
    height:100%;
    width:100%;
    transform:rotate(45deg);
  }
  &--open {
    .burger__item {
      &--button {
        width:0%;
        &:nth-child(1){
          transition-delay:0s;
        }
        &:nth-child(2){
          transition-delay:.125s;
        }
        &:nth-child(3){
          transition-delay:.25s;
        }
      }
      &--cross {
        &:nth-child(1){
          height:100%;
          transition-delay:.625s;
        }
        &:nth-child(2){
          width:100%;
          transition-delay:.375s;
        }
      }
    }
  }
}
</style>
