<template>
<a href="#" class="button-plus">
  <icon-plus class='button-plus__icon'/>
</a>
</template>
<script>
import IconPlus from '@/components/common/icons/IconPlus.vue';

export default {
  name: 'ButtonPlus',
  components: {
    IconPlus,
  },
};
</script>
<style lang="scss">
.button-plus {
  width: 22px;
  height: 22px;
  @include flex-row(center, center);
  border-radius: 50%;
  border: 2px solid $G4;
  &__icon {
    width: 10px;
    height: 10px;
    fill: $G4;
  }
}
</style>
