<template>
  <button
    class="edit-button"
    :disabled='disabled'
    :class='{"has-background-info": !disabled}'>
    <icon-pencil class="edit-button__icon"/>
  </button>
</template>
<script>
import IconPencil from '@/components/common/icons/IconPencil.vue';

export default {
  name: 'EditButton',
  props: {
    disabled: {
      type: Boolean,
      default: false,
    }
  },
  components: {
    IconPencil,
  }
}
</script>

<style lang="scss">
.edit-button {
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
    background-color: gray;
    @include flex-row(center, center);
    pointer-events: all;
    z-index: 2;
    transition: filter ease-in-out 0.2s;
    &:hover {
      filter: brightness(1.1);
    }
    &:active {
      filter: brightness(0.9);
    }
  &__icon {
    width: 12px;
    height: 12px;
    fill: $N0;
  }
}
</style>
