<template>
  <button class='subtle'>
    <slot/>
  </button>
</template>
<script>
export default {
  name: 'Subtle',
};
</script>
<style lang="scss">
.subtle {
  background-color: transparent;
  @include flex-row(flex-start, center);
  color: $G4;
  font-size: $H400;
  font-weight: 500;
  line-height: 1;
  transition: color ease-in-out 0.2s;
  border-radius: 2px;
  @media screen and (min-width: $screen-desktop) {
    &:hover {
      color: $G2;
    }
  }
  &:active {
    color: $G5;
  }
  &:disabled {
    span, p {
      color: $N16 !important;
    }
    color: $N16 !important;
    svg {
      fill: $N16 !important;
    }
    @media screen and (min-width: $screen-desktop) {
    &:hover {
      span, p {
      color: $N16 !important;
      }
      color: $N16 !important;
      svg {
        fill: $N16 !important;
      }
    }
  }
  }
}
</style>
