<template>
  <a class='subtle-icon'>
    <slot/>
  </a>
</template>
<script>
export default {
  name: 'SubtleIcon',
};
</script>
<style lang="scss">
.subtle-icon {
  background-color: transparent;
  @include flex-row(flex-start, center);
  color: $G4;
  font-size: $H400;
  font-weight: 500;
  line-height: 1;
  transition: color ease-in-out 0.2s;
  border-radius: 2px;
  @media screen and (min-width: $screen-desktop) {
    &:hover {
      color: $G2;
      svg {
        fill: $G2;
      }
    }
  }
  &:active {
    color: $G5;
    svg {
      fill: $G5;
    }
  }
  svg {
    transition: fill ease-in-out 0.2s;
    fill: $G4;
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }
  &:disabled {
    color: $N16;
    svg {
      fill: $N16;
    }
  }
}
</style>
