.vue-foldable {
  position: relative;
}
.vue-foldable .vue-foldable-container {
  overflow: hidden;
  transition: max-height 0.3s;
}
.vue-foldable .vue-foldable-mask {
  position: absolute;
  bottom: 30px /* view-more's height */;
  height: 80px;
  width: 100%;
  background: transparent;
  pointer-events: none;
  transition: opacity 0.3s;
}
.vue-foldable .vue-foldable-mask.collapsed {
  opacity: 1;
  background: linear-gradient(to bottom, rgba(55,55,55,0), #fff);
}
.vue-foldable .vue-foldable-mask:not(.collapsed) {
  opacity: 0;
}
.vue-foldable .vue-foldable-view-more {
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  color: #4dba87;
}
.vue-foldable .vue-foldable-view-more .vue-foldable-icon {
  width: 22px;
  transform: rotate(180deg);
  transition: transform 0.3s;
  vertical-align: middle;
}
.vue-foldable .vue-foldable-view-more .vue-foldable-text {
  vertical-align: middle;
}
.vue-foldable .vue-foldable-view-more.collapsed .vue-foldable-icon {
  transform: rotate(0deg);
}

