<template>
<div class="admin-agency-info__wrapper">
  <div class="admin-agency-info">
    <div class="admin-agency-info__header">
      <div class="admin-agency-info__image-wrapper">
        <img
          :src="company.logo"
          alt="logo"
          class="admin-agency-info__image"
          v-if='company.logo'></div>
      <div class="admin-agency-info__col">
        <p class="admin-agency-info__text admin-agency-info__text--name">{{ company.c_name }}</p>
        <p class="admin-agency-info__text admin-agency-info__text--description">{{ $t('account.text.company') }}</p>
      </div>
      <p class="admin-agency-info__text admin-agency-info__text--id">
        id
        <span class="admin-agency-info__text--id-text">{{ company.id }}</span>
      </p>
    </div>
    <div class="admin-agency-info__section admin-agency-info__section--line">
      <div class="admin-agency-info__item">
        <icon-star class="admin-agency-info__item-icon"/>
        <p class="admin-agency-info__text">{{ company.official_c_name }}</p>
      </div>
      <div class="admin-agency-info__item">
        <icon-location class="admin-agency-info__item-icon"/>
        <p class="admin-agency-info__text admin-agency-info__text--adress">{{ company.address }}</p>
      </div>
      <div class="admin-agency-info__item" v-for='(phone, index) in company.phones' :key='`${phone.phone}${index}`'>
        <icon-phone2 class="admin-agency-info__item-icon"/>
        <a
          class="admin-agency-info__text admin-agency-info__text--margin-bottom"
          :href='`tel://${phone.phone}?call`'>{{ phone.phone }}</a>
      </div>
      <div class="admin-agency-info__item" v-for='(email, index) in company.emails' :key='`${email.email}${index}`'>
        <icon-mail2 class="admin-agency-info__item-icon"/>
        <a
          class="admin-agency-info__text admin-agency-info__text--margin-bottom"
          :href='`mailto://${email.email}`'>{{ email.email }}</a>
      </div>
      <div class="admin-agency-info__item">
        <icon-internet class="admin-agency-info__item-icon"/>
        <a
          :href="`${websitePrefix}${company.website}`"
          target="_blank"
          class="admin-agency-info__text">{{ company.website }}</a>
      </div>
      <div class="admin-agency-info__item">
        <icon-speech class="admin-agency-info__item-icon admin-agency-info__item-icon--margin-top"/>
        <div>
          <span
            v-for='(lang, index) in languages'
            class="admin-agency-info__text"
            :key='index'>{{index > 0?', ':''}}{{ lang.name }}</span>
        </div>
      </div>
      <div class="admin-agency-info__item">
        <icon-share class="admin-agency-info__item-icon admin-agency-info__item-icon--margin-top"/>
        <a
          class="admin-agency-info__social-link"
          target='_blank'
          :href="`${httpPrefix(item.username)}${item.username}`"
          v-for='(item, index) in company.socials'
          :key='index'>
          <component
            :is='item.type'
            class='admin-agency-info__social-icon'/>
        </a>
      </div>
    </div>
    <div class="admin-agency-info__section">
      <div class="admin-agency-info__item admin-agency-info__item--nowrap">
        <icon-info class="admin-agency-info__item-icon"/>
        <div class="admin-agency-info__link-item">
          <n-link
            :to='`/${company.url}`'
            class="admin-agency-info__text admin-agency-info__text--link"
            :class='{"disabled": editableUrl}'
            >http://wambla.com/
          </n-link><input
              @click.prevent
              type="text"
              ref='url'
              class="admin-agency-info__input-url"
              v-model='url'
              :disabled='!editableUrl'/>
        </div>
        <subtle
          class="admin-agency-info__edit-button has-text-info"
          @click.native='editUrl'
          v-if='!editableUrl'
          key='edit'>{{ $t('account.buttons.edit') }}
        </subtle>
        <div v-else class="buttons has-addons admin-agency-info__edit-buttons">
          <span
            class="button is-success"
            :class='{"is-loading": loading.save}'
            @click='saveUrl'>
            <span class="icon is-small">
              <i class="fas fa-check"></i>
            </span>
          </span>
          <span
            class="button is-danger"
            :class='{"is-loading": loading.discard}'
            @click='discardChanges'>
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </span>
        </div>
      </div>
      <div class="admin-agency-info__item">
        <icon-blank class="admin-agency-info__item-icon"/>
        <p class="admin-agency-info__text">{{ company.official_c_name }}</p>
      </div>
      <div class="admin-agency-info__item">
        <icon-home2 class="admin-agency-info__item-icon"/>
        <p class="admin-agency-info__text">{{ getCountObjects }}</p>
      </div>
    </div>
  </div>
  <div class="admin-agency-info__card admin-agency-info__card--row">
    <div class="admin-agency-info__image-wrapper">
      <img
        :src="company.user.avatar"
        alt="avatar"
        class="admin-agency-info__image"
        v-if='company.user.avatar'>
    </div>
    <div class="admin-agency-info__col">
      <p class="admin-agency-info__text admin-agency-info__text--name"
      >{{ `${company.user.name} ${company.user.surname?company.user.surname:''}` }}</p>
      <p class="admin-agency-info__text admin-agency-info__text--description">{{ company.user.email }}</p>
    </div>
    <p class="admin-agency-info__text admin-agency-info__text--status">{{ $t(`account.text.${company.user.role}`) }}</p>
  </div>
</div>
</template>
<script>
import Subtle from '@/components/common/buttons/Subtle.vue';
import vk from '@/components/common/icons/IconVk.vue';
import watsapp from '@/components/common/icons/IconWatsapp.vue';
import facebook from '@/components/common/icons/IconFacebook.vue';
import twitter from '@/components/common/icons/IconTwitter.vue';
import youtube from '@/components/common/icons/IconYoutube.vue';
import google from '@/components/common/icons/IconGoogle.vue';
import instagram from '@/components/common/icons/IconInstagram.vue';
import IconLocation from '@/components/common/icons/IconLocation.vue';
import IconStar from '@/components/common/icons/IconStar.vue';
import IconPhone2 from '@/components/common/icons/IconPhone2.vue';
import IconMail2 from '@/components/common/icons/IconMail2.vue';
import IconInternet from '@/components/common/icons/IconInternet.vue';
import IconSpeech from '@/components/common/icons/IconSpeech.vue';
import IconShare from '@/components/common/icons/IconShare.vue';
import IconInfo from '@/components/common/icons/IconInfo.vue';
import IconBlank from '@/components/common/icons/IconBlank.vue';
import IconHome2 from '@/components/common/icons/IconHome2.vue';
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';

export default {
  name: 'AgencyInfo',
  components: {
    Subtle,
    vk,
    watsapp,
    facebook,
    twitter,
    google,
    youtube,
    instagram,
    IconLocation,
    IconStar,
    IconPhone2,
    IconMail2,
    IconInternet,
    IconSpeech,
    IconShare,
    IconInfo,
    IconBlank,
    IconHome2,
  },
  data () {
    return {
      newUrl: null,
      editableUrl: false,
      loading: {
        dave: false,
        discaard: false,
        confirm: false,
      }
    }
  },
  methods: {
    ...mapMutations('dataAdmin', [
      'setCompanyValue',
    ]),
    ...mapActions({
      getCompanyById: 'dataAdmin/getCompanyById',
      putData: 'dataAdmin/putData',
    }),
    async editUrl() {
      this.editableUrl = true;
      await this.$nextTick();
      this.$refs.url.focus();
    },
    saveUrl() {
      this.loading.save = true;
      const data = Object.assign({}, {url: this.url});
      this.putData(data)
        .then((resp) => {
          this.loading.save = false;
          if (resp.data.status === 'error') {
            this.$message.error(resp.data.message)
          } else {
            this.$message.success(this.$t('messages.url_save'));
          }
        })
        .catch(({ response }) => {
          this.$message.error(response.data)
          this.loading.save = false;
        });
      
      this.editableUrl = false;
    },
    async discardChanges() {
      this.loading.discard = true;
      await this.getCompanyById(this.$route.params.id);
      this.loading.discard = false;
      this.$refs.url.blur();
      this.editableUrl = false;
    },
    openNotification() {
      const key = `open${Date.now()}`;
      const description = `<b>${this.company.c_name}</b> company wants to change the URL address <br><b>from</b> ` +
        `<u>https://wambla/${this.url}</u> <br><b>to</b> <u>https://wambla/${this.newUrl}</u>`;
      this.$notification.info({
        message: 'Address Change Request',
        description: (h)=> {
          return h('p', {
            domProps: {
              innerHTML: description
            },
          })
        },
        btn: (h)=>{
          return h('button', {
            class: {
              'button is-success is-small': true,
              'is-loading': this.loading.confirm,
            },
            on: {
              click: () => this.onConfirmUrlChange(key)
            }
          }, 'Confirm')
        },
        key,
        onClose: close,
      });
    },
    onConfirmUrlChange(key) {
      this.loading.confirm = true;
      const data = Object.assign({}, {url: this.newUrl});
      this.putData(data)
        .then((resp) => {
          this.loading.confirm = false;
          this.$notification.close(key);
          if (resp.data.status === 'error') {
            this.$message.error(resp.data.message)
          } else {
            this.setCompanyValue(['url', this.newUrl]);
            this.$message.success(this.$t('messages.url_save'));
          }
        })
        .catch(({ response }) => {
          this.$message.error(response.data)
          this.loading.confirm = false;
          this.$notification.close(key);
        });
    },
    httpPrefix(url) {
      return /http/i.test(url)?'':'//';
    },
    async checkRequest() {
      await this.$nextTick();
      if (this.newUrl) {
        this.openNotification();
      }
    }
  },
  computed: {
    ...mapState('dataAdmin', [
      'company'
    ]),
    url: {
      get() {
        return this.company.url;
      },
      set(value) {
        this.$store.dispatch('gears/formatUrl', value)
          .then((resp) => {
            this.setCompanyValue(['url', resp]);
          });
      },
    },
    websitePrefix() {
      return /http/i.test(this.company.website)?'':'//';
    },
     ...mapGetters({
      getCountObjects: 'dataAgency/getCountObjects',
      languages: 'dataAdmin/getLanguages',
    }),
  },
  mounted() {
    this.checkRequest();
    const { url } = this.$route.query;
    if (url) {
      this.newUrl = url;
      const { id } = this.$route.params;
      this.$router.replace({ name: 'admin-companies-id', params: { id } });
    }
  },
};
</script>

<style lang="scss">
.admin-agency-info {
  .disabled {
    * {
      cursor: text;
    }
  }
  @extend %card;
  padding: 0;
  margin-bottom: 8px;
  &__card {
    @extend %card;
    margin-bottom: 8px;
    @include flex-row(flex-start, center);
    position: relative;
  }
  &__header {
    background-color: $N3;
    @include flex-row(flex-start, center);
    padding: 20px 16px;
    position: relative;
  }
   &__edit-button {
    margin: 4px 0 0 4px;
  }
  &__edit-buttons {
    position: absolute;
    top: -44px;
    right: 0;
    z-index: 4;
  }
  &__input-url {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: $H200;
    color: $G4;
    font-weight: 500;
    position: relative;
    width: 50%;
    overflow: visible;
    transition: color ease 0.2s;
    pointer-events: all;
  }
  &__text {
    @include text($H300, $B9, 500);
    text-decoration: none;
    white-space: pre-wrap;
    &--name {
      font-size: $H400;
      margin-bottom: 6px;
    }
    &--description {
      font-size: $H200;
      color: $N18;
    }
    &--id {
      position: absolute;
      bottom: 6px;
      right: 18px;
      color: $N13;
      font-size: $H200;
      text-transform: uppercase;
    }
    &--id-text {
      color: $N155;
    }
    &--status {
      position: absolute;
      bottom: 6px;
      right: 18px;
      color: $N13;
      font-size: $H200;
    }
    &--link {
      color: $G4;
      white-space: nowrap;
      pointer-events: all;
    }
    &--margin-right {
      margin-right: 6px;
    }
    &--margin-bottom {
      margin-bottom: 4px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__link-item {
    @include flex-row(flex-start, flex-start);
    white-space: nowrap;
    align-content: flex-start;
    overflow: hidden;
    cursor: pointer;
    * {
      cursor: pointer;
    }
    &:hover {
      color: lighten($G4, 10%);
      * {
        color: lighten($G4, 10%);
      }
    }
  }
  &__image-wrapper {
    @extend %image-wrapper;
    flex: 0 0 60px;
    width: 60px;
    height: 60px;
    background-color: grey;
    margin-right: 16px;
  }
  &__image {
    @extend %image-round;
  }
  &__section {
    padding: 16px;
    &--line {
      border-bottom: solid 1px #ededed;
    }
  }
  &__item {
    @include flex-row(flex-start, flex-start);
    margin-bottom: 16px;
    position: relative;
    flex-wrap: nowrap;
    &--nowrap {
      flex-wrap: nowrap;
    }
    &--center {
      align-items: center;
    }
  }
  &__item-icon {
    @extend %card-icon-dark;
    margin-top: 2px;
    margin-right: 12px;
    flex-shrink: 0;
    &--margin-top {
      margin-top: 6px;
    }
  }
  &__social-link {
    @extend %social-link;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  &__social-icon {
    @extend %social-icon;
    width: 12px;
    height: 12px;
  }
  &__col {
    @include flex-col(flex-start, flex-start);
  }
}
</style>
