<template>
<div class="settings-card__wrapper">
  <div class="settings-card">
    <div class="settings-card__header">
      <p class="settings-card__title">{{ $t('navigation.settings') }}</p>
      <icon-pencil @click.native='setSettingsPopup(true)' class="settings-card__edit-button"/>
    </div>
    <div class="settings-card__body">
      <div class="settings-card__item">
        <div class="settings-card__icon-wrapper">!</div>
        <p class="settings-card__text">{{ $t('companies.status') }}:</p>
        <p class="settings-card__text settings-card__text--status"
          >{{ company.status === 1? $t('object.Active'): $t('object.Inactive') }}
        </p>
      </div>
      <div class="settings-card__item">
        <div class="settings-card__icon-wrapper">!</div>
        <p class="settings-card__text">{{ $t('object.Import type') }}:</p>
        <p class="settings-card__text settings-card__text--content">Pyber</p>
      </div>
      <div class="settings-card__item">
        <div class="settings-card__icon-wrapper">!</div>
        <p class="settings-card__text">{{ $t('object.Import URL') }}:</p>
        <p class="settings-card__text settings-card__text--content">{{ getUrl }}</p>
      </div>
    </div>
    <transition
      name="custom-classes-transition"
      enter-active-class="animated dur03 slideInRight"
      leave-active-class="animated dur03 slideOutRight"
      mode="out-in">
    <settings-popup class="settings-card__popup" v-if='popup'/>
    </transition>
  </div>
  <div class="settings-card__card">
    <a
      class="button is-rounded settings-card__button-cancel"
      @click.prevent='cancel'>{{ $t('buttons.cancel') }}</a>
  </div>
</div>
</template>
<script>
import IconPencil from '@/components/common/icons/IconPencil.vue';
import SettingsPopup from '@/components/admin/profileAgency/components/SettingsPopup.vue';
import { mapState, mapMutations, mapGetters, mapActions } from 'vuex';

export default {
  name: 'AgencySettings',
  components: {
    IconPencil,
    SettingsPopup,
  },
  methods: {
    ...mapMutations('gears', [
      'toggleSettingsPopup',
      'setSettingsPopup',
    ]),
    cancel() {
      this.$router.push('/admin/companies');
    },
  },
  computed: {
    ...mapGetters('dataAdmin', [
      'getCompany',
      'getUrl',
    ]),
    ...mapState({
      popup: state => state.gears.companies.settings,
      company: state => state.dataAdmin.company,
    }),
  },
};
</script>

<style lang="scss">
.settings-card {
  position: relative;
  @extend %card;
  margin-bottom: 8px;
  &__card {
    @include flex-row(center, center);
    padding: 16px 0;
  }
  &__header {
    @include flex-row(space-between, center);
    margin-bottom: 34px;
  }
  &__title {
    @include text($H800, $N18, 500);
  }
  &__item {
    @include flex-row(flex-start, flex-start);
    margin-bottom: 16px;
  }
  &__icon-wrapper {
    margin-top: 3px;
    flex: 0 0 13px;
    width: 13px;
    height: 13px;
    background-color: grey;
    margin-right: 12px;
    border-radius: 50%;
    @include flex-row(center, center);
    color: $N0;
    font-size: 10px;
  }
  &__text {
    @include text($H200, $N18, 500);
    white-space: nowrap;
    &--content {
      margin-left: 2px;
      color: $B9;
      font-size: $H300;
      white-space: normal;
      word-break: break-all;
    }
    &--status {
      margin-left: 2px;
      color: $G4;
    }
  }
  &__edit-button {
    width: 16px;
    height: 16px;
    fill: #8b8b8b;
    cursor: pointer;
  }
}
</style>
