<template>
  <div class="admin-agency-data">
    <nav class="admin-agency-data__nav">
      <a
        href="#"
        class="admin-agency-data__nav-item"
        :class='{"admin-agency-data__nav-item--active": visible.sale}'
        @click.prevent='open("sale")'>
        <p class="admin-agency-data__nav-text">{{ $t('object.For sale') }}</p>
        <span class="admin-agency-data__nav-stat" v-if='isStatus'>{{ getForSale.length }}</span>
      </a>
      <a
        href="#"
        class="admin-agency-data__nav-item"
        :class='{"admin-agency-data__nav-item--active": visible.sold}'
        @click.prevent='open("sold")'>
        <p class="admin-agency-data__nav-text">{{ $t('object.Sold') }}</p>
        <span class="admin-agency-data__nav-stat" v-if='isStatus'>{{ getSold.length }}</span>
      </a>
      <a
        href="#"
        class="admin-agency-data__nav-item"
        :class='{"admin-agency-data__nav-item--active": visible.rent}'
        @click.prevent='open("rent")'>
        <p class="admin-agency-data__nav-text">{{ $t('object.For rent') }}</p>
        <span class="admin-agency-data__nav-stat" v-if='isStatus'>{{ getForRent.length }}</span>
      </a>
      <a
        href="#"
        class="admin-agency-data__nav-item"
        :class='{"admin-agency-data__nav-item--active": visible.rented}'
        @click.prevent='open("rented")'>
        <p class="admin-agency-data__nav-text">{{ $t('object.Rented') }}</p>
        <span class="admin-agency-data__nav-stat" v-if='isStatus'>{{ getRented.length }}</span>
      </a>
    </nav>
    <div class="admin-agency-data__main" v-if='isStatus'>
      <transition
        name="custom-classes-transition"
        enter-active-class="animated dur03 fadeIn"
        leave-active-class="animated dur03 fadeOut"
        mode="out-in">
      <div
        class="admin-agency-data__card-wrapper"
        v-if='visible.sale'
        key='sale'>
        <data-card
          class="admin-agency-data__card"
          v-for='(object, index) in getForSale'
          :object='object'
          :key='index'/>
      </div>
      <div
        class="admin-agency-data__card-wrapper"
        v-else-if='visible.sold'
        key='sold'>
        <data-card
          class="admin-agency-data__card"
          v-for='(object, index) in getSold'
          :object='object'
          :key='index'/>
      </div>
      <div
        class="admin-agency-data__card-wrapper"
        v-else-if='visible.rent'
        key='rent'>
        <data-card
          class="admin-agency-data__card"
          v-for='(object, index) in getForRent'
          :object='object'
          :key='index'/>
      </div>
      <div
        class="admin-agency-data__card-wrapper"
        v-else-if='visible.rented'
        key='rented'>
        <data-card
          class="admin-agency-data__card"
          v-for='(object, index) in getRented'
          :object='object'
          :key='index'/>
      </div>
      </transition>
    </div>
  </div>
</template>
<script>
import DataCard from '@/components/admin/profileAgency/components/DataCard.vue';
import { mapGetters, mapActions, mapState } from 'vuex';

export default {
  name: 'AgencyData',
  components: {
    DataCard,
  },
  data() {
    return {
      visible: {
        sale: true,
        sold: false,
        rent: false,
        rented: false,
      },
    };
  },
  methods: {
    ...mapActions({
      getObjects: 'dataAgency/getObjects',
    }),
    open(name) {
      this.visible[name] = true;
      Object.keys(this.visible).forEach((key) => {
        if (key !== name) this.visible[key] = false;
      });
    },
  },
  computed: {
    ...mapState('dataAdmin', {
      company_id: state => state.company.id,
    }),
    ...mapGetters({
      isStatus: 'dataAdmin/isStatus',
      getForSale: 'dataAgency/getForSale',
      getSold: 'dataAgency/getSold',
      getForRent: 'dataAgency/getForRent',
      getRented: 'dataAgency/getRented',
    }),
  },
  mounted() {
    this.getObjects(this.company_id); 
  },
};
</script>
<style lang="scss">
.admin-agency-data {
  * {
    transition: ease-in-out 0.2s;
  }
  &__nav {
    @include flex-row(flex-start, baseline);
    margin-bottom: 10px;
    padding-top: 16px;
  }
  &__nav-item {
    @include flex-row(flex-start, flex-start);
    margin-right: 25px;
    &--active {
      .admin-agency-data__nav-text {
        border-color: $G4;
        color: $B9;
      }
    }
  }
  &__main {
    max-height: calc(100vh - 160px);
    overflow-y: auto;
    padding-right: 4px;
  }
  &__nav-text {
    @include text($H600, $B6, 500);
    border-bottom: solid 3px transparent;
    padding-bottom: 6px;
  }
  &__nav-stat {
    padding: 2px 7px;
    background-color: $N0;
    border-radius: 3px;
    @include text($H100, #616b7e, 500);
    @include flex-row(center, center);
    margin: 1px 0 0 8px;
  }
  &__card {
    margin-bottom: 6px;
  }
}
</style>
