<template>
<div class="admin-profile-agency" @click.self='setSettingsPopup(false)'>
  <agency-info class="admin-profile-agency__info" @click.native='setSettingsPopup(false)'/>
  <agency-data class="admin-profile-agency__data" @click.native='setSettingsPopup(false)'/>
  <agency-settings @close='close' class="admin-profile-agency__settings"/>
</div>
</template>
<script>
import AgencyInfo from '@/components/admin/profileAgency/AgencyInfo.vue';
import AgencyData from '@/components/admin/profileAgency/AgencyData.vue';
import AgencySettings from '@/components/admin/profileAgency/AgencySettings.vue';
import { mapMutations } from 'vuex';

export default {
  name: 'ProfileAgency',
  components: {
    AgencyInfo,
    AgencyData,
    AgencySettings,
  },
  methods: {
    ...mapMutations('gears', [
      'setSettingsPopup',
    ]),
    close() {
      this.$emit('close');
    },
  },
  mounted() {
    const { id = '' } = this.$route.params || {};
    const { url = '' } = this.$route.query || {};
    this.$store.dispatch('dataAdmin/getCompanyById', id)  
    if (url && !this.$store.getters['auth/isAdminAuthenticated']) {
      this.$store.dispatch('auth/AUTH_LOGOUT')
        .then(() => this.$router.push(`/auth?url=${url}&id=${id}`))
        .catch(() => this.$router.push('/'));
    }
  }
};
</script>
<style lang="scss">
.admin-profile-agency {
  @include flex-row(stretch, flex-start);
  &__info {
    flex: 1 1 24%;
    min-width: 350px;
    margin-right: 12px;
  }
  &__data {
    flex: 1 1 48%;
    min-width: 500px;
    margin-right: 12px;
  }
  &__settings {
    flex: 1 1 25%;
    min-width: 300px;
    margin-right: 12px;
  }
}
</style>
