<template>
  <admin-agency/>
</template>
<script>
import AdminAgency from '@/components/admin/agency/AdminAgency.vue';

export default {
  name: 'AdminAgencyPage',
  components: {
    AdminAgency,
  },
  async fetch({ app, redirect, store, params }) {
    if (Number(store.state.dataAdmin.showId) !== Number(params.id)) {
      store.dispatch('dataAdmin/getCompanyById', params.id)
        .catch(() => redirect('/'));
    } else if (app.$cookies.get('wambla-admin-token')) {
      return;
    } else {
      return redirect('/');
    }
    return;
  },
  mounted() {
    if (Number(this.$store.state.dataAdmin.showId) !== Number(this.$route.params.id)) {
      this.$store.dispatch('dataAdmin/getCompanyById', this.$route.params.id);
    }
  }
}
</script>