<template>
<!-- eslint-disable -->
  <svg viewBox="0 0 368 368" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m278.847656 235.535156c15.855469-23.992187 25.152344-52.6875 25.152344-83.535156 0-83.816406-68.183594-152-152-152s-152 68.183594-152 152 68.183594 152 152 152c30.847656 0 59.542969-9.296875 83.535156-25.152344l86.808594 86.808594c1.558594 1.558594 3.609375 2.34375 5.65625 2.34375s4.097656-.785156 5.65625-2.34375l32-32c1.503906-1.496094 2.34375-3.535156 2.34375-5.65625s-.839844-4.160156-2.34375-5.65625zm-262.847656-83.535156c0-74.992188 61.007812-136 136-136s136 61.007812 136 136c0 31.382812-10.792969 60.238281-28.71875 83.28125-1.007812 1.3125-1.992188 2.640625-3.042969 3.910156-5.167969 6.167969-10.871093 11.871094-17.046875 17.046875-1.261718 1.050781-2.589844 2.035157-3.902344 3.042969-23.042968 17.925781-51.898437 28.71875-83.289062 28.71875-74.992188 0-136-61.007812-136-136zm312 196.6875-79.40625-79.398438c7.582031-6.183593 14.503906-13.113281 20.6875-20.6875l79.40625 79.398438zm0 0"
    ></path>
    <path
      d="m231.992188 144c2.351562 0 4.679687-1.03125 6.265624-3.007812 2.75-3.457032 2.183594-8.488282-1.273437-11.238282l-80.25-64c-2.902344-2.339844-7.070313-2.339844-9.992187.015625l-79.75 64c-3.449219 2.765625-4 7.796875-1.230469 11.246094 2.773437 3.441406 7.796875 4.007813 11.246093 1.230469l18.992188-15.246094v73c0 4.414062 3.574219 8 8 8h96c4.425781 0 8-3.585938 8-8v-72.910156l19.015625 15.167968c1.472656 1.175782 3.222656 1.742188 4.976563 1.742188zm-39.992188 48h-80v-77.839844l39.769531-31.914062 40.230469 32.082031zm0 0"
    ></path>
  </svg>
</template>
