<template>
  <!-- eslint-disable -->
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 279.131 279.131"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    enable-background="new 0 0 279.131 279.131"
  >
    <g>
      <path
        d="m276.346,109.821l-93.71-70.666c-2.496-1.882-5.934-1.882-8.43,0l-15.405,11.617-15.405-11.617c-2.496-1.882-5.934-1.882-8.43,0l-15.021,11.327-15.021-11.327c-2.496-1.882-5.934-1.882-8.43,0l-93.71,70.666c-1.753,1.323-2.784,3.393-2.784,5.589v118.977c0,3.866 3.134,7 7,7h38.472 39.238 109.711 38.472 39.238c3.866,0 7-3.134 7-7v-118.977c0-2.196-1.031-4.266-2.785-5.589zm-11.215,117.566h-25.238v-111.977c0-2.197-1.031-4.266-2.785-5.589l-66.68-50.282 7.993-6.028 86.71,65.388v108.488zm-63.71,0v-111.977c0-2.197-1.031-4.266-2.785-5.589l-67.064-50.571 7.61-5.738 86.711,65.388v108.488h-24.472zm-89.247-.001h-20.464-2.464v-50.76h22.928v50.76zm14,0v-57.76c0-3.866-3.134-7-7-7h-36.928c-3.866,0-7,3.134-7,7v57.76h-22.774-38.472v-108.488l86.71-65.388 86.711,65.388v108.488h-61.247z"
      ></path>
    </g>
  </svg>
</template>
