<template>
<!-- eslint-disable -->
  <svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 512 512"
    style="enable-background:new 0 0 512 512;"
    xml:space="preserve"
  >
    <g>
      <g>
        <path
          d="M511.168,344.981c0.789-2.112,1.067-4.437,0.341-6.784l-42.176-137.067V74.667c0-29.397-23.915-53.333-53.333-53.333H96
			c-29.419,0-53.333,23.936-53.333,53.333v126.464L0.491,338.197c-0.725,2.325-0.448,4.651,0.341,6.784
			C0.32,347.243,0,349.568,0,352v85.333V480c0,5.888,4.779,10.667,10.667,10.667h42.667C59.221,490.667,64,485.888,64,480v-32h384
			v32c0,5.888,4.779,10.667,10.667,10.667h42.667c5.888,0,10.667-4.779,10.667-10.667v-42.667V352
			C512,349.568,511.68,347.243,511.168,344.981z M64,74.667c0-17.643,14.357-32,32-32h320c17.643,0,32,14.357,32,32V192h-28.992
			l-9.941-39.765C405.483,137.963,392.704,128,378.005,128h-68.672c-17.643,0-32,14.357-32,32v32h-42.667v-31.979
			c0-17.643-14.357-32-32-32h-68.672c-14.699,0-27.477,9.984-31.061,24.235L92.992,192H64V74.667z M397.099,209.237
			c-2.048,2.603-5.12,4.096-8.427,4.096h-79.339c-5.867,0-10.667-4.779-10.667-10.667V160c0-5.888,4.8-10.667,10.667-10.667h68.693
			c4.907,0,9.152,3.307,10.347,8.064l10.667,42.667C399.851,203.285,399.147,206.613,397.099,209.237z M213.355,160v42.56
			c0,0.043-0.021,0.064-0.021,0.107c0,0.021,0,0.043,0,0.043c-0.021,5.867-4.8,10.624-10.645,10.624h-79.339
			c-3.328,0-6.379-1.493-8.427-4.096c-2.048-2.624-2.752-5.973-1.941-9.173l10.667-42.667c1.195-4.736,5.44-8.064,10.368-8.064
			h68.672C208.555,149.333,213.355,154.112,213.355,160z M61.205,213.333h32.107c1.131,3.2,2.603,6.272,4.757,9.045
			c6.144,7.808,15.339,12.288,25.259,12.288h79.339c13.888,0,25.621-8.96,30.037-21.333h46.592
			c4.416,12.395,16.149,21.333,30.037,21.333h79.339c9.92,0,19.093-4.48,25.237-12.288c2.155-2.752,3.627-5.845,4.757-9.045h32.128
			l32.939,107.051C482.496,320.235,481.28,320,480,320H32c-1.28,0-2.496,0.235-3.712,0.384L61.205,213.333z M42.667,469.333H21.333
			V448h21.333V469.333z M490.667,469.333h-21.333V448h21.333V469.333z M490.667,426.667H21.333V352
			c0-5.888,4.8-10.667,10.667-10.667h448c5.867,0,10.667,4.779,10.667,10.667V426.667z"
        ></path>
      </g>
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</template>
