<template>
  <!-- eslint-disable -->
  <svg
    version="1.1"
    id="Capa_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 515.667 515.667"
    style="enable-background:new 0 0 515.667 515.667;"
    xml:space="preserve"
  >
    <g>
      <g>
        <path
          d="M446.533,119.425l-54.117-0.283l-51.85-77.35c-3.117-4.817-8.5-7.933-14.167-7.933H186.717
			c-5.667,0-10.767,3.117-13.883,7.65l-53.55,77.633l-50.15,0.283C31.167,119.425,0,150.592,0,188.558v223.55
			c0,37.967,31.167,69.7,69.133,69.7h377.4c37.967,0,69.133-31.733,69.133-69.7v-223.55
			C515.667,150.592,484.5,119.425,446.533,119.425z M481.667,412.108c0,19.267-15.867,35.7-35.133,35.7h-377.4
			c-19.267,0-35.133-16.433-35.133-35.7v-223.55c0-19.267,15.867-35.133,35.133-35.133h59.217c5.667,0,10.767-3.117,13.883-7.65
			l53.55-77.633h121.55l51.567,77.067c3.117,4.533,8.5,7.65,13.883,7.65l63.467,0.567c19.267,0,35.133,15.867,35.133,35.133v223.55
			H481.667z"
        ></path>
        <path
          d="M259.25,160.225c-66.583,0-120.417,54.117-120.417,120.417S192.95,401.058,259.25,401.058s120.417-54.117,120.417-120.417
			S325.55,160.225,259.25,160.225z M259.25,367.058c-47.6,0-86.417-38.817-86.417-86.417s38.817-86.417,86.417-86.417
			s86.417,38.817,86.417,86.417S306.85,367.058,259.25,367.058z"
        ></path>
        <circle cx="420.467" cy="210.092" r="6.517"></circle>
        <path
          d="M420.467,186.575c-13.033,0-23.517,10.483-23.517,23.517s10.483,23.517,23.517,23.517s23.517-10.483,23.517-23.517
			S433.5,186.575,420.467,186.575z M420.467,220.575c-5.95,0-10.483-4.817-10.483-10.483s4.817-10.483,10.483-10.483
			c5.667,0,10.483,4.817,10.483,10.483S426.417,220.575,420.467,220.575z"
        ></path>
      </g>
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</template>
