<template>
<!-- eslint-disable -->
  <svg viewBox="0 -16 368 368" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m368 328v-224c0-4.417969-3.582031-8-8-8h-144v-88c0-4.417969-3.582031-8-8-8h-48c-4.417969 0-8 3.582031-8 8v88h-144c-4.417969 0-8 3.582031-8 8v224c0 4.417969 3.582031 8 8 8h352c4.417969 0 8-3.582031 8-8zm-168-312v36.449219c-9.84375-5.933594-22.15625-5.933594-32 0v-36.449219zm-16 48c8.835938 0 16 7.164062 16 16v48h-32v-48c0-8.835938 7.164062-16 16-16zm168 256h-336v-208h136v16h-16v16h96v-16h-16v-16h136zm0 0"
    ></path>
    <path
      d="m184 160h-144c-4.417969 0-8 3.582031-8 8v128c0 4.417969 3.582031 8 8 8h144c4.417969 0 8-3.582031 8-8v-128c0-4.417969-3.582031-8-8-8zm-103.199219 128c2.421875-12.183594 10.332031-22.570312 21.429688-28.152344 2.695312-1.359375 4.394531-4.121094 4.394531-7.140625 0-3.015625-1.699219-5.777343-4.394531-7.140625-9.140625-4.546875-13.953125-14.789062-11.613281-24.730468 2.335937-9.9375 11.203124-16.964844 21.414062-16.964844s19.082031 7.027344 21.417969 16.964844c2.335937 9.941406-2.476563 20.183593-11.617188 24.730468-2.695312 1.363282-4.390625 4.125-4.390625 7.140625 0 3.019531 1.695313 5.78125 4.390625 7.140625 11.074219 5.59375 18.957031 15.980469 21.367188 28.152344zm95.199219 0h-16.625c-1.929688-13.996094-9.074219-26.746094-20-35.703125 6.839844-7.042969 10.652344-16.480469 10.625-26.296875 0-20.988281-17.011719-38-38-38s-38 17.011719-38 38c-.015625 9.820312 3.8125 19.261719 10.664062 26.296875-10.941406 8.949219-18.097656 21.703125-20.039062 35.703125h-16.625v-112h128zm0 0"
    ></path>
    <path d="m224 240h112v16h-112zm0 0"></path>
    <path d="m224 192h112v16h-112zm0 0"></path>
    <path d="m320 288h16v16h-16zm0 0"></path>
    <path d="m288 288h16v16h-16zm0 0"></path>
    <path d="m256 288h16v16h-16zm0 0"></path>
    <path d="m224 288h16v16h-16zm0 0"></path>
  </svg>
</template>
