<template>
<!-- eslint-disable -->
  <svg viewBox="0 0 384 384" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m384 224v-32c0-35.289062-28.710938-64-64-64s-64 28.710938-64 64v32c0 29.753906 20.441406 54.761719 48 61.894531v66.105469h-80v-352h-224v384h384v-32h-48v-66.105469c27.558594-7.132812 48-32.140625 48-61.894531zm-256 128v-32h-32v32h-64v-320h160v320zm160-128v-32c0-17.648438 14.351562-32 32-32s32 14.351562 32 32v32c0 17.648438-14.351562 32-32 32s-32-14.351562-32-32zm0 0"
    ></path>
    <path d="m64 64h96v32h-96zm0 0"></path>
    <path d="m64 128h96v32h-96zm0 0"></path>
    <path d="m64 192h96v32h-96zm0 0"></path>
    <path d="m64 256h96v32h-96zm0 0"></path>
  </svg>
</template>
