<template>
  <!-- eslint-disable -->
  <svg height="512pt" viewBox="-86 0 512 512.001" width="512pt" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m331.855469 169.675781c0 89.570313-162.179688 328.953125-162.179688 328.953125s-162.175781-239.382812-162.175781-328.953125c0-89.566406 72.609375-162.175781 162.175781-162.175781 89.570313 0 162.179688 72.609375 162.179688 162.175781zm0 0"
      fill="#d15573"
    ></path>
    <path
      d="m169.675781 75.410156-92.40625 92.410156h25.566407v77.164063h45.066406v-52.582031l8.480468-8.480469h26.589844l8.480469 8.480469v52.582031h45.0625v-77.164063h25.570313zm0 0"
      fill="#e2fc85"
    ></path>
    <path
      d="m107.269531 167.820312 77.40625-77.410156-15-15-92.40625 92.410156h25.566407v77.164063h30v-77.164063zm0 0"
      fill="#6ad34d"
    ></path>
    <path
      d="m37.5 169.675781c0-84.507812 64.640625-153.910156 147.175781-161.480469-4.9375-.453124-9.941406-.695312-15-.695312-89.566406 0-162.175781 72.609375-162.175781 162.175781 0 89.570313 162.175781 328.953125 162.175781 328.953125s5.71875-8.4375 15-22.730468c-40.171875-61.863282-147.175781-233.46875-147.175781-306.222657zm0 0"
      fill="#c21d44"
    ></path>
    <path d="m189.675781 307.460938h-15v-15h15zm-24.996093 0h-15v-15h15zm0 0" fill="#fff"></path>
    <path
      d="m339.355469 169.675781c0-93.558593-76.117188-169.675781-169.679688-169.675781-93.558593 0-169.675781 76.117188-169.675781 169.675781 0 90.828125 156.792969 323.308594 163.46875 333.160157l6.207031 9.164062c35.660157-52.636719 75.148438-116.703125 105.082031-171.9375l-13.1875-7.144531c-35.691406 65.859375-76.578124 128.996093-91.890624 152.183593-29.585938-44.839843-154.679688-238.96875-154.679688-315.421874 0-85.292969 69.386719-154.679688 154.675781-154.679688 85.292969 0 154.679688 69.386719 154.679688 154.675781 0 28.472657-18.464844 78.832031-53.40625 145.632813l13.292969 6.949218c36.570312-69.921874 55.113281-121.253906 55.113281-152.582031zm0 0"
    ></path>
    <path
      d="m229.019531 184.675781h14.996094v-9.355469h36.175781l-110.515625-110.515624-110.511719 110.515624h36.175782v77.164063h60.0625v-56.976563l4.085937-4.089843h20.375l4.089844 4.089843v56.976563h60.0625v-47.8125h-14.996094v32.8125h-30.066406v-48.191406l-12.875-12.871094h-32.800781l-12.875 12.871094v48.191406h-30.066406v-77.164063h-14.960938l74.300781-74.304687 74.304688 74.304687h-14.960938zm0 0"
    ></path>
  </svg>
</template>
