<template>
  <svg
    version="1.1"
    id="Capa_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 456.556 456.556"
    style="enable-background:new 0 0 456.556 456.556;"
    xml:space="preserve"
  >
    <g>
      <path
        d="M228.278,425.182c-63.507,0-115.964-48.215-122.671-109.971H13.428C6.011,315.211,0,309.196,0,301.783v-42.131
		C0,133.778,102.403,31.374,228.278,31.374s228.278,102.403,228.278,228.278v42.131c0,7.413-6.015,13.428-13.428,13.428h-92.178
		C344.242,376.966,291.782,425.182,228.278,425.182z M26.856,288.355h91.451c7.417,0,13.428,6.015,13.428,13.428
		c0,53.237,43.309,96.543,96.543,96.543c53.237,0,96.543-43.306,96.543-96.543c0-7.413,6.015-13.428,13.428-13.428H429.7v-28.703
		c0-111.062-90.36-201.422-201.422-201.422c-111.065,0-201.422,90.36-201.422,201.422V288.355z"
      ></path>
      <path
        d="M304.448,236.831c-3.385,0-6.777-1.273-9.393-3.826c-5.301-5.189-5.392-13.694-0.21-18.995l19.142-19.569
		c5.203-5.294,13.687-5.392,18.995-0.21c5.301,5.189,5.392,13.694,0.21,18.995l-19.142,19.569
		C311.413,235.482,307.93,236.831,304.448,236.831z"
      ></path>
      <path
        d="M227.753,195.295c-7.417,0-13.428-6.015-13.428-13.428V154.5c0-7.413,6.011-13.428,13.428-13.428
		c7.413,0,13.428,6.015,13.428,13.428v27.367C241.182,189.28,235.167,195.295,227.753,195.295z"
      ></path>
      <path
        d="M151.056,236.831c-3.486,0-6.969-1.35-9.599-4.035l-19.146-19.569c-5.186-5.301-5.091-13.806,0.21-18.988
		c5.294-5.196,13.799-5.091,18.988,0.203l19.146,19.569c5.186,5.301,5.091,13.806-0.21,18.988
		C157.833,235.559,154.444,236.831,151.056,236.831z"
      ></path>
      <path
        d="M228.278,351.229c-27.265,0-49.446-22.184-49.446-49.446c0-5.931,4.808-10.742,10.742-10.742s10.742,4.812,10.742,10.742
		c0,15.421,12.543,27.961,27.961,27.961c5.931,0,10.742,4.812,10.742,10.742S234.209,351.229,228.278,351.229z"
      ></path>
      <path
        d="M266.674,317.533c-0.455,0-0.909-0.028-1.378-0.084c-5.882-0.755-10.043-6.134-9.295-12.022
		c0.154-1.196,0.238-2.413,0.238-3.644c0-15.421-12.54-27.961-27.961-27.961c-15.418,0-27.961,12.54-27.961,27.961
		c0,5.931-4.808,10.742-10.742,10.742s-10.742-4.812-10.742-10.742c0-27.262,22.181-49.446,49.446-49.446
		c27.262,0,49.446,22.184,49.446,49.446c0,2.154-0.14,4.28-0.406,6.371C276.626,313.574,272.003,317.533,266.674,317.533z"
      ></path>
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</template>
