<template>
  <!-- eslint-disable -->
  <svg
    version="1.1"
    id="Capa_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 489.229 489.229"
    style="enable-background:new 0 0 489.229 489.229;"
    xml:space="preserve"
  >
    <path
      d="M482.807,152.48L249.691,37.786c-3.202-1.576-6.953-1.576-10.154,0L6.423,152.48C2.491,154.415,0,158.416,0,162.799v267.752
	c0,12.172,9.903,22.075,22.075,22.075h445.078c12.173,0,22.076-9.903,22.076-22.075V162.799
	C489.229,158.416,486.738,154.415,482.807,152.48z M385.114,305.139h-281v-39.507h281V305.139z M104.114,328.139h281v39.508h-281
	V328.139z M385.114,242.633h-281v-41.007h281V242.633z M104.114,390.647h281v38.979h-281V390.647z M466.229,429.626h-58.115v-239.5
	c0-6.352-5.148-11.5-11.5-11.5h-304c-6.351,0-11.5,5.148-11.5,11.5v239.5H23V169.957L244.614,60.921l221.615,109.036V429.626z"
    ></path>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</template>
