<template>
  <svg
    version="1.1"
    id="detailsPhoto"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 512 512"
    style="enable-background:new 0 0 512 512;"
    xml:space="preserve">
    <g>
      <g>
        <g>
          <path
            d="M379.879,131.063c-28.418,0-51.537,23.12-51.537,51.537s23.119,51.537,51.537,51.537
				c28.417,0,51.537-23.119,51.537-51.537C431.416,154.181,408.297,131.063,379.879,131.063z M379.879,214.137
				c-17.39,0-31.537-14.147-31.537-31.537s14.147-31.537,31.537-31.537c17.389,0,31.537,14.147,31.537,31.537
				C411.416,199.988,397.269,214.137,379.879,214.137z"
          ></path>
          <path
            d="M380.23,451.181c-0.25-0.61-0.56-1.19-0.92-1.73c-0.36-0.55-0.78-1.06-1.24-1.52c-0.46-0.46-0.97-0.88-1.52-1.24
				c-0.54-0.36-1.12-0.67-1.73-0.92c-0.6-0.25-1.23-0.45-1.87-0.57c-1.29-0.26-2.61-0.26-3.9,0c-0.64,0.12-1.27,0.32-1.87,0.57
				c-0.61,0.25-1.19,0.56-1.73,0.92c-0.55,0.36-1.06,0.78-1.52,1.24c-0.46,0.46-0.88,0.97-1.24,1.52c-0.36,0.54-0.67,1.12-0.92,1.73
				c-0.25,0.6-0.45,1.23-0.57,1.87c-0.13,0.64-0.2,1.3-0.2,1.95c0,0.65,0.07,1.31,0.2,1.95c0.12,0.64,0.32,1.27,0.57,1.87
				c0.25,0.61,0.56,1.19,0.92,1.73c0.36,0.55,0.78,1.06,1.24,1.52c0.229,0.229,0.471,0.448,0.723,0.655
				c0.255,0.208,0.521,0.405,0.797,0.585c0.54,0.36,1.12,0.67,1.73,0.92c0.6,0.25,1.23,0.45,1.87,0.57c0.64,0.13,1.3,0.2,1.95,0.2
				c0.65,0,1.31-0.07,1.95-0.2c0.64-0.12,1.27-0.32,1.87-0.57c0.61-0.25,1.19-0.56,1.73-0.92c0.276-0.181,0.542-0.377,0.797-0.585
				c0.253-0.207,0.494-0.426,0.723-0.655c0.46-0.46,0.88-0.97,1.24-1.52c0.36-0.54,0.67-1.12,0.92-1.73
				c0.25-0.6,0.45-1.23,0.58-1.87c0.13-0.64,0.19-1.3,0.19-1.95s-0.06-1.31-0.19-1.95C380.68,452.41,380.48,451.78,380.23,451.181z"
          ></path>
          <path
            d="M222.85,55.451c-0.25-0.6-0.56-1.18-0.92-1.73c-0.36-0.54-0.78-1.06-1.24-1.52c-0.46-0.46-0.97-0.88-1.52-1.24
				c-0.54-0.36-1.12-0.67-1.73-0.92c-0.6-0.25-1.23-0.44-1.87-0.57c-1.29-0.26-2.61-0.26-3.9,0c-0.64,0.13-1.27,0.32-1.88,0.57
				c-0.6,0.25-1.18,0.56-1.72,0.92c-0.55,0.36-1.06,0.78-1.52,1.24c-0.46,0.46-0.88,0.98-1.25,1.52c-0.36,0.55-0.66,1.13-0.91,1.73
				c-0.25,0.6-0.45,1.23-0.57,1.87c-0.13,0.65-0.2,1.3-0.2,1.96c0,0.65,0.07,1.3,0.2,1.95c0.12,0.64,0.32,1.27,0.57,1.87
				c0.25,0.6,0.55,1.18,0.91,1.73c0.37,0.54,0.79,1.06,1.25,1.52c0.46,0.46,0.97,0.88,1.52,1.24c0.54,0.36,1.12,0.67,1.72,0.92
				c0.61,0.25,1.24,0.44,1.88,0.57c0.64,0.13,1.3,0.2,1.95,0.2c0.65,0,1.31-0.07,1.95-0.2c0.64-0.13,1.27-0.32,1.87-0.57
				c0.61-0.25,1.19-0.56,1.73-0.92c0.55-0.36,1.06-0.78,1.52-1.24c0.46-0.46,0.88-0.98,1.24-1.52c0.36-0.55,0.67-1.13,0.92-1.73
				c0.25-0.6,0.45-1.23,0.57-1.87c0.13-0.65,0.2-1.3,0.2-1.95c0-0.66-0.07-1.31-0.2-1.96C223.3,56.681,223.1,56.051,222.85,55.451z"
          ></path>
          <path
            d="M456.128,49.318c-5.996-25.349-28.8-44.274-55.956-44.274H86.417C38.767,5.043,0,43.81,0,91.46v313.755
				c0,31.161,24.917,56.595,55.872,57.468c5.996,25.349,28.8,44.274,55.956,44.274H454.49c31.711,0,57.51-25.799,57.51-57.51
				v-75.458V106.785C512,75.625,487.083,50.191,456.128,49.318z M492,449.449c0,20.683-16.827,37.51-37.51,37.51H111.828
				c-16.01,0-29.702-10.085-35.075-24.233c-1.569-4.13-2.435-8.603-2.435-13.277v-6.723v-46.329l114.725-194.524
				c3.493-5.922,9.722-9.38,16.556-9.27c6.875,0.118,12.942,3.792,16.23,9.831l49.396,90.702l71.801,131.843
				c1.814,3.332,5.247,5.219,8.791,5.219c1.616,0,3.255-0.393,4.774-1.22c4.85-2.642,6.641-8.715,4-13.565l-23.3-42.785
				c10.23,0.472,20.292-2.841,28.305-9.488l44.971-37.306c7.212-5.983,17.861-5.72,24.769,0.613l2.348,2.152l20,18.333L492,378.389
				V449.449z M492,351.257l-34.317-31.458l-20-15.229c-13.031-5.45-28.525-3.554-39.886,5.87l-44.971,37.306
				c-4.946,4.104-11.404,5.762-17.716,4.549c-6.312-1.212-11.695-5.146-14.769-10.79l-31.552-57.936l-17.618-32.351v-0.001
				l-31.777-58.35c-6.778-12.445-19.284-20.02-33.453-20.262c-14.165-0.222-26.926,6.901-34.125,19.107L74.317,357.027V106.785
				c0-20.683,16.827-37.51,37.51-37.51h61.792c5.523,0,10-4.477,10-10s-4.477-10-10-10h-61.792c-31.711,0-57.51,25.799-57.51,57.51
				v286.882v48.912C35.124,440.952,20,424.822,20,405.215V91.46c0-36.623,29.795-66.417,66.417-66.417h313.755
				c16.01,0,29.702,10.085,35.075,24.233H253.619c-5.523,0-10,4.477-10,10c0,5.523,4.477,10,10,10h184.063l20,0.146
				C476.876,71.048,492,87.178,492,106.785V351.257z"
          ></path>
        </g>
      </g>
    </g>
  </svg>
</template>
