<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 320" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 320 320">
  <path d="m150,110h-80v80h-70v100h150 20 150v-80-20-60-20-80h-170v80zm-60,20h60 70v60h-50-20-60v-60zm60,140h-130v-60h50 80v60zm150,0h-130v-60h50 20 60v60zm0-80h-60v-60h60v60zm-130-140h130v60h-60-20-50v-60z"/>
</svg>
</template>
