<template>
<!-- eslint-disable -->
  <svg
    version="1.1"
    id="Capa_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 377.663 377.663"
    style="enable-background:new 0 0 377.663 377.663;"
    xml:space="preserve"
  >
    <g>
      <path
        d="M377.663,95.634V0h-95.634v41.964H95.639V0H0v95.634h41.964v186.39H0v95.64h95.634v-41.965h186.396
		v41.965h95.634v-95.634h-41.959V95.634H377.663z M293.74,11.71h72.213v72.213h-30.249H293.74V41.959V11.71z M11.71,83.923V11.71
		h72.212v30.254v41.964H41.964H11.71V83.923z M83.929,365.953H11.71V293.74h30.254h41.964v41.958V365.953z M365.953,293.74v72.213
		H293.74v-30.255V293.74h41.964H365.953z M323.994,282.029h-41.965v41.959H95.639v-41.959H53.675V95.634h41.964V53.669h186.39
		v41.965h41.965V282.029z"
      ></path>
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</template>
