<template>
<!-- eslint-disable -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    id="Layer_1"
    x="0px"
    y="0px"
    viewBox="0 0 512 512"
    style="enable-background:new 0 0 512 512;"
    xml:space="preserve"
  >
    <path
      d="M422,31v37.5L404,82c-59.327,44.495-133.552,69-209,69H75c-41.355,0-75,33.645-75,75v30c0,36.219,25.808,66.522,60,73.491  V481h87.297l30-150H195c75.448,0,149.673,24.505,209,69l18,13.5V451h90V31H422z M122.703,451H90V331h56.703L122.703,451z M180,301  H75c-24.813,0-45-20.187-45-45v-30c0-19.555,12.541-36.228,30-42.42V241h30v-60h30v60h30v-60h30V301z M210,301.301V180.699  c76.692-3.04,151.455-29.291,212-74.699v270C361.455,330.592,286.692,304.341,210,301.301z M482,421h-30V61h30V421z"
    ></path>
  </svg>
</template>
