<template>
<!-- eslint-disable -->
  <svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 512 512"
    style="enable-background:new 0 0 512 512;"
    xml:space="preserve"
  >
    <g>
      <g>
        <polygon
          points="325.502,52.833 325.502,68.377 409.816,68.377 409.816,443.623 400.633,443.623 400.633,117.138 385.089,117.138 
			385.089,443.623 325.502,443.623 325.502,459.167 425.361,459.167 425.361,52.833 		"
        ></polygon>
      </g>
    </g>
    <g>
      <g>
        <rect x="86.644" y="355.486" width="15.544" height="15.544"></rect>
      </g>
    </g>
    <g>
      <g>
        <polygon
          points="86.639,54.494 86.639,337.866 102.184,337.866 102.184,66.717 295.693,19.766 295.693,492.234 102.184,445.283 
			102.184,389.68 86.639,389.68 86.639,457.506 311.237,512 311.237,0 		"
        ></polygon>
      </g>
    </g>
    <g>
      <g>
        <path
          d="M255.762,254.446c-12.685,0-23.005,10.32-23.005,23.005s10.32,23.005,23.005,23.005
			c12.685,0.001,23.005-10.32,23.005-23.005S268.447,254.446,255.762,254.446z M255.761,284.912
			c-4.113,0.001-7.461-3.347-7.461-7.461s3.347-7.461,7.461-7.461c4.114,0,7.461,3.347,7.461,7.461S259.875,284.912,255.761,284.912
			z"
        ></path>
      </g>
    </g>
    <g>
      <g>
        <rect x="385.093" y="83.98" width="15.544" height="15.544"></rect>
      </g>
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</template>
