<template>
<!-- eslint-disable -->
  <svg
    version="1.1"
    id="Capa_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 612 612"
    style="enable-background:new 0 0 612 612;"
    xml:space="preserve"
  >
    <g>
      <path
        d="M546.489,289.249c-2.687-46.96-16.751-90.334-41.574-129.515c-24.829-39.188-57.764-70.233-98.713-93.027
		c-40.712-22.673-84.647-34.102-132.208-34.102c-37.095,0-72.632,7.307-106.485,21.837c-33.75,14.485-63.194,33.725-87.647,58.025
		c-24.3,24.159-43.795,53.188-58.325,87.047C7.051,233.259,0,268.612,0,305.7c0,37.095,7.051,72.74,21.537,106.491
		c14.53,33.853,34.102,62.812,58.325,87.041c24.53,24.53,53.896,43.847,87.647,58.332c33.853,14.53,69.391,21.83,106.485,21.83
		c41.574,0,81.956-9.271,121.143-28.116l-14.059-30.509c-33.802,17.051-69.696,25.723-107.084,25.723
		c-43.374,0-83.793-10.701-120.843-32.302c-36.833-21.473-66.174-50.814-87.647-87.641c-21.601-37.057-32.302-77.476-32.302-120.85
		s10.765-83.455,32.302-120.243c21.537-36.795,50.814-66.174,87.647-87.641c37.05-21.607,77.469-32.309,120.843-32.309
		c31.109,0,60.999,6.037,89.434,17.651c28.696,11.716,53.546,27.216,74.782,47.26c21.237,20.038,38.225,43.699,51.746,71.49
		c13.401,27.548,21.237,56.532,23.33,87.341h-65.504l81.062,80.762L612,289.249H546.489L546.489,289.249z"
      ></path>
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</template>
