<template>
  <!-- eslint-desable -->
  <svg
    version="1.1"
    id="Capa_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 398.482 398.482"
    style="enable-background:new 0 0 398.482 398.482;"
    xml:space="preserve"
  >
    <g>
      <g>
        <g id="Layer_5_65_">
          <g>
            <path
              d="M351.881,124.625c-29.992,0-119.967,0-119.967,0c-2.918,0-5.308-2.387-5.308-5.305V4.823c0,0,0.086-4.821-4.664-4.821
					c-42.905,0-171.617,0-171.617,0c-4.826,0-8.776,3.95-8.776,8.776v380.929c0,4.826,3.95,8.776,8.776,8.776h297.83
					c4.828,0,8.777-3.95,8.777-8.776V129.884C356.934,129.884,356.934,124.625,351.881,124.625z"
            ></path>
            <path
              d="M250.348,107.861h102.906c3.715,0,4.555-2.119,1.865-4.708L248.482,1.458c-2.688-2.59-4.889-1.637-4.889,2.117v97.459
					C243.595,104.792,246.633,107.861,250.348,107.861z"
            ></path>
          </g>
        </g>
      </g>
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
</template>
