<template>
  <!-- eslint-disable -->
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 129 129"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    enable-background="new 0 0 129 129"
  >
    <g>
      <g>
        <path
          d="m35,49.5h59c2.3,0 4.1-1.8 4.1-4.1s-1.8-4.1-4.1-4.1h-59c-2.3,0-4.1,1.8-4.1,4.1s1.8,4.1 4.1,4.1z"
        ></path>
        <path
          d="m35,69.3h59c2.3,0 4.1-1.8 4.1-4.1 0-2.3-1.8-4.1-4.1-4.1h-59c-2.3,0-4.1,1.8-4.1,4.1 0,2.3 1.8,4.1 4.1,4.1z"
        ></path>
        <path
          d="m10.5,95.8h13.2v13.5c0,1.6 0.9,3 2.3,3.7 0.6,0.3 1.2,0.4 1.8,0.4 0.9,0 1.8-0.3 2.5-0.8l22-16.7h66.2c2.3,0 4.1-1.8 4.1-4.1v-72.9c0-2.3-1.8-4.1-4.1-4.1h-108c-2.3,0-4.1,1.8-4.1,4.1v72.8c0,2.3 1.9,4.1 4.1,4.1zm4.1-72.8h99.7v64.6h-63.4c-0.9,0-1.8,0.3-2.5,0.8l-16.5,12.6v-9.3c0-2.3-1.8-4.1-4.1-4.1h-13.2v-64.6z"
        ></path>
      </g>
    </g>
  </svg>
</template>
