<template>
<!-- eslint-disable -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
    <g id="Big_data" data-name="Big data">
      <path
        d="M56,41.142V22.858a3.99,3.99,0,1,0-3.653-6.829l-16.4-9.464A3.9,3.9,0,0,0,36,6a4,4,0,0,0-8,0,3.9,3.9,0,0,0,.057.565l-16.4,9.464A3.988,3.988,0,1,0,8,22.858V41.142a3.99,3.99,0,1,0,3.653,6.829l16.4,9.464A3.9,3.9,0,0,0,28,58a4,4,0,0,0,8,0,3.9,3.9,0,0,0-.057-.565l16.4-9.464A3.988,3.988,0,1,0,56,41.142ZM41.417,44l2.446-4.147,7.289,4.116-.01.031ZM12.858,44l-.01-.031,7.289-4.116L22.583,44Zm9.725-24-2.446,4.147-7.289-4.116.01-.031Zm28.559,0,.01.031-7.289,4.116L41.417,20Zm2.763,21.172L48.5,32l5.41-9.172c.032.01.063.022.095.03V41.142C53.968,41.15,53.937,41.162,53.905,41.172ZM52.13,42.225,44.879,38.13l2.455-4.162,4.839,8.2C52.157,42.188,52.146,42.208,52.13,42.225ZM35.848,30.969l7.289-4.116L46.173,32l-3.036,5.147-7.289-4.116a3.573,3.573,0,0,0,0-2.062Zm16.325-9.141-4.839,8.2L44.879,25.87l7.251-4.1C52.146,21.792,52.157,21.812,52.173,21.828Zm-10.052,3.3-7.251,4.1A3.986,3.986,0,0,0,33,28.142V20H39.1ZM32,34a2,2,0,1,1,2-2A2,2,0,0,1,32,34Zm1-16V9.858c.032-.008.063-.02.095-.03L37.915,18ZM31,9.858V18H26.085l4.82-8.172C30.937,9.838,30.968,9.85,31,9.858ZM31,20v8.142a3.986,3.986,0,0,0-1.87,1.083l-7.251-4.1L24.905,20ZM11.827,42.172l4.839-8.2,2.455,4.162L11.87,42.225C11.854,42.208,11.843,42.188,11.827,42.172Zm6-10.172,3.036-5.147,7.289,4.116a3.573,3.573,0,0,0,0,2.062l-7.289,4.116ZM11.87,21.775l7.251,4.1-2.455,4.162-4.839-8.2C11.843,21.812,11.854,21.792,11.87,21.775ZM10.1,22.828,15.505,32,10.1,41.172c-.032-.01-.063-.022-.1-.03V22.858C10.032,22.85,10.063,22.838,10.1,22.828ZM21.879,38.87l7.251-4.095A3.986,3.986,0,0,0,31,35.858V44H24.905ZM31,46v8.142c-.032.008-.063.02-.095.03L26.085,46Zm2,8.142V46h4.915L33.1,54.172C33.063,54.162,33.032,54.15,33,54.142ZM33,44V35.858a3.986,3.986,0,0,0,1.87-1.083l7.251,4.095L39.1,44ZM55,17a2,2,0,1,1-2,2A2,2,0,0,1,55,17Zm-3.764.7c-.035.1-.067.2-.094.3h-10.9L34.826,8.828a4.068,4.068,0,0,0,.335-.4ZM32,4a2,2,0,1,1-2,2A2,2,0,0,1,32,4ZM29.174,8.828,23.763,18h-10.9c-.027-.1-.059-.2-.094-.3L28.839,8.423A4.068,4.068,0,0,0,29.174,8.828ZM7,19a2,2,0,1,1,2,2A2,2,0,0,1,7,19ZM9,47a2,2,0,1,1,2-2A2,2,0,0,1,9,47Zm3.764-.7c.035-.1.067-.2.094-.3H23.763l5.411,9.172a4.068,4.068,0,0,0-.335.405ZM32,60a2,2,0,1,1,2-2A2,2,0,0,1,32,60Zm2.826-4.828L40.237,46H51.142c.027.1.059.2.094.3L35.161,55.577A4.068,4.068,0,0,0,34.826,55.172ZM55,47a2,2,0,1,1,2-2A2,2,0,0,1,55,47Z"
      ></path>
    </g>
  </svg>
</template>
