<template>
<div class="languages" @click='drop = false'>
  <subtle @click.stop.native='drop = !drop'>{{ $t('account.buttons.lang') }}</subtle>
  <div class='layer' v-if='drop' @click.self='drop = false'></div>
  <transition
    name="custom-classes-transition"
    enter-active-class="animated dur02 fadeIn"
    leave-active-class="animated dur02 fadeOut"
    mode="out-in">
  <ul class="languages__list" v-if='drop'>
    <li
      class="languages__item"
      @click='addLanguage(item)'
      v-for='(item, index) in getLanguages'
      :key='index'>
      {{ `${item.name} ${item.nativeName}` }}
    </li>
  </ul>
  </transition>
</div>
</template>
<script>
import Subtle from '@/components/common/buttons/Subtle.vue';
import languages from '@/assets/js/languages';
import '@/assets/scss/components/languages.scss';

export default {
  name: 'AllLanguages',
  props: ['list'],
  components: {
    Subtle,
  },
  data() {
    return {
      drop: false,
      languages,
    };
  },
  methods: {
    addLanguage(item) {
      this.$emit('addLanguage', item);
    },
  },
  computed: {
    getLanguages() {
      return languages.filter((lang) => {
        return this.list.every(e => e.code !== lang.code);
      });
    },
  },
};
</script>
