<template>
<div class="drop-input__box">
  <transition-group name="list-complete" tag="div">
  <div
    class="drop-input list-complete-item"
    v-for='(item, index) in phones'
    :key='String(index)'
    @click='close(item.id)'>
    <div class="drop-input__wrapper">
      <vue-tel-input
        placeholder=''
        class='drop-input__input drop-input__input--phone'
        @input='(v) => setPhone(v, index)'
        :value='item.phone'
        :preferredCountries="['nl', 'gb', 'es', 'de', 'fr', 'pl', 'it', 'ru']">
      </vue-tel-input>
      <div class="drop-input__icon-check-wrapper" v-if='!!item.is_check'>
        <icon-check class='drop-input__icon-check'/>
      </div>
      <icon-star
        class='drop-input__icon-star drop-input__icon-star--phone'
        :class='{"drop-input__icon-star--active": !!item.favorite}'
        @click.native='toggleFavoritePhone(item.id)'/>
    </div>
    <close-button
      @click.native.stop='removePhone(index)'
      class="drop-input__remove-button"/>
  </div>
  </transition-group>
</div>
</template>
<script>
import CloseButton from '@/components/common/buttons/CloseButton.vue';
import IconCheck from '@/components/common/icons/IconCheck.vue';
import IconStar from '@/components/common/icons/IconStar.vue';
import nl from '@/components/common/icons/square-flags/Netherlands.vue';
import en from '@/components/common/icons/square-flags/England.vue';
import 'vue-tel-input/dist/vue-tel-input.css';
import '@/assets/scss/components/_drop-input.scss';
import VueTelInput from 'vue-tel-input';

export default {
  name: 'InputPhone',
  props: ['phones'],
  components: {
    VueTelInput,
    CloseButton,
    IconCheck,
    IconStar,
    nl,
    en,
  },
  data() {
    return {
      languages: ['nl', 'en'],
    };
  },
  methods: {
    close(id) {
      this.$emit('close', id);
    },
    setPhone(e, idx) {
      this.$emit('input', [e, idx])
    },
    removePhone(idx) {
      this.$emit('removePhone', idx);
    },
    toggleFavoritePhone(id) {
      this.$emit('toggleFavoritePhone', id);
    },
  },
};
</script>
