<template>
  <div class='app'>
    <client-only>
    <transition
      name="custom-classes-transition"
      enter-active-class="animated dur02 fadeIn"
      leave-active-class="animated dur02 fadeOut"
      mode="out-in">
    
      <div class="app__spin" v-if='$store.state.gears.loading'>
        <a-spin>
          <a-icon slot="indicator" type="loading" class="app__spin-icon has-text-success" spin />
        </a-spin>
        <span class='app__spin-text'>Loading...</span>
      </div>
    
    </transition>
    </client-only>
    <nuxt/>
  </div>
</template>
<script>
export default {
  name: 'App',
}
</script>
<style lang="scss">
html {
  padding: 0;
}
.app {
  &__spin {
    position: fixed;
    z-index: 1000;
    bottom: 24px;
    right: 32px;
    @include flex-col(flex-start, center);
    background-color: $N0;
    box-shadow: 0 0 22px 22px (rgb(255, 255, 255));
    border-radius: 10px;
  }
  &__spin-icon {
    font-size: 26px !important;
    filter: brightness(0.8);
  }
  &__spin-text {
    font-size: $H200;
    @include text($H200, $N18, 500);
    padding-left: 12px;
  }
}
</style>

