<template>
<a  :href='`/${url}/${object.id}`' target='_blank' class="agency-data">
  <div class="agency-data__image-wrapper">
    <img :src="object.image" alt="" v-if='object.image' class="agency-data__image">
    <img src="@/assets/images/placeholder.png" v-else alt="image" class="agency-data__image">
  </div>
  <div class="agency-data__content">
    <div class="agency-data__row agency-data__row--space">
      <div class="agency-data__col">
        <p class="agency-data__text agency-data__text--address">{{ object.street_address }}</p>
        <p class="agency-data__text agency-data__text--region">{{ object.address }}</p>
      </div>
      <p class="agency-data__text agency-data__text--price"
        >€ {{ formatedPrice }},- {{object.condition.split('').join('.')}}.</p>
    </div>
    <div class="agency-data__row agency-data__row--space">
      <div class="agency-data__row agency-data__row--end">
        <div class="agency-data__feature">
          <icon-plan class="agency-data__feature-icon"/>
          <p class="agency-data__text agency-data__text--feature">{{ object.living_space }} m<sup>2</sup></p>
        </div>
        <div class="agency-data__feature">
          <icon-square class="agency-data__feature-icon"/>
          <p class="agency-data__text agency-data__text--feature">{{ object.plot_surface }} m<sup>2</sup></p>
        </div>
        <div class="agency-data__feature">
          <icon-door class="agency-data__feature-icon"/>
          <p class="agency-data__text agency-data__text--feature">{{ object.rooms }}</p>
        </div>
        <div class="agency-data__feature" v-if='object.bed'>
          <icon-bed class="agency-data__feature-icon"/>
          <p class="agency-data__text agency-data__text--feature">{{ object.bed }}</p>
        </div>
      </div>
      <div class="agency-data__row agency-data__row--center">
        <icon-eye class="agency-data__show-icon"/>
        <p class="agency-data__text agency-data__text--show">0</p>
      </div>
    </div>
  </div>
</a>
</template>
<script>
import IconSquare from '@/components/common/icons/IconSquare.vue';
import IconPlan from '@/components/common/icons/IconPlan.vue';
import IconDoor from '@/components/common/icons/IconDoor.vue';
import IconBed from '@/components/common/icons/IconBed.vue';
import IconEye from '@/components/common/icons/IconEye.vue';
import numeral from 'numeral-es6';
import { mapState } from 'vuex';

export default {
  name: 'AgencyData',
  props: {
    object: {
      type: Object,
    },
  },
  components: {
    IconSquare,
    IconPlan,
    IconDoor,
    IconBed,
    IconEye,
  },
  computed: {
    ...mapState('dataAdmin', {
      url: state => state.company.url,
    }),
    formatedPrice() {
      const { price: oldPrice } = this.object;
      const newPrice = numeral(oldPrice).format('0,0');
      return newPrice.split(',').join('.');
    },
  },
  methods: {
    openObject(id) {
      this.$router.push(`/${this.url}/${id}`)
    },
  }
};
</script>

<style lang="scss">
.agency-data {
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  background-color: $N0;
  @include flex-row(flex-start, stretch);
  height: 110px;
  &__image-wrapper {
    background-color: whitesmoke;
    flex: 0 0 120px;
    height: 100%;
  }
  &__image {
    @extend %image;
  }
  &__content {
    flex: 1 1;
    padding: 12px 20px;
    @include flex-col(space-between, stretch);
  }
  &__text {
    @include text($H400, $B6, 500);
    &--address {
      font-size: $H600;
      font-weight: 600;
      margin-bottom: 6px;
    }
    &--region {
      color: $N13;
    }
    &--price {
      font-size: $H600;
      color: $B9;
      font-weight: 600;
      white-space: nowrap;
    }
    &--feature {
      font-size: $H300;
      font-weight: 400;
      color: $N17;
    }
    &--show {
      font-size: $H600;
      font-weight: 600;
      color: $B6;
    }
  }
  &__row {
    @include flex-row(flex-start, flex-start);
    &--end {
      align-items: flex-end;
    }
    &--center {
      align-items: center;
    }
    &--space {
      justify-content: space-between;
    }
  }
  &__feature {
    @include flex-row(flex-start, center);
    margin-right: 16px;
  }
  &__feature-icon {
    width: 16px;
    height: 16px;
    fill: $B6;
    margin-right: 8px;
  }
  &__show-icon {
    width: 18px;
    height: 18px;
    fill: #9b9b9b;
    margin-right: 8px;
  }
}
</style>
