<template>
  <div class="settings-card-popup">
    <transition
      name="custom-classes-transition"
      enter-active-class="animated dur04 bounceIn"
      leave-active-class="animated dur04 fadeOut"
      mode="out-in">
    <div
      class="notification is-success settings-card-popup__notification"
      v-if='isSuccess'
      key='success'>
      <button @click='isSuccess = false' class="delete"></button>
      Changes saved successfully
    </div>
    <div
      class="notification is-warning settings-card-popup__notification"
      v-if='isError'
      key='error'>
      <button @click='isError = false' class="delete"></button>
      An error occurred while saving
    </div>
    </transition>
    <div class="settings-card-popup__header">
      <p class="settings-card-popup__title">Settings</p>
      <subtle @click.native='save' class="settings-card-popup__save">Save</subtle>
    </div>
    <div class="settings-card-popup__body">
      <div class="settings-card-popup__field">
        <p class="settings-card-popup__label">Status</p>
        <div class="settings-card-popup__drop" @click='drop.status = !drop.status'>
          <div class="settings-card-popup__drop-input">
            <p class="settings-card-popup__placeholder"
              >{{ statusList[status]}}
            </p>
            <icon-arrow-down class="settings-card-popup__arrow"/>
          </div>
          <ul class="settings-card-popup__drop-list" v-if='drop.status'>
            <li
              class="settings-card-popup__drop-item"
              @click='selectStatus(key)'
              v-for='(value, key) in statusList'
              :key='key'>{{ value }}
            </li>
          </ul>
        </div>
      </div>
      <div class="settings-card-popup__field">
        <p class="settings-card-popup__label">Import type</p>
        <div class="settings-card-popup__drop" @click='drop.type = !drop.type'>
          <div class="settings-card-popup__drop-input">
            <p class="settings-card-popup__placeholder">{{ type }}</p>
            <icon-arrow-down class="settings-card-popup__arrow"/>
          </div>
          <ul class="settings-card-popup__drop-list" v-if='drop.type'>
            <li
              class="settings-card-popup__drop-item"
              @click='selectType(item)'
              v-for='(item, index) in typeList'
              :key='index'>{{ item }}
            </li>
          </ul>
        </div>
      </div>
      <div class="settings-card-popup__field">
        <label for="url" class="settings-card-popup__label">Import URL</label>
        <input
          id='url'
          type="text"
          autocomlete='autocomplete_off_hack_xfr4!k'
          class="settings-card-popup__input"
          v-model='url'>
      </div>
    </div>
  </div>
</template>
<script>
import Subtle from '@/components/common/buttons/Subtle.vue';
import IconArrowDown from '@/components/common/icons/IconArrowDown.vue';
import http from 'axios';
import { api } from '@/api/admin';
import { mapMutations, mapState, mapActions, mapGetters } from 'vuex';

export default {
  name: 'Settingspopup',
  components: {
    Subtle,
    IconArrowDown,
  },
  data () {
    return {
      drop: {
        status: false,
        type: false,
      },
      type: 'Pyber',
      typeList: [
        'Pyber',
      ],
      status: 1,
      statusList: {
        1: 'Active',
        2: 'Inactive',
      }, 
      url: '',
      isSuccess: false,
      isError: false,
    };
  },
  methods: {
    ...mapMutations('gears', [
      'setSettingsPopup',
    ]),
    ...mapActions({
      getCompany: 'dataAdmin/getCompany',
      getObjects: 'dataAgency/getObjects',
    }),
    selectStatus(key) {
      this.status = Number(key);
    },
    selectType(item) {
      this.type = item;
    },
    save: async function() {
      await this.changeStatus();
      this.toggleParsing();
      this.getObjects(this.company.id); 
    },
    toggleParsing() {
      const { url, type, status } = this;
      const { id: company_id } = this.company;
      const data = Object.assign({}, { url, type, status, company_id })
      http.post(api.parsing, data)
        .then((resp) => {
          this.showSuccess();
          this.getCompany(this.company.id);
        })
        .catch((error) => {
          this.showError();
          this.getCompany(this.company.id);
        })
    },
    changeStatus() {
      return new Promise((resolve, reject) => {
        const type = this.status === 1?'unban':'ban';
        const url = `${api[type](this.company.id)}`;
        http.put(url)
          .then((resp) => {
            resolve();
          })
          .catch((error) => {
            this.getCompany(this.company.id);
            this.status = this.company.status;
            this.showError();
            reject();
          })
      })
    },
    showError() {
      this.$message.error(this.$t('messages.error_save'));
    },
    showSuccess() {
      this.$message.success(this.$t('messages.save'));
    },
  },
  computed: {
    ...mapState('dataAdmin', [
      'company',
    ]),
    ...mapGetters('dataAdmin', [
      'getUrl',
    ]),
  },
  mounted() {
    this.getCompany(this.company.id);
    this.status = this.company.status;
    this.$nextTick(() => this.url = this.getUrl)
  },
  watch: {
    getUrl(value) {
      this.url = value;
    },
  },
};
</script>
<style lang="scss">
.settings-card-popup {
  padding: 80px 16px;
  position: fixed;
  height: 100vh;
  width: 500px;
  right: 0;
  background-color: $N0;
  z-index: 5;
  top: 0;
  bottom: 0;
  &__header {
    @include flex-row(space-between, center);
    padding-bottom: 6px;
    border-bottom: solid 1px #e3e3e3;
    margin-bottom: 16px;
  }
  &__title {
    @include text($H600, $N155, 500);
  }
  &__save {
    font-size: $H600;
  }
  &__label {
    @extend %account-label;
  }
  &__drop {
    position: relative;
    width: 50%;
    margin-bottom: 24px;
  }
  &__drop-input {
    @extend %account-input;
    justify-content: space-between;
    height: 39px;
    cursor: pointer;
  }
  &__drop-list {
    position: absolute;
    z-index: 11;
    top: 110%;
    width: 100%;
    list-style: none;
    background-color: $N0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    padding: 16px 20px;
    text-align: center;
  }
  &__drop-item {
    cursor: pointer;
    margin-bottom: 12px;
    transition: color ease-in-out 0.2s;
    &:hover {
      color: $N13;
    }
    &:active {
      color: $N100;
    }
    &:last-child {
      margin: 0;
    }
  }
  &__arrow {
    transition-property: transform, rotate;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    width: 12px;
    height: 12px;
    fill: $B5;
    margin-bottom: 4px;
  }
  &__input {
    @extend %account-input;
  }
  &__notification {
    position: fixed !important;
    z-index: 50;
    bottom: 30px;
    right: 30px;
  }
}
</style>
