<template>
  <div class="box login">
    <h1 class="title is-4">Login</h1>
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input"
          :class="{'is-success': readyEmail, 'is-danger': errors.email && email}"
          type="email"
          @blur='checkEmail'
          autocomlete='autocomplete_off_hack_xfr4!k'
          placeholder="Email"
          v-model.trim='email'>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input"
          :class="{'is-success': readyPassword, 'is-danger': errors.password && password}"
          type="password"
          @blur='checkPassword'
          autocomlete='autocomplete_off_hack_xfr4!k'
          placeholder="Password"
          v-model.trim='password'>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field login__buttons">
      <n-link
        to='/auth/signup'
        class="button is-rounded is-small"
        >Go to Sign Up
      </n-link>
      <a
        class="button is-success is-rounded"
        :disabled='!readyAll'>
        Login
      </a>
    </div>
  </div>
</template>
<script>
import Validation from '@/assets/js/validation';

export default {
  name: 'AdminLogin',
  data() {
    return {
      email: '',
      password: '',
      errors: {
        email: false,
        password: false,
      },
    };
  },
  methods: {
    checkEmail() {
      if (this.email) this.errors.email = !Validation.email(this.email);
    },
    checkPassword() {
      if (this.password) this.errors.password = !Validation.password(this.password);
    },
  },
  computed: {
    readyEmail() {
      return Validation.email(this.email);
    },
    readyPassword() {
      return Validation.password(this.password);
    },
    readyAll() {
      return this.readyEmail && this.readyPassword;
    },
  },
  watch: {
    readyEmail(value) {
      if (value) this.errors.email = false;
    },
    readyPassword(value) {
      if (value) this.errors.password = false;
    },
    password() {
      if (!this.password) this.errors.password = false;
    },
    email() {
      if (!this.email) this.errors.email = false;
    },
  },
};
</script>

<style lang="scss">
.login {
  .input, .button {
    transition: ease-in-out 0.2s;
  }
  &__buttons {
    padding-top: 16px;
    @include flex-row(space-between, center);
  }
}
</style>
