<template>
  <div class="box signup">
    <h1 class="title is-4">Sing Up</h1>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          class="input"
          autocomlete='autocomplete_off_hack_xfr4!k'
          :class="{'is-success': name.length > 1}"
          type="text"
          placeholder="Name"
          v-model.trim='name'>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right animated dur03 fadeIn" v-if='name.length > 1'>
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          class="input"
          :class="{'is-success': readyEmail, 'is-danger': errors.email && email}"
          type="email"
          autocomlete='autocomplete_off_hack_xfr4!k'
          @blur='checkEmail'
          placeholder="Email"
          v-model.trim='email'>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right animated dur03 fadeIn" v-if='readyEmail'>
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          class="input"
          :class="{'is-success': readyPassword, 'is-danger': errors.password && password}"
          type="password"
          @blur='checkPassword'
          autocomlete='autocomplete_off_hack_xfr4!k'
          placeholder="Password"
          v-model.trim='password'>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <span class="icon is-small is-right animated dur03 fadeIn" v-if='readyPassword'>
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field signup__buttons">
      <n-link
        to='/auth'
        class="button is-rounded is-small"
        >Go to Login
      </n-link>
      <a
        class="button is-success is-rounded"
        :disabled='!readyAll'>
        Sign Up
      </a>
    </div>
  </div>
</template>
<script>
import Validation from '@/assets/js/validation';

export default {
  name: 'AdminSignUp',
  data() {
    return {
      name: '',
      email: '',
      password: '',
      errors: {
        email: false,
        password: false,
      },
    };
  },
  methods: {
    checkEmail() {
      if (this.email) this.errors.email = !Validation.email(this.email);
    },
    checkPassword() {
      if (this.password) this.errors.password = !Validation.password(this.password);
    },
  },
  computed: {
    readyEmail() {
      return Validation.email(this.email);
    },
    readyPassword() {
      return Validation.password(this.password);
    },
    readyAll() {
      return this.readyEmail && this.readyPassword && this.name;
    },
  },
  watch: {
    readyEmail(value) {
      if (value) this.errors.email = false;
    },
    readyPassword(value) {
      if (value) this.errors.password = false;
    },
    password() {
      if (!this.password) this.errors.password = false;
    },
    email() {
      if (!this.email) this.errors.email = false;
    },
  },
};
</script>

<style lang="scss">
.signup {
  .input, .button {
    transition: ease-in-out 0.2s;
  }
  flex: 0 1 36%;
  min-width: 460px;
  &__buttons {
    padding-top: 16px;
    @include flex-row(space-between, center);
  }
}
</style>
