<template>
  <profile-agency/>
</template>
<script>
import ProfileAgency from '@/components/admin/profileAgency/ProfileAgency.vue';

export default {
  name: 'AdminCompanyInfoPage',
  async fetch({ app, redirect, store, params, query }) {
    const { id } = params;
    const { url = false } = query;
    if (app.$cookies.get('wambla-admin-token')) {
      const companyUrl = await store.dispatch('dataAdmin/getCompanyById', id);
      await store.dispatch('dataAgency/getCompanyObjectsAsync', companyUrl)
      return;
    } else if (url) {
      await store.dispatch('auth/AUTH_LOGOUT');
      return redirect(`/auth?url=${url}&id=${id}`);
    } else {
      return redirect('/');
    }
  },
  components: {
    ProfileAgency,
  }
}
</script>