<template>
<main class="admin-companies">
  <div
    class="animated dur04 bounceIn notification is-success notification-absolute"
    v-if='isSuccess'
    key='success'>
    <button @click='isSuccess = false' class="delete"></button>
    {{ $t('account.messages.delete') }}
  </div>
  <div
    class="animated dur04 bounceIn notification is-warning notification-absolute"
    v-if='isError'
    key='error'>
    <button @click='isError = false' class="delete"></button>
    {{ $t('account.messages.error') }}
  </div>
  <transition
    name="custom-classes-transition"
    enter-active-class="animated dur04 fadeIn"
    leave-active-class="animated dur04 fadeOut"
    mode="out-in">
  <admin-add-company
    class="admin-companies__add-company"
    v-if='showAdd'
    @close='showAdd = false'
    key='addCompany'/>
  <div class="admin-companies__wrapper" v-else key='companyList'>
    <h2 class="admin-companies__title">{{ $t('companies.companies') }}</h2>
    <div class="admin-companies__card">
      <div class="admin-companies__row admin-companies__row--head">
        <button-plus @click.native='openAddCompany' class="admin-companies__button-plus"/>
        <label class="search admin-companies__search">
          <input
            autocomlete='autocomplete_off_hack_xfr4!k'
            type="text"
            class="search__input"
            v-model='search'>
          <icon-search class='search__icon'/>
        </label>
      </div>
      <table class="admin-companies__table">
        <thead class="admin-companies__thead">
          <tr class="admin-companies__trow">
            <th class="admin-companies__cell
                admin-companies__cell--head">
              <label class="admin-companies__checkbox-label">
                <input
                  type="checkbox"
                  class="admin-companies__checkbox-input"
                  @change='selectAll'>
                <div class="admin-companies__checkbox-cell">
                  <icon-check class='admin-companies__checkbox-icon'/>
                </div>
              </label>
            </th>
            <th class="admin-companies__cell
              admin-companies__cell--image
              admin-companies__cell--head"
              colspan="2"
              @click='sortByName'>{{ $t('companies.company') }}
            <th
              class="admin-companies__cell
                admin-companies__cell--head"
              @click='sortByCreated'>{{ $t('companies.created') }}
            </th>
            <th
              class="admin-companies__cell
                admin-companies__cell--head"
              @click='sortByActivity'>{{ $t('companies.activity') }}
            </th>
            <th
              class="admin-companies__cell
                admin-companies__cell--center
                admin-companies__cell--head"
              @click='sortByStatus'>{{ $t('companies.status') }}</th>
            <th
              class="admin-companies__cell
                admin-companies__cell--right
                admin-companies__cell--head">
                <a
                  href="#"
                  class="admin-companies__delete-button"
                  @click.prevent='deleteCompaniesById'>
                  <icon-trash class='admin-companies__delete-icon'/>
                </a>
            </th>
          </tr>
        </thead>
        <tbody class='admin-companies__tbody'>
            <tr
              @click.self.prevent='openProfile(company.id)'
              class="admin-companies__trow"
              :class='{"admin-companies__trow--checked": company.checked }'
              v-for='(company, index) in companies'
              :key='index'>
              <td class="admin-companies__cell admin-companies__cell--checkbox">
                <label class="admin-companies__checkbox-label">
                  <input
                    type="checkbox"
                    v-model='company.checked'
                    class="admin-companies__checkbox-input">
                  <div class="admin-companies__checkbox-cell">
                    <icon-check class='admin-companies__checkbox-icon'/>
                  </div>
                </label>
              </td>
              <td class="admin-companies__cell
                admin-companies__cell--image
                admin-companies__cell--right"
                @click.prevent='openProfile(company.id)'>
                <div class="admin-companies__image-wrapper">
                  <img
                    :src="company.logo"
                    alt="image"
                    class="admin-companies__image"
                    v-if='company.logo'>
                </div>
              </td>
              <td
                class="admin-companies__cell admin-companies__cell--name"
                @click.prevent='openProfile(company.id)'>
                <div class="admin-companies__col admin-companies__col--center">
                  <p
                    class="admin-companies__text admin-companies__text--name"
                    v-if='company.c_name'>{{ company.c_name }}
                  </p>
                  <p
                    class="admin-companies__text admin-companies__text--address"
                    v-if='company.address'>{{ company.address }}
                  </p>
                  <n-link
                    @click.native.stop
                    :to='`/${company.url}`'
                    no-prefetch
                    class="admin-companies__text admin-companies__text--site"
                    v-if='company.url'>{{ `wambla.com/${company.url}` }}
                  </n-link>
                </div>
              </td>
              <td
                class="admin-companies__cell admin-companies__cell--date"
                 @click.prevent='openProfile(company.id)'>{{ company.created_at }}</td>
              <td
                class="admin-companies__cell admin-companies__cell--date"
                 @click.prevent='openProfile(company.id)'>{{ company.updated_at }}</td>
              <td
                class="admin-companies__cell admin-companies__cell--center"
                 @click.prevent='openProfile(company.id)'>
                <div class="admin-companies__row admin-companies__row--center">
                  <div
                    class="admin-companies__status-wrapper"
                    :class='{"admin-companies__status-wrapper--active": company.status === 1}'>
                    <icon-check class="admin-companies__status-icon"/>
                  </div>
                </div>
              </td>
              <td class="admin-companies__cell admin-companies__cell--right">
                <a
                  @click.stop.prevent='editProfile(company.id)'
                  href="#"
                  class="admin-companies__edit-button">
                  <icon-pencil class="admin-companies__edit-icon"/>
                </a>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  </transition>
</main>
</template>
<script>
import ButtonPlus from '@/components/common/buttons/ButtonPlus.vue';
import IconSearch from '@/components/common/icons/IconSearch.vue';
import IconCheck from '@/components/common/icons/IconCheck.vue';
import IconTrash from '@/components/common/icons/IconTrash.vue';
import IconPencil from '@/components/common/icons/IconPencil.vue';
import AdminAddCompany from '@/components/admin/addCompany/AdminAddCompany.vue';
import { mapGetters, mapMutations, mapActions, mapState } from 'vuex';

export default {
  name: 'AdminCompanies',
  components: {
    ButtonPlus,
    IconSearch,
    IconCheck,
    IconTrash,
    IconPencil,
    AdminAddCompany,
  },
  // async fetch({ store }) {
  //   store.dispatch('dataAdmin/getCompanies');
  //   return;
  // },
  data() {
    return {
      showAdd: false,
      showProfile: false,
      profileId: '',
      isSuccess: false,
      isError: false,
      sortNameFlag: false,
      sortCreatedFlag: false,
      sortActivityFlag: false,
      sortStatusFlag: false,
      redirected: true,
    };
  },
  methods: {
    ...mapMutations('dataAdmin', [
      'toggleCheckedCompanies',
      'setId',
      'sortName',
      'sortReverse',
      'sortStatus',
      'setSearch',
    ]),
    ...mapActions('dataAdmin', [
      'getCompanies',
      'getCompany',
      'getCompanyById',
      'sortCreated',
      'sortActivity',
      'deleteCompanies',
    ]),
    deleteCompaniesById() {
      this.deleteCompanies()
        .then(() => {
          this.getCompanies();
          this.showSuccess();
        })
        .catch(() => this.showError())
    },
    sortByName() {
      if (this.sortNameFlag) {
        this.sortReverse();
        this.sortNameFlag = false;
      } else {
        this.sortName();
        this.sortNameFlag = true;
      }
    },
    sortByCreated() {
      if (this.sortCreatedFlag) {
        this.sortReverse();
        this.sortCreatedFlag = false;
      } else {
        this.sortCreated();
        this.sortCreatedFlag = true;
      }
    },
    sortByActivity() {
      if (this.sortActivityFlag) {
        this.sortReverse();
        this.sortActivityFlag = false;
      } else {
        this.sortActivity();
        this.sortActivityFlag = true;
      }
    },
    sortByStatus() {
      if (this.sortStatusFlag) {
        this.sortReverse();
        this.sortStatusFlag = false;
      } else {
        this.sortStatus();
        this.sortStatusFlag = true;
      }
    },
    selectAll(e) {
      this.toggleCheckedCompanies(e.target.checked);
    },
    showError() {
      this.$message.error(this.$t('account.messages.error'));
    },
    showSuccess() {
      this.$message.success(this.$t('account.messages.delete'));
    },
    openAddCompany() {
      this.showAdd = true;
    },
    closeAll() {
      this.showAdd = false;
      this.showProfile = false;
    },
    addProfile() {
      this.closeAll();
      this.showAdd = false;
    },
    openProfile(id) {
      this.redirected = false;
      this.$router.push({ name: 'admin-companies-id', params: { id }})
    },
    editProfile(id) {
      this.getCompanyById(id)
        .then(() => {
          this.$router.push({ name: 'admin-agency-id', params: { id }})
        })
        .catch(() => {
          this.$message.error(this.$t('messages.error'));
          // this.showError();
        })
    },
  },
  computed: {
    ...mapGetters('dataAdmin', [
      'companies',
    ]),
    ...mapState('dataAdmin', {
      getSearch: state => state.search,
    }),
    search: {
      get() {
        return this.getSearch;
      },
      set(e) {
        this.setSearch(e);
      },
    }
  },
  mounted() {
    this.getCompanies();
  },
};
</script>
<style lang="scss">
.admin-companies {
  padding-left: 14px;
  &__wrapper {
    padding-left: 286px;
  }
  &__title {
    @extend %account-title;
  }
  &__card {
    @extend %account-card;
    padding: 22px 0;
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
  }
  &__delete-icon {
    width: 18px;
    height: 18px;
    fill: $B9;
    cursor: pointer;
  }
  &__text {
    font-size: $H300;
    font-weight: 500;
    &--name {
      font-size: $H400;
      color: $N100;
      margin: 1px 0;
      line-height: 1;
    }
    &--address {
      color: #8b8b8b;
      margin: 1px 0;
    }
    &--site {
      color: $G4;
      margin: 1px 0;
    }
  }
  &__trow {
    cursor: pointer;
    &--checked {
      background-color: $N4;
    }
  }
  &__row {
    @include flex-row(flex-start, center);
    &--head {
      padding: 0 22px;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 22px;
    }
    &--center {
      width: 100%;
      justify-content: center;
    }
  }
  &__status-wrapper {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d9d9d9;
    @include flex-row(center, center);
    text-align: center;
    transition: background-color ease-in-out 0.2s;
    &--active {
      background-color: $G6;
    }
  }
  &__status-icon {
    width: 12px;
    height: 12px;
    fill: $N0;
  }
  &__col {
    @include flex-col(flex-start, flex-start);
    &--center {
      justify-content: center;
    }
  }
  &__cell {
    font-size: $H400;
    font-weight: 500;
    color: #4d4d4e;
    text-align: left;
    padding: 10px 0;
    transition: background-color ease-in-out 0.2s;
    border-bottom: solid 1px #e3e3e3;
    vertical-align: middle;
    &:first-child {
      padding-left: 22px;
    }
    &:last-child {
      padding-right: 22px;
    }
    &--name {
      min-width: 320px;
      padding: 6px 0;
    }
    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }
    &--head {
      padding-top: 0;
      padding-bottom: 4px;
      color: #8b8b8b;
    }
    &--image {
      width: 54px;
    }
    &--checkbox {
      width: 80px;
    }
    &--date {
      min-width: 120px;
      white-space: nowrap;
    }
  }
  &__search {
    flex: 0 0 270px;
  }
  &__checkbox-label {
    @extend %checkbox-label;
    vertical-align: middle;
  }
  &__checkbox-input {
    @extend %checkbox-input;
    &:checked + .admin-companies__checkbox-cell {
      @extend %checkbox-cell-select;
      .admin-companies__checkbox-icon {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__checkbox-cell {
    @extend %checkbox-cell;
  }
  &__checkbox-icon {
    @extend %checkbox-icon;
  }
  &__image-wrapper {
    @extend %image-wrapper;
    width: 40px;
    height: 40px;
    background-color: #d8d8d8;
    border: 1px solid #d8d8d8;
  }
  &__image {
    @extend %image-round;
  }
  &__edit-icon {
    width: 18px;
    height: 18px;
    fill: #cdcdcd;
  }
}
</style>
