<template>
<main class="admin-profile">
  <transition
    name="custom-classes-transition"
    enter-active-class="animated dur02 fadeIn"
    leave-active-class="animated dur03 fadeOut"
    mode="out-in">
  <div class="modal crop-box" v-if='cropModal'>
    <div class="modal-background" @click.self='cropModal = false'></div>
    <div
      class="modal-content crop-box__content crop-box__content--round">
      <vue-cropper
        ref='cropper'
        :guides="true"
        :viewMode='0'
        drag-mode="crop"
        :aspectRatio='1 / 1'
        :max-container-width="'90vw'"
        :max-container-height="'80vh'"
        :rotatable="true"
        :background="false"
        :src="previewImage"
        alt="Source Image"
        :img-style="{ 'max-width': '90vw', 'max-height': '80vh' }">
      </vue-cropper>
      <span class="tag is-info crop-box__info">Toggle drag mode between "crop" and "move" when click twice on the cropper</span>
      <div class="crop-box__buttons-wrapper">
        <button
          class="button is-link crop-box__button"
          @click.prevent="preCropImage"
          :class='{"is-loading": loading.crop}'>
          <span class="icon is-small">
            <i class="fas fa-crop"></i>
          </span>
          <span>Crop</span>
        </button>
        <a
          class="button crop-box__button"
          @click="rotate">
          <span class="icon is-small">
            <i class="fas fa-sync-alt"></i>
          </span>
          <span>Rotate</span>
        </a>
        <div class="field has-addons">
          <p class="control">
            <a
              class="button"
              @click.prevent='zoomOut'>
              <span class="icon is-small">
                <i class="fas fa-search-minus"></i>
              </span>
              <span>Zoom out</span>
            </a>
          </p>
          <p class="control">
            <a
              class="button"
              @click.prevent='zoomIn'>
              <span class="icon is-small">
                <i class="fas fa-search-plus"></i>
              </span>
              <span>Zoom In</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      @click='cropModal = false'></button>
  </div>
  </transition>
  <div
    class="animated dur04 bounceIn is-small notification is-success admin-profile__notification"
    v-if='isSuccess'
    key='success'>
    <button @click='isSuccess = false' class="delete"></button>
    {{ $t('account.messages.save') }}
  </div>
  <div
    class="animated dur04 bounceIn is-small notification is-warning admin-profile__notification"
    v-if='isError'
    key='error'>
    <button @click='isError = false' class="delete"></button>
    {{ $t('account.messages.error_save') }}
  </div>
  <h2 class="admin-profile__title">{{ $t('account.text.profile') }}</h2>
  <div class="admin-profile__wrapper">
    <div class="admin-profile__card">
      <h3 class="admin-profile__title admin-profile__title--card">{{ $t('account.text.personal') }}</h3>
      <div class="admin-profile__row admin-profile__row--head">
        <label class="admin-profile__image-wrapper">
          <img
            :src="personal.avatar"
            alt="logo"
            class="admin-profile__image"
            v-if='!!personal.avatar'>
          <input
            type="file"
            class='upload__input'
            id="fileElemAvatar"
            ref="inputAvatar"
            @change="setImage"
            accept="image/*"/>
          <edit-button
            @click.native.prevent="editAvatar(personal.id)"
            :disabled='!personal.avatar'
            class="admin-profile__round-button"/>
        </label>
        <div class="admin-profile__col admin-profile__col--personal">
          <p class="admin-profile__input-name">{{ $t('account.text.email') }}</p>
          <div class="admin-profile__input-wrapper">
            <input
              autocomlete='autocomplete_off_hack_xfr4!k'
              ref='email'
              type="email"
              class="admin-profile__input-transparent admin-profile__input-transparent--no-padding"
              v-model='email'
              :disabled='disabled.email'>
            <transition
              name="custom-classes-transition"
              enter-active-class="animated dur02 fadeIn"
              leave-active-class="animated dur02 fadeOut"
              mode="out-in">
            <subtle
              class="admin-profile__edit-button"
              @click.native='edit("email")'
              v-if='disabled.email'
              key='edit'>{{ $t('account.buttons.edit') }}
            </subtle>
            <subtle
              class="admin-profile__edit-button has-text-success"
              @click.native='savePersonal("email", email)'
              v-else
              key='save'>{{ $t('account.buttons.save') }}
            </subtle>
            </transition>
          </div>
          <p class="admin-profile__input-name">{{ $t('account.text.password') }}</p>
          <div class="admin-profile__input-wrapper">
            <input
              autocomlete='autocomplete_off_hack_xfr4!k'
              ref='password'
              type="password"
              class="admin-profile__input-transparent admin-profile__input-transparent--no-padding"
              :class="{'admin-profile__input-transparent--error': !readyPasswordCurrent && passwordCurrent}"
              :disabled='disabled.password'
              :placeholder="disabled.password?'':$t('account.text.password_current')"
              v-model='passwordCurrent'>
            <transition
              name="custom-classes-transition"
              enter-active-class="animated dur02 fadeIn"
              leave-active-class="animated dur02 fadeOut"
              mode="out-in">
            <subtle
              class="admin-profile__edit-button"
              @click.native='edit("password")'
              v-if='disabled.password'
              key='edit'>{{ $t('account.buttons.edit') }}
            </subtle>
            <subtle
              class="admin-profile__edit-button has-text-success"
              @click.native='savePersonal("password", [passwordCurrent, passwordNew])'
              :disabled='!readyPassword'
              v-else
              key='save'>{{ $t('account.buttons.save') }}
            </subtle>
            </transition>
          </div>
          <div v-if='!disabled.password' class="admin-profile__input-wrapper">
            <input
              ref='password'
              type="password"
              autocomlete='autocomplete_off_hack_xfr4!k'
              class="admin-profile__input-transparent admin-profile__input-transparent--no-padding"
              :class="{'admin-profile__input-transparent--error': !readyPasswordNew && passwordNew}"
              :placeholder="$t('account.text.password_new')"
              v-model='passwordNew'>
          </div>
        </div>
      </div>
      <div class="admin-profile__row">
        <label class="admin-profile__label-box">
          <p class="admin-profile__label">{{ $t('account.text.name_first') }}</p>
          <input
            type="text"
            autocomlete='autocomplete_off_hack_xfr4!k'
            class="admin-profile__input"
            @blur='savePersonal("name", name)'
            v-model='name'>
        </label>
        <label class="admin-profile__label-box">
          <p class="admin-profile__label">{{ $t('account.text.name_last') }}</p>
          <input
            type="text"
            autocomlete='autocomplete_off_hack_xfr4!k'
            class="admin-profile__input"
            @blur='savePersonal("surname", surname)'
            v-model='surname'>
        </label>
      </div>
    </div>
  </div>
</main>
</template>
<script>
import Subtle from '@/components/common/buttons/Subtle.vue';
import http from 'axios';
import Validation from '@/assets/js/validation';
import crop from '@/mixins/crop';
import { mapState, mapMutations, mapActions } from 'vuex';
import { api } from '@/api/agency';

export default {
  name: 'AdminProfile',
  mixins: [crop],
  components: {
    Subtle,
  },
  data() {
    return {
      passwordNew: '',
      passwordCurrent: '',
      disabled: {
        email: true,
        password: true,
      },
      isSuccess: false,
      isError: false,
    };
  },
  methods: {
    ...mapMutations('profileAdmin', [
      'setValue',
    ]),
    ...mapActions('profileAdmin', [
      'getData',
      'updateProfile',
    ]),
    cropImage() {
      this.previewAvatar = this.$refs.cropper.getCroppedCanvas().toDataURL();
      const file = this.dataURItoBlob(this.previewAvatar);
      this.loading.crop = false;
      this.loadAvatar(file);
    },
    showError() {
      this.$message.error(this.$t('messages.error_save'));
    },
    saveError() {
      this.getData();
      this.loading = false;
      this.$message.error(this.$t('messages.error_save'));
      // this.showError();
    },
    saveSuccess() {
      this.getData();
      this.loading = false;
      this.$message.success(this.$t('messages.save'));
      // this.showSuccess();
    },
    showSuccess() {
      this.$message.success(this.$t('messages.save'));
    },
    loadAvatar(file) {
      const formData = new FormData();
      formData.append('avatar', file);
      http.post(api.uploadAvatar, formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      }).then((resp) => {
        if (resp.status === 200) {
          this.getData();
          this.showSuccess();
          this.cropModal = false;
          this.previewLogo = '';
        } else {
          this.showError();
        }
      }).catch((error) => {
        this.showError();
      }); 
    },
    savePersonal(type, data) {
      if (type in this.disabled) {
        this.disabled[type] = true;
      }
      const formData = {};
      if (type === 'password') {
        formData.confirm_password = data[0];
        formData.password = data[1];
      } else {
        formData[type] = data;
      }
      this.updateProfile(formData)
        .then(() => {
          this.showSuccess();
        })
        .catch(() => {
          this.showError()
        });
    },
    edit(type) {
      this.disabled[type] = false;
      const timer = setInterval(() => {
        if (!this.disabled[type]) {
          this.$refs[type].focus();
          clearInterval(timer);
        }
      }, 10);
    },
  },
  computed: {
    ...mapState('profileAdmin', [
      'personal',
    ]),
    readyPassword() {
      return this.readyPasswordNew && this.readyPasswordCurrent;
    },
    readyPasswordNew() {
      return this.passwordNew.length > 3 && this.passwordNew !== this.passwordCurrent;
    },
    readyPasswordCurrent() {
      return this.passwordCurrent.length > 3;
    },
    email: {
      get() {
        return this.personal.email;
      },
      set(value) {
        this.setValue(['email', value]);
      },
    },
    name: {
      get() {
        return this.personal.name;
      },
      set(value) {
        this.setValue(['name', value]);
      },
    },
    surname: {
      get() {
        return this.personal.surname;
      },
      set(value) {
        this.setValue(['surname', value]);
      },
    },
  },
  mounted() {
    this.getData();
  },
};
</script>
<style lang="scss">
.admin-profile {
  padding-left: 300px;
  &__wrapper {
    @include flex-row(flex-start, flex-start);
  }
  &__title {
    @extend %account-title;
    &--card {
      margin-bottom: 16px;
    }
  }
  &__card {
    @extend %account-card;
    flex: 0 1 55%;
    min-width: 540px;
    margin-bottom: 28px;
  }
  &__image-wrapper {
    width: 113px;
    height: 113px;
    margin-right: 24px;
    background-color: gray;
    position: relative;
    cursor: pointer;
    @extend %image-wrapper;
  }
  &__image {
    @extend %image-round;
  }
  &__round-button-icon {
    width: 12px;
    height: 12px;
    fill: $N0;
  }
  &__row {
    @include flex-row(flex-start, center);
    &--head {
      margin-bottom: 28px;
    }
  }
  &__col {
    &--1-2 {
      width: 50%;
      margin-bottom: 20px;
    }
    &--personal {
      min-width: 55%;
    }
  }
  &__input-name {
    font-size: $H600;
    color: $B6;
    font-weight: 500;
    margin-bottom: 6px;
  }
  &__input-wrapper {
    @include flex-row(flex-start, flex-end);
    margin-bottom: 8px;
    &:last-child {
      margin: 0;
    }
  }
  &__input-transparent {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    margin-right: 14px;
    padding-left: 12px;
    color: $N100;
    font-weight: 500;
    font-size: $H800;
    width: 90%;
    border-bottom: 1px solid transparent;
    flex: 0 1 90%;
    &::placeholder {
      color: $N11;
      font-weight: 400;
      font-size: $H400;
    }
    &--no-padding {
      margin: 0;
      padding: 0;
    }
    &--error {
      border-color: $P1;
    }
  }
  &__input {
    @extend %account-input;
  }
  &__label {
    @extend %account-label;
  }
  &__label-box {
    flex: 0 1 50%;
    &:first-child {
      margin-right: 12px;
    }
  }
  &__notification {
    position: fixed !important;
    top: 80px;
    z-index: 20;
    right: 50px;
  }
}
</style>
