<template>
  <div class="admin-nav" @click='closeAll'>
    <nav class="admin-nav__panel" >
      <div class="admin-nav__panel-row">
        <burger
          class='admin-nav__burger'
          :open='menu'
          @click.native='toggleMenu'/>
        <a href="#" class="admin-nav__logo">
          <img src="@/assets/images/wambla.png" alt="logo" class="admin-nav__logo-image">
        </a>
      </div>
      <div class="admin-nav__panel-row">
        <language-menu ref='lang' @click.native.stop='closeProfile' class="admin-nav__language-menu"/>
        <profile-menu ref='profile' @click.native.stop='closeLang' class="admin-nav__profile-menu"/>
      </div>
    </nav>
    <transition
      name="custom-classes-transition"
      enter-active-class="animated dur06 slideInLeft"
      leave-active-class="animated dur04 slideOutLeft"
      appear
      mode="out-in">
    <div class="admin-nav__menu" v-if='menu'>
      <div class="admin-nav__section">
        <n-link
          to='/admin'
          class="admin-nav__link"
          :class='{"admin-nav__link--active": routeName === "admin"}'
          @click.native='closeMenu'>
          <icon-resume class='admin-nav__link-icon'/>
          <p class="admin-nav__link-text">{{ $t('navigation.companies') }}</p>
        </n-link>
        <n-link
          to='/admin/clients'
          class="admin-nav__link"
          :class='{"admin-nav__link--active": routeName === "admin-clients"}'
          @click.native='closeMenu'>
          <icon-users class='admin-nav__link-icon'/>
          <p class="admin-nav__link-text">{{ $t('navigation.clients') }}</p>
        </n-link>
      </div>
      <div class="admin-nav__section">
        <n-link
          to='/admin/profile'
          class="admin-nav__link"
          :class='{"admin-nav__link--active": routeName === "admin-profile"}'
          @click.native='closeMenu'>
          <icon-avatar class='admin-nav__link-icon'/>
          <p class="admin-nav__link-text">{{ $t('navigation.profile') }}</p>
        </n-link>
        <n-link
          to='/admin/users'
          class="admin-nav__link"
          :class='{"admin-nav__link--active": routeName === "admin-users"}'
          @click.native='closeMenu'>
          <icon-user-shield class='admin-nav__link-icon'/>
          <p class="admin-nav__link-text">{{ $t('navigation.users') }}</p>
        </n-link>
      </div>
      <div class="admin-nav__section">
        <n-link
          to='/admin/translations'
          class="admin-nav__link"
          :class='{"admin-nav__link--active": routeName === "admin-translations"}'
          @click.native='closeMenu'>
          <icon-gears class='admin-nav__link-icon'/>
          <p class="admin-nav__link-text">{{ $t('navigation.translations') }}</p>
        </n-link>
        <n-link
          to='/admin/settings'
          class="admin-nav__link"
          :class='{"admin-nav__link--active": routeName === "admin-settings"}'
          @click.native='closeMenu'>
          <icon-gears class='admin-nav__link-icon'/>
          <p class="admin-nav__link-text">{{ $t('navigation.general') }}</p>
        </n-link>
      </div>
    </div>
    </transition>
  </div>
</template>
<script>
import Burger from '@/components/common/buttons/Burger.vue';
import LanguageMenu from '@/components/common/LanguageMenu.vue';
import ProfileMenu from '@/components/admin/components/ProfileMenu.vue';
import IconGears from '@/components/common/icons/IconGears.vue';
import IconResume from '@/components/common/icons/IconResume.vue';
import IconUserShield from '@/components/common/icons/IconUserShield.vue';
import IconUsers from '@/components/common/icons/IconUsers.vue';
import IconAvatar from '@/components/common/icons/IconAvatar.vue';

export default {
  name: 'Navigation',
  components: {
    Burger,
    LanguageMenu,
    ProfileMenu,
    IconGears,
    IconResume,
    IconUserShield,
    IconUsers,
    IconAvatar,
  },
  data() {
    return {
      menu: false,
    };
  },
  computed: {
    routeName() {
      return this.$route.name;
    },
  },
  methods: {
    toggleMenu() {
      this.menu = !this.menu;
    },
    closeMenu() {
      this.menu = false;
    },
    closeAll() {
      this.$refs.profile.close();
      this.$refs.lang.close();
    },
    closeProfile() {
      this.$refs.profile.close();
    },
    closeLang() {
      this.$refs.lang.close();
    },
  },
};
</script>
<style lang="scss">
.admin-nav {
  &__panel {
    position: fixed;
    z-index: 11;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    @include flex-row(space-between, center);
    padding: 0 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);
    background-color: $N0;
  }
  &__panel-row {
    @include flex-row(flex-start, center);
  }
  &__burger {
    margin-right: 22px;
  }
  &__logo {
    height: 30px;
  }
  &__logo-image {
    height: 100%;
    width: auto;
  }
  &__language-menu {
    margin-right: 16px;
  }
  &__profile-menu {
    border-left: 1px solid #e5e5e5;
    padding-left: 16px;
  }
  &__menu {
    position: fixed;
    z-index: 10;
    width: 275px;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    top: 60px;
    bottom: 0;
    background-color: $N4;
    box-shadow: 3px 0 10px 0 rgba(0, 0, 0, 0.19);
  }
  &__section {
    padding: 22px 20px;
    border-bottom: 1px solid $N777;
  }
  &__link {
    @include flex-row(flex-start, center);
    margin-bottom: 18px;
    &--active {
      .admin-nav {
        &__link-text {
          color: $G4;
        }
        &__link-icon {
          fill: $G4;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: $screen-desktop) {
      &:hover .admin-nav {
        &__link-text {
          color: $G2;
        }
        &__link-icon {
          fill: $G2;
        }
      }
    }
    &:active .admin-nav {
      &__link-text {
        color: $G4;
      }
      &__link-icon {
        fill: $G4;
      }
    }
  }
  &__link-icon {
    fill: $B5;
    width: 24px;
    height: 24px;
    margin-right: 18px;
    transition: fill ease-in-out 0.2s;
  }
  &__link-text {
    color: $B5;
    font-size: $H600;
    font-weight: 500;
    transition: color ease-in-out 0.2s;
  }
}
</style>
