<template>
<transition
  name="custom-classes-transition"
  enter-active-class="animated dur02 slideInRight"
  leave-active-class="animated dur03 slideOutRight"
  mode="out-in">
  <nuxt-child/>
</transition>
</template>
<script>

export default {
  name: 'AgencyPage',
};
</script>
