<template>
<div class="admin">
  <navigation class='admin__navigation'/>
  <transition
    name="custom-classes-transition"
    enter-active-class="animated dur02 fadeIn"
    leave-active-class="animated dur02 fadeOut"
    mode="out-in">
  <nuxt-child class='admin__main'/>
  </transition>
</div>
</template>
<script>
import Navigation from '@/components/admin/Navigation.vue';

import { mapActions } from 'vuex';

export default {
  name: 'Admin',
  components: {
    Navigation,
  },
  methods: {
    ...mapActions({
      getData: 'profileAdmin/getData',
      getCompanies: 'dataAdmin/getCompanies',
    }),
  },
  beforeMount() {
    this.getData();
    this.getCompanies();
  },
};
</script>
<style lang="scss">
.admin {
  @include flex-row(stretch, stretch);
  background-color: $B1;
  &__main {
    flex: 1 1;
    padding: 74px 14px 14px;
    background-color: $B1;
    height: 100vh;
    overflow-y: scroll;
  }
}
</style>
