<template>
  <div class='index-page'>
    <a-spin>
      <a-icon slot="indicator" type="loading" class="index-page__icon has-text-success" spin />
    </a-spin>
  </div>
</template>

<script>

export default {
  name: 'Index',
  methods: {
    async fetchObject(object) {
      try {
        const companyId = await this.$store.dispatch('dataAgency/getObject', object);
        const url = await this.$store.dispatch('dataAgency/getCompanyById', companyId);
        this.$router.push({name: "url-id", params: { url, id: object }});
      } catch (err) {
        return;
      }
    }
  },
  mounted() {
    const user = this.$cookies.get('wambla-user-token');
    const admin = this.$cookies.get('wambla-admin-token');
    const { object } = this.$route.query;
    if (object) {
      this.fetchObject(object);
    } else {
      switch (true) {
        case user:
          return this.$router.push('/agency');
        case admin:
          return this.$router.push('/admin');
        default:
          return this.$router.push('/auth');
      }
    }
  }
}
</script>

<style lang='scss'>
.index-page {
  position: fixed;
  z-index: 100;
  background-color: rgba(17, 17, 17, 0.137);
  @include flex-row(center, center);
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &__icon {
    font-size: 60px;
  }
}
</style>

