<template>
  <div class="object-details">
    <object-details-wrapper />
  </div>
</template>
<script>
import ObjectDetailsWrapper from "@/components/objects/ObjectDetailsWrapper.vue";
import { mapState } from "vuex";

export default {
  name: "ObjectDetailsPage",
  head() {
    return {
      title: this.objectDetails.street_address,
      meta: [
        {
          name: "description",
          content: `${this.objectDetails.description_en ||
            this.objectDetails.description_nl}`
        }
      ]
    };
  },
  async fetch({ params, store }) {
    const { id, url } = params;
    try {
      const company_id = await store.dispatch(
        "dataAgency/getCompanyObjectsAsync",
        url
      );
      const formData = Object.assign({}, { company_id, object_id: Number(id) });
      await store.dispatch("dataAgency/getFullObject", formData);
      return;
    } catch (err) {
      return;
    }
  },
  components: {
    ObjectDetailsWrapper
  },
  computed: {
    ...mapState("dataAgency", ["objects", "objectDetails"])
  },
  async mounted() {
    const { id, url } = this.$route.params;
    try {
      const company_id = await this.$store.dispatch(
        "dataAgency/getCompanyObjectsAsync",
        url
      );
      const formData = Object.assign({}, { company_id, object_id: Number(id) });
      await this.$store.dispatch("dataAgency/getFullObject", formData);
      return;
    } catch (err) {
      return;
    }
  }
};
</script>
<style lang="scss">
.object-details {
  min-height: 100vh;
}
</style>
