<template>
<div class="agency">
  <agency-header class="agency__header"/>
  <section class="agency__section agency__section--about">
    <div class="agency__inner agency__inner--about">
      <button-edit
        class="agency__edit-button agency__edit-button--about"
        v-if='isMyAgency && !edit.about'
        @click.native='edit.about = true'/>
      <template v-if='edit.about'>
        <div class="tabs is-toggle is-small">
          <ul>
            <li :class="{'is-active': tabLang === 'en'}">
              <a @click.prevent='tabLang = "en"'>
                <span class="icon is-small"><united-kingdom class="agency__flag-icon"/></span>
              </a>
            </li>
            <li :class="{'is-active': tabLang === 'nl'}">
              <a @click.prevent='tabLang = "nl"'>
                <span class="icon is-small"><netherlands class="agency__flag-icon"/></span>
              </a>
            </li>
          </ul>
        </div>
        <template v-if='tabLang === "nl"'>
          <input
            class="input is-success agency__heading"
            v-model='description_nl'
            autocomlete='autocomplete_off_hack_xfr4!k'
            type="text">
          <textarea
            class="textarea is-success"
            rows="10"
            v-model='description_big_nl'></textarea>
        </template>
        <template v-else>
          <input
            class="input is-success agency__heading"
            autocomlete='autocomplete_off_hack_xfr4!k'
            v-model='description_en'
            type="text">
          <textarea
            class="textarea is-success"
            rows="10"
            v-model='description_big_en'></textarea>
        </template>
      <div class="buttons has-addons agency__edit-buttons">
        <span
          class="button is-success"
          :class='{"is-loading": loading.about.save}'
          @click='saveAbout'>
          <span class="icon is-small">
            <i class="fas fa-check"></i>
          </span>
        </span>
        <span
          class="button is-danger"
          :class='{"is-loading": loading.about.discard}'
          @click='discardChanges("about")'>
          <span class="icon is-small">
            <i class="fas fa-times"></i>
          </span>
        </span>
      </div>
      </template>
      <template v-if='!edit.about && lang === "nl"'>
        <h2 class="agency__heading">
          <vue-markdown
            :source="descriptionNlSource"></vue-markdown>
        </h2>
        <vue-markdown
          class="agency__about-markdown"
          :class='{"agency__about-markdown--layer": !showAbout}'
          key='nl'>{{ company.description_big_nl }}</vue-markdown>
        <subtle-icon
          class="agency__toggle-button"
          v-if='company.description_big_nl'
          @click.native='showAbout = !showAbout'>
          <icon-plus v-if='!showAbout'/>
          <icon-minus v-else/>
          <span>{{ showAbout?$t('buttons.hide'):$t('buttons.more') }}</span>
        </subtle-icon>
      </template>
      <template v-if='!edit.about && lang === "en"'>
        <h2 class="agency__heading">
          <vue-markdown
            :source="descriptionEnSource"></vue-markdown>
        </h2>
        <vue-markdown
          class="agency__about-markdown"
          :class='{"agency__about-markdown--layer": !showAbout}'
          key='en'>{{ company.description_big_en }}</vue-markdown>
        <subtle-icon
          class="agency__toggle-button"
          v-if='company.description_big_en'
          @click.native='showAbout = !showAbout'>
          <icon-plus v-if='!showAbout'/>
          <icon-minus v-else/>
          <span>{{ showAbout?$t('buttons.hide'):$t('buttons.more') }}</span>
        </subtle-icon>
      </template>
    </div>
    <div class="agency__inner agency__inner--share">
      <p class="agency__heading">{{ $t('landing.text.share') }}</p>
      <div class="agency__row">
        <a
          :href="`https://www.facebook.com/sharer/sharer.php?u=${link}&t=${company.c_name}`"
          target='_blank'
          class="agency__share-link">
          <icon-facebook class="agency__share-icon"/>
        </a>
        <a
          :href="`https://twitter.com/share?url=${link}&text=${company.c_name}`"
          target='_blank'
          class="agency__share-link">
          <icon-twitter class="agency__share-icon"/>
        </a>
        <a
          :href="`https://wa.me/?text=${link}`"
          target='_blank'
          class="agency__share-link">
          <icon-watsapp class="agency__share-icon"/>
        </a>
        <a
          :href="`https://vk.com/share.php?url=${link}&title=${company.c_name}&comment=${link}`"
          target='_blank'
          class="agency__share-link">
          <icon-vk class="agency__share-icon"/>
        </a>
        <a
          :href="`mailto:info@example.com?subject=${company.c_name}&body=${link}`"
          target='_blank'
          class="agency__share-link">
          <icon-mail class="agency__share-icon"/>
        </a>
      </div>
    </div>
  </section>
  <section class="agency__section agency__section--our-team" v-if='!!team.length || isMyAgency'>
    <button-edit
      class="agency__edit-button agency__edit-button--team"
      v-if='isMyAgency && !edit.team'
      @click.native='editTeam'/>
    <a
      class="delete is-large agency__button-cancel"
      v-if='edit.team'
      @click='cancelEdit("team")'></a>
    <h2 class="agency__section-title">{{ $t('landing.text.team') }}</h2>
      <div
        class='agency__team-max'
        ref='ourteam'
        id='our-team-section'
        :class='{"agency__team-max--fix": !edit.team && !viewMore }'>
      <team-card
        v-for='(member, index) in team'
        class=''
        :key='index'
        :index='index'
        :edit='edit.team'
        :member='member'/>
      <button
        v-if='edit.team'
        key='button'
        class="agency__button-add "
        @click='addMember'>
        <icon-plus class="agency__button-add-icon"/>
      </button>
      </div>
    <button
      @click='viewMore = !viewMore'
      v-if='team.length > 4 && !edit.team'
      class="agency__button-more">{{ viewMore?$t('buttons.hide_short'):$t('buttons.view_more') }}
    </button>
  </section>
  <section class="agency__section agency__section--listings">
    <h2 class="agency__section-title agency__section-title--small">{{ $t('landing.text.listings') }}</h2>
    <nav class="agency__listings-nav">
      <a
        href="#"
        class="agency__listings-link"
        :class='{"agency__listings-link--active": listingsNav.forSale}'
        @click.prevent='showCurrentListing("forSale")'
        >{{ $t('landing.text.For sale') }}
      </a>
      <a
        href="#"
        class="agency__listings-link"
        :class='{"agency__listings-link--active": listingsNav.sold}'
        @click.prevent='showCurrentListing("sold")'
        >{{ $t('landing.text.Sold') }}
      </a>
      <a
        href="#"
        class="agency__listings-link"
        :class='{"agency__listings-link--active": listingsNav.forRent}'
        @click.prevent='showCurrentListing("forRent")'
        >{{ $t('landing.text.For rent') }}
      </a>
      <a
        href="#"
        class="agency__listings-link"
        :class='{"agency__listings-link--active": listingsNav.rented}'
        @click.prevent='showCurrentListing("rented")'
        >{{ $t('landing.text.Rented') }}
      </a>
    </nav>
    <div class="agency__inner agency__inner--listings">
      <transition
        name="custom-classes-transition"
        enter-active-class="animated dur02 fadeIn"
        leave-active-class="animated dur02 fadeOut"
        mode="out-in">
      <listings :cards='getForSale' v-if='listingsNav.forSale && getForSale.length' key='forSale'/>
      <listings :cards='getSold' v-else-if='listingsNav.sold && getSold.length' key='sold'/>
      <listings :cards='getForRent' v-else-if='listingsNav.forRent && getForRent.length' key='forRent'/>
      <listings :cards='getRented' v-else-if='listingsNav.rented && getRented.length' key='rented'/>
      </transition>
    </div>
  </section>
  <section class="agency__section agency__section--rest-form">
    <h2 class="agency__section-title">{{ $t('landing.text.contact') }} {{ company.c_name }}</h2>
    <rest-form class='agency__rest-form'/>
  </section>
  <section class="agency__map-section">
      <client-only>
        <GmapMap
          :center="{lat: Number(company.latitude), lng: Number(company.longitude)}"
          :zoom="14"
          map-type-id="terrain"
          class="agency__map"
        >
        <GmapMarker
          v-if='company.latitude && company.longitude'
          :position="{
                lat: Number(company.latitude),
                lng: Number(company.longitude)
              }"
          :clickable="true"
          :draggable="false"
          :icon="{ url: require('@/assets/images/marker.png')}"
        />
        </GmapMap>
      </client-only>
  </section>
  <footer class="agency__footer">
    <h2 class="agency__section-title"
      >{{ $t('landing.text.contact_inf') }} {{ company.c_name }}</h2>
    <agency-footer class="agency__footer-inner"/>
  </footer>
</div>
</template>
<script>
import UnitedKingdom from '@/components/common/icons/square-flags/UnitedKingdom.vue';
import Netherlands from '@/components/common/icons/square-flags/Netherlands.vue';
import IconMail from '@/components/common/icons/IconMail.vue';
import IconVk from '@/components/common/icons/IconVk.vue';
import IconWatsapp from '@/components/common/icons/IconWatsapp.vue';
import IconFacebook from '@/components/common/icons/IconFacebook.vue';
import IconTwitter from '@/components/common/icons/IconTwitter.vue';
import IconPlus from '@/components/common/icons/IconPlus.vue';
import IconMinus from '@/components/common/icons/IconMinus.vue';
import SubtleIcon from '@/components/common/buttons/SubtleIcon.vue';
import AgencyHeader from '@/components/agency/AgencyHeader.vue';
import TeamCard from '@/components/agency/components/TeamCard.vue';
import Listings from '@/components/agency/Listings.vue';
import RestForm from '@/components/agency/RestForm.vue';
import AgencyFooter from '@/components/agency/AgencyFooter.vue';
import ButtonEdit from '@/components/agency/components/ButtonEdit.vue';
import VueMarkdown from 'vue-markdown';
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex';

export default {
  name: 'AgencyHomePage',
  head () {
    return {
      title: this.company.c_name,
      meta: [
        { name: 'description', content: `${this.company.official_c_name}, ${this.company.description_en}` }
      ],
    }
  },
  async fetch({ app, store, params }) {
    if (app.$cookies.get('wambla-user-token')) {
      await store.dispatch('profileAgency/getDataPromise');
    }
    await store.dispatch('dataAgency/getCompanyByUrl', params.url);
    const id = store.state.dataAgency.company.id;
    store.dispatch('dataAgency/getObjects', id);
  },
  components: {
    AgencyHeader,
    IconMail,
    IconVk,
    IconWatsapp,
    IconFacebook,
    IconTwitter,
    IconPlus,
    SubtleIcon,
    IconMinus,
    TeamCard,
    Listings,
    RestForm,
    AgencyFooter,
    ButtonEdit,
    VueMarkdown,
    Netherlands,
    UnitedKingdom,
  },
  data() {
    return {
      rerendered: true,
      viewMore: false,
      tabLang: 'en',
      listingsNav: {
        forSale: true,
        sold: false,
        forRent: false,
        rented: false,
      },
      showAbout: false,
      edit: {
        about: false,
        team: false,
      },
      loading: {
        about: {
          save: false,
          discard: false,
        },
        team: {
          save: false,
          discard: false,
        },
      },
    };
  },
  methods: {
    ...mapMutations({
      setCompanyValue: 'dataAgency/setCompanyValue',
    }),
    ...mapActions({
      getCompanyByUrl: 'dataAgency/getCompanyByUrl',
      putData: 'profileAgency/putData',
      addMember: 'dataAgency/addMember',
      backupTeam: 'dataAgency/backupTeam',
      getObjects: 'dataAgency/getObjects',
    }),
    enter(el, done) {
      Velocity(el, "slideDown", { duration: 200 })
    },
    leave(el, done) {
      Velocity(el, "slideUp", { duration: 200 })
    },
    updateData() {
      this.getCompanyByUrl(this.$route.params.url);
    },
    editTeam() {
      this.backupTeam();
      this.edit.team = true;
    },
    cancelEdit: async function(type) {
      this.edit[type] = false;
    },
    saveAbout: async function() {
      this.loading.about.save = true;
      const data = Object.assign(
        {},
        {
          description_en: this.company.description_en,
          description_nl: this.company.description_nl,
          description_big_en: this.company.description_big_en,
          description_big_nl: this.company.description_big_nl,
        },
      )
      await this.putData(data);
      await this.getCompanyByUrl(this.$route.params.url);
      this.loading.about.save = false;
      this.edit.about = false;
    },
    discardChanges: async function(type) {
      this.loading[type].discard = true;
      await this.getCompanyByUrl(this.$route.params.url);
      this.loading[type].discard = false;
      this.edit[type] = false;
    },
    showCurrentListing(type) {
      this.listingsNav[type] = true;
      Object.keys(this.listingsNav).forEach((key) => {
        if (key !== type) this.listingsNav[key] = false;
      });
    },
    async forceUpdate() {
      this.rerendered = false;
      await this.$nextTick();
      this.rerendered = true;
    },
  },
  computed: {
    ...mapState({
      agency: state => state.dataAgency,
      cards: state => state.dataAgency.cards,
      company: state => state.dataAgency.company,
      lang: state => state.language.lang,
    }),
    ...mapGetters({
      getFavoritePhone: 'dataAgency/getFavoritePhone',
      getFavoriteEmail: 'dataAgency/getFavoriteEmail',
      isAdminAuthenticated: 'auth/isAdminAuthenticated',
      isAuthenticated: 'auth/isAuthenticated',
      agencyId: 'profileAgency/agencyId',
      team: 'dataAgency/team',
      getForSale: 'dataAgency/getForSale',
      getSold: 'dataAgency/getSold',
      getForRent: 'dataAgency/getForRent',
      getRented: 'dataAgency/getRented',
    }),
    descriptionNlSource() {
      const { c_name: a } = this.company;
      const name = !a || a === 'null'?'':a;
      let { description_nl: b } = this.company;
      if (!b || (b === 'null')) {
        b = `${this.$t('landing.text.about')} ${name}`
      }
      return b;
    },
    descriptionEnSource() {
      const { c_name: a } = this.company;
      const name = !a || a === 'null'?'':a;
      let { description_en: b } = this.company;
      if (!b || (b === 'null')) {
        b = `${this.$t('landing.text.about')} ${name}`
      }
      return b;
    },
    link() {
      if (process.client) {
        return window.location.href;
      }
      return process.env.BASE_URL;
    },
    isMyAgency() {
      return this.agencyId === this.company.id && this.isAuthenticated;
    },
    description_big_nl: {
      get() {
        return this.company.description_big_nl;
      },
      set(value) {
        this.setCompanyValue(['description_big_nl', value]);
      },
    },
    description_big_en: {
      get() {
        return this.company.description_big_en;
      },
      set(value) {
        this.setCompanyValue(['description_big_en', value]);
      },
    },
    description_en: {
      get() {
        return this.company.description_en?this.company.description_en:`About ${this.company.c_name}`;
      },
      set(value) {
        this.setCompanyValue(['description_en', value]);
      },
    },
    description_nl: {
      get() {
        return this.company.description_nl?this.company.description_nl:`Over ${this.company.c_name}`;
      },
      set(value) {
        this.setCompanyValue(['description_nl', value]);
      },
    },
  },
  async mounted() {
    if (this.$cookies.get('wambla-user-token')) {
      await this.$store.dispatch('profileAgency/getDataPromise');
    }
    await this.$store.dispatch('dataAgency/getCompanyByUrl', this.$route.params.url);
    const id = this.$store.state.dataAgency.company.id;
    this.$store.dispatch('dataAgency/getObjects', id);
  }
};
</script>
<style lang="scss">
@import '~assets/scss/bulma/components/tabs';
.agency {
  .flip-list-move {
    transition: transform 0.2s;
  }
  .flip-list-item {
    transition: all 0.2s;
  }
  .flip-list-enter, .flip-list-leave-to
  /* .list-complete-leave-active до версии 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }
  &__team-max {
    transition: max-height ease-in-out 0.2s;
    transition-timing-function: cubic-bezier(0, 1, 0, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0, 1);
    max-height: 100vh;
    max-width: 1024px;
    @include flex-row(center, center);
    flex-wrap: wrap;
    &--fix {
      max-height: 310px;
      overflow: hidden;
    }
  }
  &__section {
    padding: 40px 16% 60px;
    &--about {
      @include flex-row(space-between, flex-start);
      .tabs * {
        transition: all ease-in-out 0.2s;
      }
    }
    &--our-team {
      padding: 40px 10%;
      background-color: $N7;
      position: relative;
      @include flex-col(flex-start, center);
    }
    &--listings {
      padding: 40px 14% 60px;
      background-color: $N4;
    }
    &--rest-form {
      background-color: $N7;
    }
  }
  &__inner {
    position: relative;
    &--about {
      flex: 0 0 60%;
      margin-right: 24px;
    }
    &--share {
      flex: 0 0 40%;
      min-width: 320px;
    }
  }
  &__section-title {
    text-align: center;
    font-size: $H924;
    color: $B6;
    font-weight: 600;
    margin-bottom: 48px;
    &--small {
      font-size: $H920;
    }
  }
  &__share-link {
    @extend %social-link;
    margin-right: 16px;
    &:last-child {
      margin: 0;
    }
  }
  &__heading {
    color: $B6;
    margin-bottom: 24px;
    font-size: $H800;
    font-weight: 600;
    overflow-x: auto;
    min-height: 1.8rem;
    overflow-y: hidden;
  }
  &__about-markdown {
    // color: $B6;
    position: relative;
    white-space: pre-line;
    transition-property: max-height, background-inage;
    transition-duration: 0.2s;
    // overflow: hidden;
    max-height: 1000vh;
    transition-timing-function: cubic-bezier(0, 1, 0, 1);
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: max-height, background-inage;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0, 1);
    &--layer  {
      overflow: hidden;
      max-height: 200px;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(transparent, #ffffff);
        background: -moz-linear-gradient(transparent, #ffffff);
        background-image: -webkit-linear-gradient(transparent, #ffffff);
      }
    }
  }
  &__text {
    color: $B6;
    font-size: $H600;
    font-weight: 500;
    line-height: 1.5;
    position: relative;
  }
  &__share-icon {
    @extend %social-icon;
  }
  &__row {
    @include flex-row(flex-start, center);
    &--our-team {
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 44px;
    }
  }
  &__toggle-button {
    margin-top: 16px;
  }
  &__button-more {
    padding: 10px 30px;
    border-radius: 21.5px;
    border: 2px solid $B6;
    background-color: $N0;
    color: $B6;
    font-size: $H600;
    font-weight: 500;
    transition-property: color, background-color, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    @media screen and (min-width: $screen-desktop) {
      &:hover {
        background-color: $B6;
        color: $N0;
      }
    }
  }
  &__listings-nav {
    @include flex-row(flex-start, baseline);
    border-bottom: 1px solid $N5;
    margin-bottom: 30px;
    margin: 0 2% 30px;
  }
  &__listings-link {
    color: $N15;
    font-size: $H800;
    font-weight: 500;
    margin-right: 40px;
    line-height: 1.5;
    position: relative;
    bottom: -1px;
    border-bottom: 3px solid transparent;
    transition-property: color, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    &--active {
      color: $G4;
      border-color: $G4;
    }
  }
  &__map-section {
    height: 400px;
  }
  &__map {
    height: 100%;
    width: 100%;
  }
  &__footer {
    padding: 24px 0;
    background-color: $N0;
  }
  &__edit-button {
    position: absolute;
    &--about {
      top: 0;
      right: 0;
    }
    &--team {
      top: 40px;
      right: 13%;
    }
  }
  &__edit-buttons {
    position: absolute;
    bottom: -42px;
    right: 0;
    z-index: 4;
    &--team {
      bottom: auto;
      top: 40px;
      right: 13%;
    }
  }
  &__button-cancel {
    position: absolute !important;
    margin: 6px;
    top: 40px;
    bottom: auto;
    left: auto;
    right: 13%;
    transition: all ease-in-out 0.2s;
  }
  &__button-add {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    @include flex-row(center, center);
    background-color: $G4;
    border-radius: 50%;
    margin: 24px;
    transition: background-color ease-in-out 0.2s;
    @media screen and (min-width: $screen-desktop) {
      &:hover {
        background-color: $G3;
      }
    }
  }
  &__button-add-icon {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    fill: $N0;
  }
  &__flag-icon {
    width: 26px;
    height: 26px;
  }
}
</style>
