<template>
  <div class="box login">
    <h1 class="title is-4">{{ $t('auth.text.login') }}</h1>
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input"
          :class="{'is-success': readyEmail, 'is-danger': errors.email && form.email}"
          type="email"
          required
          autocomlete='autocomplete_off_hack_xfr4!k'
          @blur='checkEmail'
          :placeholder="$t('auth.text.email')"
          v-model.trim='form.email'>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input"
          :class="{'is-success': readyPassword, 'is-danger': errors.password && form.password}"
          type="password"
          required
          @blur='checkPassword'
          autocomlete='autocomplete_off_hack_xfr4!k'
          :placeholder="$t('auth.text.password')"
          v-model.trim='form.password'>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field login__buttons">
      <div class="login__row">
        <n-link
          to='/auth/signup'
          class="button is-rounded is-small"
          >{{ $t('auth.buttons.to_signup') }}
        </n-link>
        <n-link
          to='/auth/recovery'
          class="button is-text is-rounded has-text-info is-small"
          >{{ $t('auth.buttons.forgot') }}
        </n-link>
      </div>
      <a
        class="button is-success is-rounded"
        :class='{"is-loading": authStatus === "loading"}'
        @click.prevent='login'
        :disabled='!readyAll'>
        {{ $t('auth.text.login') }}
      </a>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex';

export default {
  name: 'Login',
  data() {
    return {
      newUrl: null,
      companyId: null,
      form: {
        email: '',
        password: '',
      },
      errors: {
        email: false,
        password: false,
      },
    };
  },
  methods: {
    ...mapActions('auth', [
      'AUTH_REQUEST',
    ]),
    checkEmail() {
      if (this.form.email) this.errors.email = !this.$validation.email(this.form.email);
    },
    checkPassword() {
      if (this.form.password) this.errors.password = this.form.password.length < 4;
    },
    login() {
      this.AUTH_REQUEST({ user: this.form, vm: this }).then((response) => {
        if (response === 'admin' && this.newUrl) {
          this.$router.push(`/admin/companies/${this.companyId}?url=${this.newUrl}`);
        } else if (response === 'admin') {
          this.$router.push('/admin');
        } else {
          this.$router.push('/agency');
        }
      }).catch((error) => {
        if (error && error.status === 500) {
          this.$message.error(error.statusText);
        } else {
          this.$message.error(this.$t('messages.match'));
        }
      });
    },
  },
  computed: {
    ...mapState('auth', [
      'authStatus',
    ]),
    readyEmail() {
      return this.$validation.email(this.form.email);
    },
    readyPassword() {
      return this.form.password.length > 3;
    },
    readyAll() {
      return this.readyEmail && this.readyPassword;
    },
  },
  watch: {
    readyEmail(value) {
      if (value) this.errors.email = false;
    },
    readyPassword(value) {
      if (value) this.errors.password = false;
    },
    password() {
      if (!this.form.password) this.errors.password = false;
    },
    email() {
      if (!this.form.email) this.errors.email = false;
    },
  },
  mounted() {
    const { url, id } = this.$route.query;
    if (url && id) {
      this.newUrl = url;
      this.companyId = id;
      this.$router.replace({ name: 'auth' });
    }
  },
};
</script>

<style lang="scss">
.login {
  width: 100%;
  height: 100%;
  @include flex-col(center, stretch);
  .input, .button {
    transition: ease-in-out 0.2s;
  }
  @media screen and (min-width: $screen-tablet) {
    flex: 0 1 36%;
    min-width: 460px;
    height: auto;
  }
  &__buttons {
    padding-top: 16px;
    @include flex-row(space-between, center);
  }
  &__row {
    @include flex-row(flex-start, center);
  }
}
</style>
