<template>
  <div class="box recovery">
    <div class="recovery__message-wrapper">
      <div
        @click='isSuccess = false'
        class="has-text-centered animated dur04 bounceIn is-primary is-small notification"
        v-if='isSuccess'>
        {{ $t('auth.messages.success_recovery') }}
      </div>
      <div
        @click='isError = false'
        class="has-text-centered animated dur04 bounceIn is-warning notification"
        v-if='isError'>
        {{ $t('auth.messages.try') }}
      </div>
    </div>
    <h1 class="title is-4 recovery__title">{{ $t('auth.text.recovery') }}</h1>
    <p class="is-size-6 recovery__description">{{ $t('auth.text.recovery_description') }}</p>
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input"
          autocomlete='autocomplete_off_hack_xfr4!k'
          :class="{'is-success': readyEmail, 'is-danger': errors.email && form.email}"
          type="email"
          required
          @blur='checkEmail'
          :placeholder="$t('auth.text.email')"
          v-model.trim='form.email'>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field recovery__buttons">
      <n-link
        to='/auth/login'
        class="button is-rounded is-small"
        >{{ $t('auth.buttons.to_login') }}
      </n-link>
      <button
        class="button is-success is-rounded"
        :class='{"is-loading": loading}'
        @click.prevent='send'
        :disabled='!readyEmail'>
        {{ $t('auth.buttons.send') }}
      </button>
    </div>
  </div>
</template>
<script>
import Validation from '@/assets/js/validation';
import { mapState, mapActions } from 'vuex';
import http from 'axios';
import { api } from '@/api/agency';

export default {
  name: 'Recovery',
  data() {
    return {
      form: {
        email: '',
      },
      errors: {
        email: false,
      },
      loading: false,
      isSuccess: false,
      isError: false,
    };
  },
  methods: {
    checkEmail() {
      if (this.form.email) this.errors.email = !Validation.email(this.form.email);
    },
    send() {
      this.loading = true;
      http.post(api.recovery, this.form)
        .then((response) => {
          this.loading = false;
          this.$message.success(this.$t('messages.success_recovery'));
          // this.showSuccess();
          setTimeout(() => {
            this.$router.push('/auth/login');
          }, 7000);
        }).catch((error) => {
          this.loading = false;
          this.$message.error(error);
          // this.showError();
        });
    },
    showError() {
      this.$message.error(this.$t('auth.messages.try'));
    },
    showSuccess() {
      this.$message.success(this.$t('auth.messages.success_recovery'));
      setTimeout(() => {
        this.$router.push('/auth/login');
      }, 6000);
    },
  },
  computed: {
    ...mapState('auth', [
      'authStatus',
    ]),
    readyEmail() {
      return Validation.email(this.form.email);
    },
  },
  watch: {
    readyEmail(value) {
      if (value) this.errors.email = false;
    },
    email() {
      if (!this.form.email) this.errors.email = false;
    },
  },
};
</script>

<style lang="scss">
.recovery {
  position: relative;
  @include flex-col(center, stretch);
  @media screen and (min-width: $screen-tablet) {
    flex: 0 1 36%;
    min-width: 460px;
    height: auto;
  }
  &__message-wrapper {
    position: fixed !important;
    right: 0;
    left: 0;
    top: 100px;
    background-color: transparent;
    @include flex-row(center, center);
  }
  &__message {
    @include flex-row(center, center);
  }
  .input, .button {
    transition: ease-in-out 0.2s;
  }
  &__buttons {
    padding-top: 16px;
    @include flex-row(space-between, center);
  }
  &__buttons {
    padding-top: 16px;
    @include flex-row(space-between, center);
  }
  &__title {
    margin-bottom: 6px !important;
  }
  &__description {
    margin-bottom: 22px !important;
  }
}
</style>
