<template>
  <div class="box signup">
    <h1 class="title is-4">{{ $t('auth.text.signup') }}</h1>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          class="input"
          :class="{'is-success': form.name.length > 1}"
          type="text"
          required
          autocomlete='autocomplete_off_hack_xfr4!k'
          :placeholder="$t('auth.text.name')"
          v-model.trim='form.name'>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right animated dur03 fadeIn" v-if='form.name.length > 1'>
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          class="input"
          :class="{'is-success': readyEmail, 'is-danger': errors.email && form.email}"
          type="email"
          required
          @blur='checkEmail'
          autocomlete='autocomplete_off_hack_xfr4!k'
          :placeholder="$t('auth.text.email')"
          v-model.trim='form.email'>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right animated dur03 fadeIn" v-if='readyEmail'>
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          class="input"
          required
          :class="{'is-success': readyPassword, 'is-danger': errors.password && form.password}"
          type="password"
          @blur='checkPassword'
          autocomlete='autocomplete_off_hack_xfr4!k'
          :placeholder="$t('auth.text.password')"
          v-model.trim='form.password'>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <span class="icon is-small is-right animated dur03 fadeIn" v-if='readyPassword'>
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field signup__buttons">
      <n-link
        to='/auth'
        class="button is-rounded is-small"
        >{{ $t('auth.buttons.to_login') }}
      </n-link>
      <button
        class="button is-success is-rounded"
        @click.prevent='signup'
        :class='{"is-loading": loading}'
        :disabled='!readyAll'>
        {{ $t('auth.text.signup') }}
      </button>
    </div>
  </div>
</template>
<script>
import { api } from '@/api/agency';
import http from 'axios';

export default {
  name: 'Signup',
  data() {
    return {
      form: {
        name: '',
        email: '',
        password: '',
      },
      errors: {
        email: false,
        password: false,
      },
      loading: false,
    };
  },
  methods: {
    checkEmail() {
      if (this.form.email) this.errors.email = !this.$validation.email(this.form.email);
    },
    checkPassword() {
      if (this.form.password) this.errors.password = this.form.password.length < 4;
    },
    signup() {
      const vm = this;
      this.$store.dispatch('auth/SIGNUP', { formData: vm.form, vm })
        .then(() => {
          this.loading = false;
          this.$router.push('/agency')
        })
        .catch((error) => {
          this.loading = false;
          this.$message.error(error.message);
        })
    }
  },
  computed: {
    readyEmail() {
      return this.$validation.email(this.form.email);
    },
    readyPassword() {
      return this.form.password.length > 3;
    },
    readyAll() {
      return this.readyEmail && this.readyPassword && this.form.name;
    },
  },
  watch: {
    readyEmail(value) {
      if (value) this.errors.email = false;
    },
    readyPassword(value) {
      if (value) this.errors.password = false;
    },
    password() {
      if (!this.form.password) this.errors.password = false;
    },
    email() {
      if (!this.form.email) this.errors.email = false;
    },
  },
};
</script>

<style lang="scss">
.signup {
  @include flex-col(center, stretch);
  .input, .button {
    transition: ease-in-out 0.2s;
  }
  @media screen and (min-width: $screen-tablet) {
    flex: 0 1 36%;
    min-width: 460px;
    height: auto;
  }
  &__buttons {
    padding-top: 16px;
    @include flex-row(space-between, center);
  }
  &__buttons {
    padding-top: 16px;
    @include flex-row(space-between, center);
  }
}
</style>
