<template>
  <form
    class="my-navigation__button-wrapper"
    action="http://app.wambla.nl/auth/logout"
    method="POST"
  >
    <input type="email" name="email" :value="personal.email" hidden />
    <input type="text" name="secret" :value="personal.secret" hidden />
    <input type="text" name="lang" :value="getLangValue" hidden />
    <button class="my-navigation__link">
      <slot />
      <p class="my-navigation__link-text">{{ label }}</p>
    </button>
  </form>
</template>
<script>
import { mapState, mapGetters } from "vuex";

export default {
  name: "PostFormButton",
  props: {
    label: {
      type: String,
      default: ""
    }
  },
  computed: {
    ...mapState("profileAgency", ["personal"]),
    ...mapGetters("language", ["getLangValue"])
  }
};
</script>
<style lang="scss">
@import "~@/assets/scss/components/navigation";
</style>
