<template>
  <transition
    name="custom-classes-transition"
    enter-active-class="animated dur02 fadeIn"
    leave-active-class="animated dur03 fadeOut"
    mode="out-in">
  <div class="sublink-popover">
    <div class="sublink-popover__inner">
      <div class="sublink-popover__triangle"></div>
      <form
        action='http://app.wambla.nl/auth/logout'
        method="POST">
        <input type="email" name='email' :value='email' hidden>
        <input type="text" name='secret' :value='secret' hidden>
        <input type="text" name='lang' :value='$store.getters["language/getLangValue"]' hidden>
        <button class="sublink-popover__text">
          > Post
        </button>
      </form>
    </div>
  </div>
  </transition>
</template>
<script>
export default {
  name: 'Sublink',
  props: ['email', 'secret', 'lang'],
}
</script>

<style lang="scss">
.sublink-popover {
  position: absolute;
  width: 184px;
  left: 220px;
  z-index: 15;
  top: -8px;
  padding-left: 65px;
  &__inner {
    width: 100%;
    position: relative;
    @include flex-row(flex-start, center);
    background-color: white;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 5px;
    padding: 10px 12px;
  }
  &__triangle {
    @include css-triangle(left, white, 20px, 14px);
    position: absolute;
    right: calc(100%);
  }
  &__text {
    cursor: pointer;
    color: black;
    &:hover {
      color: rgb(7, 100, 206);
    }
  }
}
</style>
