<template>
  <div>
    <social-sharing
      :url="`http://wambla.com${$route.fullPath}`"
      :title="objectDetails.address"
      :description="objectDetails.description_nl"
      :quote="objectDetails.address"
      :hashtags="`${objectDetails.ext_type},${objectDetails.category}`"
      inline-template
    >
      <a-dropdown class="object-details-social-dropdown" :trigger="['click']">
        <a class="ant-dropdown-link" href="#">
          <a-icon
            type="share-alt"
            class="object-details-social-dropdown__share-icon"
          />
          {{ $t("object.Share") }} <a-icon type="down" />
        </a>
        <a-menu
          slot="overlay"
          class="object-details-social-dropdown__share-list"
        >
          <a-menu-item key="0">
            <network network="email"> <a-icon type="mail" /> Email </network>
          </a-menu-item>
          <a-menu-item key="1">
            <network network="facebook">
              <a-icon type="facebook" /> Facebook
            </network>
          </a-menu-item>
          <a-menu-item key="2">
            <network network="whatsapp">
              <i class="fab fa-whatsapp"></i> Whatsapp
            </network>
          </a-menu-item>
          <a-menu-item key="3">
            <network network="twitter">
              <a-icon type="twitter" /> Twitter
            </network>
          </a-menu-item>
          <a-menu-item key="4">
            <network network="pinterest">
              <i class="fab fa-pinterest"></i> Pinterest
            </network>
          </a-menu-item>
        </a-menu>
      </a-dropdown>
    </social-sharing>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  name: "SocialSharingDropdown",
  computed: {
    ...mapState("dataAgency", ["objectDetails"])
  }
};
</script>
<style lang="scss">
.object-details-social-dropdown {
  padding: 8px 16px;
  @include flex-row(center, center);
  color: $G5 !important;
  fill: $G5 !important;
  &__share-icon {
    font-size: 20px;
    margin-right: 4px;
  }
}
.ant-dropdown-menu-item {
  padding: 0 !important;
  border-bottom: 0.5px solid rgba($G5, 0.5);
  color: $G5 !important;
  &:hover {
    background-color: rgb(242, 255, 242) !important;
  }
  &:last-child {
    border: none;
  }
  & > * {
    display: block;
    padding: 8px 20px !important;
  }
  & > network {
    color: $G5;
  }
  .anticon {
    margin-right: 4px;
    font-size: 16px;
  }
  i {
    margin-right: 4px;
    font-size: 16px;
  }
}
.ant-dropdown-menu {
  min-width: 180px;
}
.anticon-down {
  margin-left: 4px;
}
.ant-dropdown-link {
  transition: color ease 0.2s;
  &:hover {
    color: lighten($G5, 10%) !important;
  }
}
</style>
