<template>
  <header class='agency-header'>
    <div
      class="animated dur04 bounceIn is-small notification is-warning agency-edit__notification"
      v-if='isError'
      key='error'>
      <button @click='isError = false' class="delete"></button>
      {{ errorText }}
    </div>
    <transition
      name="custom-classes-transition"
      enter-active-class="animated dur02 fadeIn"
      leave-active-class="animated dur03 fadeOut"
      mode="out-in">
    <div class="modal crop-box" v-if='cropModal'>
      <div class="modal-background" @click.self='cropModal = false'></div>
      <div class="modal-content crop-box__content">
        <vue-cropper
          ref='cropper'
          :guides="true"
          drag-mode="crop"
          :aspectRatio='cropFlag?16 / 9 : 3 / 1'
          :rotatable="true"
          :viewMode='0'
          :background="false"
          :src="previewLogo"
          alt="Source Image"
          :img-style="{ 'max-width': '90vw', 'max-height': '80vh' }">
        </vue-cropper>
        <span class="tag is-info crop-box__info">Toggle drag mode between "crop" and "move" when click twice on the cropper</span>
        <div class="crop-box__buttons-wrapper">
          <button
            class="button is-link crop-box__button"
            @click="cropImage"
            :class='{"is-loading": loading.crop}'>
            <span class="icon is-small">
              <i class="fas fa-crop"></i>
            </span>
            <span>Crop</span>
          </button>
          <a
            class="button crop-box__button"
            @click="rotate">
            <span class="icon is-small">
              <i class="fas fa-sync-alt"></i>
            </span>
            <span>Rotate</span>
          </a>
          <div class="field has-addons">
            <p class="control">
              <a
                class="button"
                @click.prevent='zoomOut'>
                <span class="icon is-small">
                  <i class="fas fa-search-minus"></i>
                </span>
                <span>Zoom out</span>
              </a>
            </p>
            <p class="control">
              <a
                class="button"
                @click.prevent='zoomIn'>
                <span class="icon is-small">
                  <i class="fas fa-search-plus"></i>
                </span>
                <span>Zoom In</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <button
        class="modal-close is-large"
        aria-label="close"
        @click='cropModal = false'></button>
    </div>
    </transition>
    <img
      class='agency-header__bg-image'
      :src="agency.logo_big"
      v-if='rerendered'
      alt="agency">
    <home-navigation/>
    <div class="agency-header__inner agency-header__inner--relative">
      <div class="agency-header__button-wrapper" v-if='isMyAgency'>
        <button-camera
          @click.native.stop.prevent="editLogoBig(agency.id)"
          v-if='agency.logo_big'
          :label='$t("landing.button.edit_header")'/>
        <button-camera
          @loadPhoto='setBigLogo'
          @click.native='cropFlag = true'
          :label='$t("landing.button.upload_header")'/>
      </div>
      <div class="agency-header__main-content">
        <h1 class="agency-header__title">{{ agency.c_name }}</h1>
        <div class="agency-header__title-line"></div>
        <a
          :href='`https://maps.google.com/?q=${agency.address}`'
          target='_blank'
          class="agency-header__location"
          v-if='agency.address'>
          <icon-location class="agency-header__location-icon"/>
          <p class="agency-header__location-text">{{ agency.address }}</p>
        </a>
        <a
          :href="`${websitePrefix}${agency.website}`"
          target="_blank"
          v-if='agency.website'
          class="agency-header__link-site"
          >www
        </a>
      </div>
      <div class="agency-header__features">
        <div class="agency-header__agency-logo-wrapper">
          <img
            :src="agency.logo"
            alt="agency-logo"
            v-if='rerendered && agency.logo'
            @click='editCurrentImage(agency.logo, "logo")'
            class="agency-header__agency-logo"
            :class="{'agency-header__agency-logo--disabled': !isMyAgency}">
          <label
            v-if='isMyAgency'
            @click='cropFlag = false'
            class="agency-header__upload-placeholder">
            <input
              type="file"
              class='upload__input'
              id="fileLogo"
              ref="fileElemLogo"
              @change="setImage($event, 'logo')"
              accept="image/*"/>
            <span>{{ $t('landing.button.upload_logo') }}</span>
          </label>
          <div class="agency-header__edit-wrapper">
            <button-edit
              v-if='isMyAgency && agency.logo'
              @click.native="editLogo(agency.id)"
              class="agency-header__edit-button"/>
          </div>
        </div>
        <div class="agency-header__contacts">
          <a
            :href="`callto:${getFavoritePhone}`"
            target='_blank'
            class="agency-header__contact-link">
            <icon-phone class="agency-header__contact-icon"/>
          </a>
          <a href="#" target='_blank' class="agency-header__contact-link">
            <icon-messages class="agency-header__contact-icon"/>
          </a>
          <a
            :href="`mailto:${getFavoriteEmail}`"
            target='_blank'
            class="agency-header__contact-link">
            <icon-mail class="agency-header__contact-icon"/>
          </a>
          <p
            @click='togglePhone = !togglePhone'
            class="agency-header__contact-link agency-header__contact-link--long">
            <icon-telephone class="agency-header__contact-icon"/>
            <transition
              name="custom-classes-transition"
              enter-active-class="animated dur02 fadeIn"
              leave-active-class="animated dur02 fadeOut"
              mode="out-in">
            <a
              :href='`tel:${getFavoritePhone}`'
              @click.stop
              class="agency-header__contact-text"
              v-if='togglePhone'
              >{{ getFavoritePhone }}
            </a>
            </transition>
          </p>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
import IconLocation from '@/components/common/icons/IconLocation.vue';
import IconPhone from '@/components/common/icons/IconPhone.vue';
import IconMail from '@/components/common/icons/IconMail.vue';
import IconMessages from '@/components/common/icons/IconMessages.vue';
import IconTelephone from '@/components/common/icons/IconTelephone.vue';
import ButtonCamera from '@/components/agency/components/ButtonCamera.vue';
import ButtonEdit from '@/components/agency/components/ButtonEdit.vue';
import HomeNavigation from '@/components/common/HomeNavigation.vue';
import { mapState, mapActions, mapGetters } from 'vuex';
import { api } from '@/api/agency';
import http from 'axios';

export default {
  name: 'AgencyHeader',
  components: {
    ButtonCamera,
    IconLocation,
    IconPhone,
    IconMail,
    IconMessages,
    IconTelephone,
    ButtonEdit,
    HomeNavigation,
  },
  data() {
    return {
      rerendered: true,
      togglePhone: false,
      cropFlag: false,
      auth: false,
      menu: false,
      previewLogo: '',
      newLogo: '',
      isError: false,
      errorText: '',
      cropModal: false,
      loading: {
        crop: false,
      },
      imageType: '',
      backup: {
        logo_big: '',
        logo: '',
      },
      fileName: 'image.png',
      fileType: 'image/png',
    };
  },
  computed: {
    ...mapState({
      agency: state => state.dataAgency.company,
      user: state => user.dataAgency.user,
    }),
    ...mapGetters({
      getFavoritePhone: 'dataAgency/getFavoritePhone',
      getFavoriteEmail: 'dataAgency/getFavoriteEmail',
      isAuthenticated: 'auth/isAuthenticated',
      isAdminAuthenticated: 'auth/isAdminAuthenticated',
      agencyId: 'profileAgency/agencyId',
    }),
    websitePrefix() {
      return /http/i.test(this.agency.website)?'':'//';
    },
    isMyAgency() {
      return this.agencyId === this.agency.id && this.isAuthenticated;
    },
  },
  methods: {
    ...mapActions({
      getCompanyByUrl: 'dataAgency/getCompanyByUrl',
    }),
    async forceRender() {
      this.rerendered = false;
      await this.$nextTick();
      this.rerendered = true;
    },
    showError() {
      if (this.isError) {
        this.isError = false;
        setTimeout(() => {
          this.isError = true;
          setTimeout(() => {
            this.isError = false;
          }, 3000);
        }, 20);
      } else {
        this.isError = true;
        setTimeout(() => {
          this.isError = false;
        }, 3000);
      }
    },
    openMenu() {
      this.menu = true;
    },
    closeMenu() {
      this.menu = false;
    },
    setBigLogo([e, type]) {
      this.setImage(e, type);
    },
    setImage(e, type) {
      this.imageType = type;
      const file = this.newLogo = e.target.files[0];
      this.fileName = file.name;
      this.fileType = file.type;
      if (!file.type.includes('image/')) {
        this.errorText = 'Please select an image file';
        this.showError();
        return;
      }
      if (typeof FileReader === 'function') {
        const reader = new FileReader();
        reader.onload = (event) => {
          this.previewLogo = event.target.result;
          this.backup[type] = event.target.result;
          this.cropModal = true;
        };
        reader.readAsDataURL(file);
      } else {
        this.errorText = 'Sorry, FileReader API not supported';
        this.showError();
      }
    },
    editLogo(id) {
      this.cropFlag = false;
      const data = {
        params: {
          company_id: id,
        },
      };
      if (this.backup.logo) {
          this.previewLogo = this.backup.logo;
          this.cropModal = true;
      } else {
      http.get(api.logo, data)
        .then(resp => {
          this.editCurrentImage(resp.data.logo, 'logo');
        })
      }
    },
    editLogoBig(id) {
      this.cropFlag = true;
      const data = {
        params: {
          company_id: id,
        },
      };
      if (this.backup.logo_big) {
          this.previewLogo = this.backup.logo_big;
          this.cropModal = true;
      } else {
        http.get(api.logo_big, data)
        .then(resp => {
          this.editCurrentImage(resp.data.logo, 'logo_big');
        })
      }
    },
    editCurrentImage(image, type) {
      this.imageType = type;
      if (this.backup[type]) {
        this.previewLogo = this.backup[type];
        this.cropModal = true;
      } else {
        const file = `data:image/png;base64,${image}`;
        this.previewLogo = file;
        this.cropModal = true;
      }
    },
    rotate() {
      this.$refs.cropper.rotate(90);
    },
    zoomIn() {
      this.$refs.cropper.relativeZoom(0.1);
    },
    zoomOut() {
      this.$refs.cropper.relativeZoom(-0.1);
    },
    cropImage() {
      let apiUrl = '';
      const keyName = this.imageType;
      if (this.imageType === 'logo') {
        apiUrl = api.uploadLogo;
      } else {
        apiUrl = api.photo;
      }
      this.loading.crop = true;
      const URL = this.$refs.cropper.getCroppedCanvas().toDataURL();
      const file = this.dataURItoBlob(URL);
      const formData = new FormData();
      formData.append([keyName], file);
      formData.append('company_id', this.agencyId);
      http.post(apiUrl, formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      }).then((resp) => {
        this.loading.crop = false;
        if (resp.status === 200) {
          this.getCompanyByUrl(this.$route.params.url)
            .then(() => {
              this.cropModal = false;
              this.previewLogo = '';
              this.newLogo = '';
              this.forceRender();
            });
        }
      }).catch((error) => {
        this.loading.crop = false;
      });
    },
    toFile(theBlob) {
      theBlob.lastModifiedDate = new Date();
      theBlob.name = this.fileName;
      return theBlob;
    },
    dataURItoBlob(dataURI) {
      const binary = atob(dataURI.split(',')[1]);
      const array = [];
      for(let i = 0; i < binary.length; i++) {
        array.push(binary.charCodeAt(i));
      }
      const blob = new Blob([new Uint8Array(array)], {type: this.fileType});
      const image = new File([blob], this.fileName, { type: this.fileType, lastModified: Date.now() });
      return image;
    },
  },
};
</script>
<style lang="scss">
@import '~@/assets/scss/bulma/components/modal';
@import '~@/assets/scss/components/crop-box';
.agency-header {
  position: relative;
  height: 100vh;
  background-color: rgba(30, 41, 61, 0.5);
  @include flex-col(flex-start, stretch);
  &__logo {
    height: 40px;
  }
  &__logo-image {
    height: 100%;
    width: auto;
  }
  &__bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }
  &__menu-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background-color: white;
  }
  &__menu-button-image {
    @extend %image-round;
  }
  &__nav {
    padding: 12px 10px 0;
  }
  &__nav-head {
    @include flex-row(space-between, center);
    padding-bottom: 14px;
    border-bottom: 1px solid $N0;
    padding-top: 4px;
  }
  &__nav-bread {
    padding-top: 9px;
  }
  &__nav-list {
    @include flex-row(flex-start, center);
    list-style: none;
  }
  &__nav-item {
    margin-right: 12px;
    @include flex-row(flex-start, center);
  }
  &__nav-icon {
    width: 20px;
    height: 20px;
    fill: $N0;
  }
  &__nav-angle {
    width: 8px;
    height: 8px;
    fill: $N0;
    margin-right: 9px;
  }
  &__nav-text {
    font-size: $H400;
    color: $N0;
    transition: color ease-in-out 0.2s;
    &:hover {
      color: $N8;
    }
  }
  &__nav-link {
    font-size: $H500;
    font-weight: 500;
    color: $N0;
    margin-right: 24px;
    transition: color ease-in-out 0.2s;
    @media screen and (min-width: $screen-desktop) {
      &:hover {
        color: $N8;
      }
    }
  }
  &__nav-button {
    font-size: $H500;
    font-weight: 500;
    color: $N0;
    padding: 8px 22px;
    border: 1px solid $N0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.13);
    transition: background-color ease-in-out 0.2s;
    @media screen and (min-width: $screen-desktop) {
      &:hover {
        background-color: transparent;
        color: $N2;
      }
    }
  }
  &__inner {
    flex: 1 1;
    padding: 20px 14px 0;
    @include flex-col(space-between, stretch);
    &--relative {
      position: relative;;
    }
  }
  &__main-content {
    flex: 1 1;
    @include flex-col(center, center);
    text-align: center;
  }
  &__title {
    font-size: 42px;
    color: $N0;
    font-weight: 600;
    max-width: 520px;
    margin-bottom: 12px;
    line-height: 125%;
  }
  &__title-line {
    height: 2px;
    width: 90px;
    background-color: $N0;
    margin-bottom: 12px;
  }
  &__location {
    @include flex-row(center, center);
    margin-bottom: 12px;
  }
  &__location-icon {
    width: 20px;
    height: 20px;
    fill: $N0;
    margin-right: 10px;
  }
  &__location-text {
    font-size: $H600;
    font-weight: 600;
    color: $N0;
  }
  &__link-site {
    width: 41px;
    height: 41px;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    @include flex-row(center, center);
    color: $N0;
    font-size: $H100;
    font-weight: 500;
  }
  &__features {
    padding: 0 16%;
    @include flex-row(space-between, flex-end);
    flex-wrap: wrap;
  }
  &__agency-logo-wrapper {
    flex: 0 0 270px;
    height: 90px;
    @include flex-row(flex-start, flex-end);
    position: relative;
  }
  &__agency-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    &--disabled {
      cursor: default;
      pointer-events: none;
    }
  }
  &__contacts {
    @include flex-row(flex-start, center);
    padding-bottom: 12px;
  }
  &__contact-link {
    width: 55px;
    cursor: pointer;
    height: 55px;
    border-radius: 50%;
    background-color: $N3;
    @include flex-row(center, center);
    margin-right: 25px;
    &--long {
      border-radius: 71px;
      padding: 0 24px;
      margin: 0;
      width: auto;
    }
  }
  &__contact-icon {
    fill: $B7;
    width: 26px;
    height: 26px;
  }
  &__contact-text {
    color: $B7;
    font-size: $H800;
    font-weight: 600;
    margin-left: 18px;
  }
  &__button-wrapper {
    position: absolute;
    top: 16px;
    left: 12px;
    @include flex-row(flex-start, center);
  }
  &__edit-label {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: all;
    cursor: pointer;
  }
  &__edit-button {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: all;
    transition: filter ease 0.2s;
    &:hover {
      filter: brightness(1.1);
    }
  }
  &__edit-wrapper {
    position: absolute;
    top: -50px;
    right: -50px;
  }
  &__round-button {
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    bottom: -16px;
    right: -16px;
    @include flex-row(center, center);
    pointer-events: all;
    z-index: 2;
    transition: filter ease-in-out 0.2s;
    &--left {
      bottom: auto;
      right: auto;
      left: -12px;
      top: -12px;
    }
    &:hover {
      filter: brightness(1.1);
    }
    &:active {
      filter: brightness(0.9);
    }
  }
  &__round-button-icon {
    width: 12px;
    height: 12px;
    fill: $N0;
  }
  &__upload-placeholder {
    position: relative;
    @include flex-row(center, center);
    min-height: 50px;
    min-width: 150px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.199);
    border-radius: 2px;
    @include text($H400, $N0, 500);
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: 1px dashed $N0;
    transition-property: color, border-color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    &:hover {
      background-color: rgba(255, 255, 255, 0.6);
      color: $N19;
      border-color: $N19;
    }
  }
  &__nav-inner {
    align-self: center;
    max-height: 40px;
    @include flex-row(flex-start, center);
  }
  &__lang-menu {
    margin: 0 4px 0 16px;
    padding: 8px 0;
    order: 2;
    .language-menu__arrow {
      fill: $N0;
    }
    &.is-auth {
      order: 0;
      margin: 0 16px 0 0;
      padding: 8px 16px 8px 0;
      border-right: 1px solid #ffffff;
    }
  }
}
</style>
