<template>
<div class='agency-footer'>
  <div class="agency-footer__col">
    <h3 class="agency-footer__heading">{{ $t('landing.text.address') }}</h3>
    <p class="agency-footer__address">{{ company.address }}</p>
    <a :href='`callto:${getFavoritePhone}`' target='_blank' class='agency-footer__link'>
      <icon-telephone class='agency-footer__link-icon'/>
      <span class='agency-footer__link-text'>{{ $t('landing.text.telephone') }}</span>
    </a>
    <a
        :href="`${websitePrefix}${company.website}`"
        target='_blank'
        class='agency-footer__link'>
        <div class="agency-footer__site-icon">www</div>
      <span class='agency-footer__link-text'>{{ $t('landing.text.website') }}</span>
    </a>
  </div>
  <div class="agency-footer__col">
    <button-edit
      class="agency-footer__edit-button agency-footer__edit-button--time"
      v-if='isMyAgency && !edit.time'
      @click.native='editTime'/>
    <div class="buttons
      has-addons
      agency-footer__edit-buttons"
      v-if='edit.time'>
      <span
        class="button is-success"
        :class='{"is-loading": loading.time.save}'
        @click='saveTime'>
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span>
      </span>
      <span
        class="button is-danger"
        :class='{"is-loading": loading.time.discard}'
        @click='discardChanges("time")'>
        <span class="icon is-small">
          <i class="fas fa-times"></i>
        </span>
      </span>
    </div>
    <h3 class="agency-footer__heading">{{ $t('landing.text.hours') }}</h3>
    <ul class="agency-footer__time-list">
      <li class="agency-footer__time-item" v-for='(day, idx) in company.schedules' :key='idx'>
        <p class="agency-footer__label">{{ $t(`schedules.${day.name}`) }}</p>
        <p
          class="agency-footer__time"
          v-if='!edit.time && (day.start_time.HH || day.closed)'>{{ day.closed?$t('landing.text.closed'):`${day.start_time.HH}:${day.start_time.mm} - ${day.end_time.HH}:${day.end_time.mm}` }}
        </p>
        <template v-if='edit.time'>
          <vue-timepicker
            :class='{"agency-footer__time-disabled": day.closed}'
            class='is-size-7'
            :value='day.start_time'
            @input="(value) => editSchedulesValue({ value, idx, key: 'start_time'})"></vue-timepicker>
          <span class='agency-footer__space'> to </span>
          <vue-timepicker
            :class='{"agency-footer__time-disabled": day.closed}'
            class='is-size-7'
            :value='day.end_time'
            @input="(value) => editSchedulesValue({ value, idx, key: 'end_time'})"
            ></vue-timepicker>
          <button
            class="button is-small is-light agency-footer__tag"
            :class='{"is-warning": day.closed}'
            @click="() => editSchedulesValue({ value: !day.closed, idx, key: 'end_time'})"
            >{{ $t('landing.text.closed') }}
          </button>
        </template>
      </li>
    </ul>
    <template v-if='edit.time'>
      <div class="tabs is-toggle is-small">
        <ul>
          <li :class="{'is-active': tabLang === 'en'}">
            <a @click.prevent='tabLang = "en"'>
              <span class="icon is-small"><united-kingdom class="agency__flag-icon"/></span>
            </a>
          </li>
          <li :class="{'is-active': tabLang === 'nl'}">
            <a @click.prevent='tabLang = "nl"'>
              <span class="icon is-small"><netherlands class="agency__flag-icon"/></span>
            </a>
          </li>
        </ul>
      </div>
      <input
        class="input is-success agency-footer__extra"
        :value='company.extra_en'
        @input='setCompanyValue(["extra_en", $event.target.value])'
        placeholder="Extra comment line here..."
        autocomlete='autocomplete_off_hack_xfr4!k'
        v-if='tabLang === "en"'
        type="text">
      <input
        class="input is-success agency-footer__extra"
        :value='company.extra_nl'
        @input='setCompanyValue(["extra_nl", $event.target.value])'
        autocomlete='autocomplete_off_hack_xfr4!k'
        v-else
        placeholder="Regel extra commentaar hier..."
        type="text">
    </template>
    <template v-else>
      <p v-if='lang === "en"' class="agency-footer__extra">{{ company.extra_en?company.extra_en:"" }}</p>
      <p v-else class="agency-footer__extra">{{ company.extra_nl?company.extra_nl:"" }}</p>
    </template>
  </div>
  <div class="agency-footer__col">
    <h3 class="agency-footer__heading">{{ $t('landing.text.social') }}</h3>
    <div class="agency-footer__social">
      <a
        :href="`${httpPrefix(social.username)}${social.username}`"
        target='_blank'
        v-for='(social, index) in company.socials'
        class="agency-footer__social-link"
        :key='index'>
        <div class="agency-footer__social-icon-wrapper">
          <component :is='social.type' class="agency-footer__social-icon"/>
        </div>
        <p class="agency-footer__social-text">{{ socialName[social.type] }}</p>
      </a>
    </div>
  </div>
</div>
</template>
<script>
import UnitedKingdom from '@/components/common/icons/square-flags/UnitedKingdom.vue';
import Netherlands from '@/components/common/icons/square-flags/Netherlands.vue';
import IconVk from '@/components/common/icons/IconVk.vue';
import IconFacebook from '@/components/common/icons/IconFacebook.vue';
import IconTwitter from '@/components/common/icons/IconTwitter.vue';
import IconTelephone from '@/components/common/icons/IconTelephone.vue';
import IconInstagram from '@/components/common/icons/IconInstagram.vue';
import IconGoogle from '@/components/common/icons/IconGoogle.vue';
import IconYoutube from '@/components/common/icons/IconYoutube.vue';
import ButtonEdit from '@/components/agency/components/ButtonEdit.vue';
import { mapState, mapGetters, mapActions, mapMutations } from 'vuex';

export default {
  name: 'AgencyFooter',
  components: {
    IconTelephone,
    vk: IconVk,
    facebook: IconFacebook,
    twitter: IconTwitter,
    instagram: IconInstagram,
    google: IconGoogle,
    youtube: IconYoutube,
    ButtonEdit,
    UnitedKingdom,
    Netherlands,
  },
  data() {
    return {
      tabLang: 'en',
      time: ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'],
      daysArray: [
        {name: 'monday', closed: false, start_time: {HH: '', mm: ''}, end_time: {HH: '', mm: ''}},
        {name: 'tuesday', closed: false, start_time: {HH: '', mm: ''}, end_time: {HH: '', mm: ''}},
        {name: 'wednesday', closed: false, start_time: {HH: '', mm: ''}, end_time: {HH: '', mm: ''}},
        {name: 'thursday', closed: false, start_time: {HH: '', mm: ''}, end_time: {HH: '', mm: ''}},
        {name: 'friday', closed: false, start_time: {HH: '', mm: ''}, end_time: {HH: '', mm: ''}},
        {name: 'saturday', closed: true, start_time: {HH: '', mm: ''}, end_time: {HH: '', mm: ''}},
        {name: 'sunday', closed: true, start_time: {HH: '', mm: ''}, end_time: {HH: '', mm: ''}},
      ],
      url: {
        facebook: 'https://www.facebook.com/',
        vk: 'https://vk.com/',
        google: 'https://plus.google.com/u/0/',
        instagram: 'https://www.instagram.com/',
        youtube: 'https://www.youtube.com/channel/',
        twitter: 'https://twitter.com/',
      },
      socialName: {
        facebook: 'Facebook',
        vk: 'VKontakte',
        google: 'Google+',
        instagram: 'Instagram',
        youtube: 'YouTube',
        twitter: 'Twitter',
      },
      edit: {
        time: false,
      },
      loading: {
        time: {
          save: false,
          discard: false,
        },
      },
    };
  },
  methods: {
    ...mapMutations({
      setCompanyValue: 'dataAgency/setCompanyValue',
      checkSchedule: 'dataAgency/checkSchedule',
      editSchedulesValue: 'dataAgency/editSchedulesValue'
    }),
    ...mapActions({
      getCompanyByUrl: 'dataAgency/getCompanyByUrl',
      putData: 'profileAgency/putData',
      addMember: 'dataAgency/addMember',
      backupTeam: 'dataAgency/backupTeam',
      updateSchedule: 'profileAgency/updateSchedule',
    }),
    discardChanges: async function(type) {
      this.loading[type].discard = true;
      await this.getCompanyByUrl(this.$route.params.url);
      this.loading[type].discard = false;
      this.edit[type] = false;
    },
    generateData() {
      return new Promise((resolve, reject) => {
        const data = this.company.schedules.map((day) => {
          if (day.closed) {
            return 'closed';
          } else {
            return `${day.start_time.HH}:${day.start_time.mm} - ${day.end_time.HH}:${day.end_time.mm}`;
          } 
        });
        resolve(data);
      })
    },
    saveTime: async function() {
      this.loading.time.save = true;
      const data = await this.generateData();
      const { extra_en, extra_nl } = this.company;
      const formData = Object.assign({}, { extra_en, extra_nl });
      await this.updateSchedule(JSON.stringify(data));
      this.putData(formData)
        .then(() => this.$message.success(this.$t('messages.save')))
        .catch(() => this.$message.error(this.$t('messages.error_save')))
      await this.getCompanyByUrl(this.$route.params.url);
      this.loading.time.save = false;
      this.edit.time = false;
    },
    editTime() {
      this.checkSchedule();
      this.edit.time = true;
    },
    httpPrefix(url) {
      return /http/i.test(url)?'':'//';
    },
  },
  computed: {
    ...mapState({
      company: state => state.dataAgency.company,
      lang: state => state.language.lang,
    }),
    websitePrefix() {
      return /http/i.test(this.company.website)?'':'//';
    },
    extra: {
      get() {
        return this.getExtra;
      },
      set(v) {
        this.setExtra(v);
      },
    },
    ...mapGetters({
      getFavoritePhone: 'dataAgency/getFavoritePhone',
      isAuthenticated: 'auth/isAuthenticated',
      agencyId: 'profileAgency/agencyId',
      team: 'dataAgency/team',
    }),
    isMyAgency() {
      return this.agencyId === this.company.id && this.isAuthenticated;
    },
  },
};
</script>
<style lang="scss">
@import '~@/assets/scss/bulma/elements/tag.sass';
.agency-footer {
  @include flex-row(space-between, flex-start);
  padding: 24px 20%;
  &__heading {
    font-size: $H800;
    font-weight: 600;
    color: $B9;
    margin-bottom: 16px;
  }
  &__address {
    font-size: $H600;
    font-weight: 500;
    color: $N100;
    line-height: 1.2;
    max-width: 140px;
    margin-bottom: 20px;
  }
  &__link {
    @include flex-row(flex-start, center);
    margin-bottom: 14px;
  }
  &__link-icon {
    width: 26px;
    height: 26px;
    fill: $G4;
    margin-right: 16px;
    pointer-events: none;
  }
  &__site-icon {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    @include flex-row(center, center);
    color: $G4;
    border: 1px solid $G4;
    margin-right: 16px;
    font-size: 8px;
    font-weight: 600;
  }
  &__link-text {
    color: $G4;
    font-weight: 600;
    font-size: $H600;
  }
  &__time-list {
    list-style: none;
    margin-bottom: 32px;
    .time-picker,
    .display-time,
    .dropdown,
    .select-list {
      transition: all ease-in-out 0.2s;
      width: 100px !important;
    }
  }
  &__time-item {
    @include flex-row(flex-start, center);
    min-height: 28px;
    margin-bottom: 6px;
  }
  &__label {
    text-transform: capitalize;
    color: $N13;
    font-size: $H600;
    font-weight: 500;
    flex: 0 0 120px;
  }
  &__time {
    color: $N100;
    font-size: $H400;
    font-weight: 600;
    white-space: nowrap;
  }
  &__time-input {
    width: 100px !important;
  }
  &__extra {
    color: $N100;
    font-size: $H400;
    font-weight: 500;
  }
  &__social-link {
    @include flex-row(flex-start, center);
    margin-bottom: 16px;
    &:last-child {
      margin: 0;
    }
    @media screen and (min-width: $screen-desktop) {
      &:hover .agency-footer__social-text {
        color: $N19;
      }
      &:hover .agency-footer__social-icon {
        fill: $N19;
      }
    }
  }
  &__social-icon {
    @extend %social-icon;
  }
  &__social-icon-wrapper {
    @extend %social-link;
    margin-right: 16px;
    background-color: $N5;
  }
  &__social-text {
    color: $G4;
    font-weight: 600;
    font-size: $H800;
    transition: color ease-in-out 0.2s;
    text-transform: capitalize;
  }
  &__edit-button {
    position: absolute;
    top: 0;
    right: 0;
    &--time {
      top: -6px;
      right: -62px;
    }
  }
  &__col {
    position: relative;
  }
  &__space {
    padding: 0 6px;
  }
  &__edit-buttons {
    position: absolute;
    z-index: 4;
    top: -6px;
    left: 200px;
  }
  &__time-disabled {
    pointer-events: none;
    background-color: $N8;
    .time-picker,
    .display-time {
      background-color: $N8;
      pointer-events: none;
      color: $N16;
    }
    .dropdown,
    .select-list {
      display: none;
    }
  }
  &__tag {
    margin-left: 6px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
  }
}
</style>
