<template>
<client-only>
  <div class="listings">
    <div class="listings__wrapper">
      <div
        ref='card'
        class="listings__card"
        v-for='(card, index) in objects'
        :key='`${card.id}${index}`'>
        <div class="listings__image-wrapper">
          <div :ref='`glide-${index}`' :class="`glide-${index}`">
            <div class="glide__track" data-glide-el="track">
              <ul v-if='card.images.length' class="glide__slides" @click.prevent='openObject(card.id)'>
                <li class="glide__slide listings__slide" v-for='image in card.images' :key='image.id'>
                  <img :src="image.url" alt="image" class="listings__image">
                </li>
              </ul>
              <ul v-else-if='card.image' class="glide__slides" @click.prevent='openObject(card.id)'>
                <li class="glide__slide listings__slide">
                  <img :src="card.image" alt="image" class="listings__image">
                </li>
              </ul>
              <ul v-else class="glide__slides" @click.prevent='openObject(card.id)'>
                <li class="glide__slide listings__slide">
                  <img src="@/assets/images/placeholder.png" alt="image" class="listings__image">
                </li>
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button
                class="listings__nav-arrow-button listings__nav-arrow-button--left"
                data-glide-dir="<">
                <icon-prev class='listings__nav-arrow'/>
              </button>
              <button
                class="listings__nav-arrow-button listings__nav-arrow-button--right"
                data-glide-dir=">">
                <icon-next class='listings__nav-arrow'/>
              </button>
            </div>
          </div>
        </div>
        <div class="listings__content">
          <div class="listings__nav">
            <div class="listings__nav-inner">
              <p class="listings__price"
              >€ {{ formatedPrice(card.price) }},- {{card.condition.split('').join('.')}}.</p>
            </div>
            <div class="listings__nav-inner">
              <button v-if='false' class='listings__nav-button'>
                <icon-reload class="listings__nav-icon"/>
              </button>
              <button v-if='false' class='listings__nav-button'>
                <icon-play class="listings__nav-icon"/>
              </button>
            </div>
          </div>
          <div class="listings__features">
            <ul class="listings__features-list">
              <li class="listings__feature" v-if='card.living_space'>
                <icon-plan class="listings__feature-icon"/>
                <span class="listings__feature-text">{{ card.living_space }} m<sup>2</sup></span>
              </li>
              <li class="listings__feature" v-if='card.plot_surface'>
                <icon-square class="listings__feature-icon"/>
                <span class="listings__feature-text">{{ card.plot_surface }} m<sup>2</sup></span>
              </li>
              <li class="listings__feature" v-if='card.rooms'>
                <icon-door class="listings__feature-icon"/>
                <span class="listings__feature-text">{{ card.rooms }}</span>
              </li>
              <li class="listings__feature" v-if='card.bed'>
                <icon-bed class="listings__feature-icon"/>
                <span class="listings__feature-text">{{ card.bed }}</span>
              </li>
            </ul>
          </div>
          <n-link
            :to='{name: "url-id", params: { id: card.id }}'
            class="listings__address-box">
            <div class="listings__type-icon-wrapper">
              <icon-building-tree class="listings__type-icon" v-if='category(card.category) === "apartment"'/>
              <icon-garage class="listings__type-icon" v-else-if='category(card.category) === "garage"'/>
              <icon-location-area class="listings__type-icon" v-else-if='category(card.category) === "building land"'/>
              <icon-house class="listings__type-icon" v-else/>
            </div>
            <div class="listings__address-wrapper">
              <p class="listings__address-street">{{ card.street_address }}</p>
              <p class="listings__address-region">{{ capitalizeAddress(card.address) }}</p>
            </div>
          </n-link>
        </div>
      </div>
    </div>
    <div class="listings__pagination">
      <button
        class="listings__pagination-arrow-button listings__pagination-arrow-button--prev"
        :disabled='currentPage === 1'
        @click='prevPage'>
        <icon-prev class="listings__pagination-arrow"/>
      </button>
      <button
        class="listings__pagination-button"
        v-for='num in pages'
        :key='num'
        :class='{"listings__pagination-button--active": currentPage === num}'
        @click='currentPage = num'
        >{{ num }}
      </button>
      <button
        class="listings__pagination-arrow-button listings__pagination-arrow-button--next"
        :disabled='currentPage === allPages'
        @click='nextPage'>
        <icon-next class="listings__pagination-arrow"/>
      </button>
    </div>
  </div>
</client-only>
</template>
<script>
import IconPlay from '@/components/common/icons/IconPlay.vue';
import IconReload from '@/components/common/icons/IconReload.vue';
import IconHouse from '@/components/common/icons/IconHouse.vue';
import IconLocationArea from '@/components/common/icons/IconLocationArea.vue';
import IconGarage from '@/components/common/icons/IconGarage.vue';
import IconBuildingTree from '@/components/common/icons/IconBuildingTree.vue';
import IconSquare from '@/components/common/icons/IconSquare.vue';
import IconPlan from '@/components/common/icons/IconPlan.vue';
import IconDoor from '@/components/common/icons/IconDoor.vue';
import IconBed from '@/components/common/icons/IconBed.vue';
import IconNext from '@/components/common/icons/IconNext.vue';
import IconPrev from '@/components/common/icons/IconPrev.vue';
import Glide from '@glidejs/glide';
import "@glidejs/glide/src/assets/sass/glide.core.scss";
import "@glidejs/glide/src/assets/sass/glide.theme.scss";
import numeral from 'numeral-es6';

export default {
  name: 'Listings',
  props: {
    cards: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  components: {
    IconPlay,
    IconReload,
    IconHouse,
    IconLocationArea,
    IconGarage,
    IconBuildingTree,
    IconSquare,
    IconPlan,
    IconDoor,
    IconBed,
    IconNext,
    IconPrev,
  },
  data() {
    return {
      currentPage: 1,
      autoplay: [],
      sliders: [],
    };
  },
  computed: {
    pages() {
      let count = this.allPages;
      const result = [];
      while (count > 0) {
        result.unshift(count--);
      }
      return result;
    },
    allPages() {
      return Math.ceil(this.cards.length / 6);
    },
    objects() {
      const current = this.currentPage - 1;
      const min = current * 6;
      const max = this.currentPage * 6 - 1;
      return this.cards.filter((e, index) => index >= min && index <= max);
    }
    
  },
  methods: {
    openObject(id) {
      this.$router.push({name: "url-id", params: { id }});
    },
    category(type) {
      return String(type).toLowerCase();
    },
    capitalizeAddress(address) {
      const arr = address.split(' ');
      const newArr = arr.map((e) => {
        return String(e).charAt(0).toUpperCase() + String(e).toLowerCase().slice(1);
      })
      return newArr.join(' ');
    },
    formatedPrice(price) {
      const oldPrice = price;
      const newPrice = numeral(oldPrice).format('0,0');
      return newPrice.split(',').join('.');
    },
    updateSlider(value) {
      this.sliders[value].update({startAt: 0, autoplay: false});
    },
    toggleAutoplay: async function({ target: { value } }) {
      const play = this.autoplay.some(e => Number(e) === Number(value));
      this.sliders[value].update({autoplay: play?2000:false});
    },
    nextPage() {
      const total = this.allPages;
      const current = this.currentPage;
      // eslint-disable-next-line
      const pages = this.pages;
      const lastPage = pages[pages.length - 1];
      if (current < lastPage) {
        this.currentPage = current + 1;
      } else {
        const rest = total - pages[4];
        if (rest < 6) {
          const start = pages[4] + 1;
          this.pages = [];
          // eslint-disable-next-line
          for (let i = start; i <= total; i++) {
            this.pages.push(i);
          }
        } else {
          const start = pages[4] + 1;
          this.pages = [];
          // eslint-disable-next-line
          for (let i = start; i <= start + 4; i++) {
            this.pages.push(i);
          }
        }
        this.currentPage = current + 1;
      }
    },
    prevPage() {
      const current = this.currentPage;
      // eslint-disable-next-line
      const pages = this.pages;
      const firstPage = pages[0];
      if (current > firstPage) {
        this.currentPage = current - 1;
      } else {
        const start = firstPage - 5;
        this.pages = [];
        // eslint-disable-next-line
        for (let i = start; i <= firstPage - 1; i++) {
          this.pages.push(i);
        }
        this.currentPage = current - 1;
      }
    },
    updateObjects: async function() {
      await this.$nextTick();
      for (let i = 0; i < this.$refs.card.length; i++) {
        const name = `glide-${i}`;
        this.sliders.push(new Glide(`.glide-${i}`, {autoplay: false}).mount());
      }
    },
  },
  watch: {
    currentPage() {
      this.updateObjects();
    },
  },
  mounted() {
    this.updateObjects();
  },
};
</script>
<style lang="scss">
$listings: listings;
.#{$listings} {
  &__wrapper {
    @include flex-row(flex-start, stretch);
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 40px;
  }
  &__pagination {
    text-align: center;
    @include flex-row(center, center);
  }
  &__pagination-arrow-button {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    background-color: $N0;
    @include flex-row(center, center);
    &--next {
      margin-left: 32px;
    }
    &--prev {
      margin-right: 32px;
    }
    &:disabled {
      opacity: 0.24;
    }
  }
  &__pagination-arrow {
    width: 20px;
    height: 20px;
    fill: $B6;
  }
  &__content {
    background-color: $N0;
    flex: 1 1;
  }
  &__pagination-button {
    font-size: $H800;
    font-weight: 500;
    color: $B6;
    width: 32px;
    height: 32px;
    margin: 0 15px;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    border-radius: 50%;
    @include flex-row(center, center);
    &--active {
      background-color: $B6;
      color: $N0;
    }
  }
  &__card {
    flex: 0 0 31%;
    margin: 0 1%;
    margin-bottom: 24px;
    overflow: hidden;
    min-height: 440px;
    @include flex-col(flex-start, stretch);
    // min-width: 300px;
  }
  &__image-wrapper {
    flex-shrink: 0;
    position: relative;
  }
  &__slide {
    overflow: hidden;
    height: 260px !important;
    cursor: pointer;
  }
  &__image {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
  }
  &__features {
    padding: 0 10px;
    min-height: 50px;
  }
  &__features-list {
    list-style: none;
    @include flex-row(flex-start, center);
    padding: 16px 0;
    flex-wrap: wrap;
    border-bottom: 1px solid $N10;
  }
  &__feature {
    margin-right: 16px;
    @include flex-row(flex-start, flex-end);
    white-space: nowrap;
  }
  &__feature-icon {
    width: 16px;
    height: 16px;
    fill: $B6;
    margin-right: 8px;
  }
  &__feature-text {
    color: $N17;
    font-size: $H300;
    font-weight: 500;
  }
  &__nav {
    @include flex-row(space-between, center);
    background-color: $N6;
    padding: 8px 12px;
    flex-wrap: nowrap;
  }
  &__nav-inner {
    @include flex-row(flex-start, center);
  }
  &__nav-icon {
    width: 20px;
    height: 20px;
    fill: $B6;
    cursor: pointer;
    transition: fill ease-in-out 0.2s;
  }
  &__nav-button {
    @include flex-row(center, center);
    margin-right: 16px;
    position: relative;
    z-index: 2;
    &:hover .#{$listings}__nav-icon {
      fill: $B5;
    }
    &:active .#{$listings}__nav-icon {
      fill: $B7;
    }
    &:last-child {
      margin: 0;
    }
  }
  &__nav-input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    &:checked + .#{$listings}__nav-icon {
      fill: $B4;
    }
  }
  &__price {
    color: $B7;
    font-size: $H600;
    font-weight: 600;
  }
  &__address-box {
    @include flex-row(flex-start, stretch);
    padding: 10px;
    cursor: pointer;
  }
  &__type-icon-wrapper {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid $B6;
    margin-right: 12px;
    @include flex-row(center, center);
  }
  &__type-icon {
    width: 18px;
    height: 18px;
    fill: $B6;
  }
  &__address-wrapper {
    @include flex-col(space-between, flex-start);
  }
  &__address-street {
    color: $B6;
    font-size: $H600;
    font-weight: 600;
    text-transform: capitalize;
  }
  &__address-region {
    color: $N13;
    font-size: $H400;
    font-weight: 500;
    text-transform: capitalize;
  }
  &__nav-arrow {
    width: 24px;
    height: 24px;
    stroke: 4px;
    fill: $N0;
  }
  &__nav-arrow-button {
    position: absolute;
    top: 45%;
    &--left {
      left: 16px;
    }
    &--right {
      right: 16px;
    }
  }
}
</style>
