<template>
<form class='rest-form' @submit.prevent='sendForm'>
  <div
    class="animated dur04 bounceIn is-small notification is-success rest-form__notification"
    v-if='isMessage.success'
    key='success'>
    <button @click.prevent='isMessage.success = false' class="delete"></button>
    {{ message }}
  </div>
  <div
    class="animated dur04 bounceIn is-small notification is-warning rest-form__notification"
    v-if='isMessage.error'
    key='error'>
    <button @click.prevent='isMessage.error = false' class="delete"></button>
    {{ message }}
  </div>
  <div class="rest-form__inner">
    <h3 class="rest-form__heading">{{ $t('landing.text.message') }}</h3>
    <textarea
      class='rest-form__textarea'
      name="textarea"
      v-model='form.text'
      required></textarea>
    <label class="rest-form__checkbox">
      <input
        type="checkbox"
        name='options'
        value='selling'
        v-model='form.options'
        class="rest-form__checkbox-input">
      <div class="rest-form__checkbox-button">
        <icon-check class="rest-form__checkbox-icon"/>
      </div>
      <p class="rest-form__checkbox-text">{{ $t('landing.property.0') }}</p>
    </label>
    <label class="rest-form__checkbox">
      <input
        type="checkbox"
        name='options'
        value='valuation'
        v-model='form.options'
        class="rest-form__checkbox-input">
      <div class="rest-form__checkbox-button">
        <icon-check class="rest-form__checkbox-icon"/>
      </div>
      <p class="rest-form__checkbox-text">{{ $t('landing.property.1') }}</p>
    </label>
    <label class="rest-form__checkbox">
      <input
        type="checkbox"
        name='options'
        value='renting'
        v-model='form.options'
        class="rest-form__checkbox-input">
      <div class="rest-form__checkbox-button">
        <icon-check class="rest-form__checkbox-icon"/>
      </div>
      <p class="rest-form__checkbox-text">{{ $t('landing.property.2') }}</p>
    </label>
    <label class="rest-form__checkbox">
      <input
        type="checkbox"
        name='options'
        value='buy'
        v-model='form.options'
        class="rest-form__checkbox-input">
      <div class="rest-form__checkbox-button">
        <icon-check class="rest-form__checkbox-icon"/>
      </div>
      <p class="rest-form__checkbox-text">{{ $t('landing.property.3') }}</p>
    </label>
    <label class="rest-form__checkbox">
      <input
        type="checkbox"
        name='options'
        value='rent'
        v-model='form.options'
        class="rest-form__checkbox-input">
      <div class="rest-form__checkbox-button">
        <icon-check class="rest-form__checkbox-icon"/>
      </div>
      <p class="rest-form__checkbox-text">{{ $t('landing.property.4') }}</p>
    </label>
  </div>
  <div class="rest-form__inner">
    <h3 class="rest-form__heading">{{ $t('landing.text.details') }}</h3>
    <label class="rest-form__label">
      <icon-avatar class="rest-form__icon"/>
      <input
        type="text"
        class="rest-form__input"
        :placeholder="$t('landing.text.name')"
        autocomlete='autocomplete_off_hack_xfr4!k'
        v-model='form.name'
        required>
    </label>
    <label class="rest-form__label">
      <icon-placeholder class="rest-form__icon"/>
      <input
        type="text"
        class="rest-form__input"
        :placeholder="$t('landing.text.address')"
        autocomlete='autocomplete_off_hack_xfr4!k'
        v-model='form.address'
        required>
    </label>
    <label class="rest-form__label">
      <icon-telephone class="rest-form__icon"/>
      <input
        type="text"
        class="rest-form__input"
        :placeholder="$t('landing.text.telephone')"
        autocomlete='autocomplete_off_hack_xfr4!k'
        maxlength="14"
        v-model.trim='form.phone'
        required>
    </label>
    <label class="rest-form__label">
      <icon-mail class="rest-form__icon"/>
      <input
        type="text"
        class="rest-form__input"
        @blur='checkEmail'
        autocomlete='autocomplete_off_hack_xfr4!k'
        :class="{'rest-form__input--success': readyEmail,
                'rest-form__input--error': errors.email && form.email}"
        :placeholder="$t('landing.text.mail')"
        v-model.trim='form.email'
        required>
    </label>
    <button
      class="button is-large is-success rest-form__button"
      :class="{'is-loading': loading}"
      type="submit">{{ $t('buttons.send') }}</button>
  </div>
</form>
</template>
<script>
import IconCheck from '@/components/common/icons/IconCheck.vue';
import Validation from '@/assets/js/validation';
import IconAvatar from '@/components/common/icons/IconAvatar.vue';
import IconPlaceholder from '@/components/common/icons/IconPlaceholder.vue';
import IconTelephone from '@/components/common/icons/IconTelephone.vue';
import IconMail from '@/components/common/icons/IconMail.vue';
import { mapGetters } from 'vuex';
import { api } from '@/api/agency';
import http from 'axios';

export default {
  name: 'RestForm',
  components: {
    IconCheck,
    IconAvatar,
    IconPlaceholder,
    IconTelephone,
    IconMail,
  },
  data() {
    return {
      form: {
        options: [],
        text: '',
        name: '',
        address: '',
        phone: '',
        email: '',
        url: '',
      },
      errors: {
        email: false,
      },
      isMessage: {
        success: false,
        error: false,
      },
      message: '',
      loading: false,
    };
  },
  methods: {
    sendForm() {
      this.loading = true;
      this.form.url = window.location.href;
      const formData = Object.assign({}, this.form, {recipient: this.favoriteEmail});
      formData.options = JSON.stringify(this.form.options);
      http.post(api.feedback, formData)
      .then((resp) => {
        this.loading = false;
        this.$message.success(this.$t('messages.success_request'));
        this.clearData();
      })
      .catch((error) => {
        this.loading = false;
        this.$message.error(error);
      })
    },
    clearData() {
      Object.keys(this.form).forEach((key) => this.form[key] = key === 'options'?[]:'');
    },
    showMessage(type, text) {
      this.message = text;
      if (this.isMessage[type]) {
        this.isMessage[type] = false;
        setTimeout(() => {
          this.isMessage[type] = true;
          setTimeout(() => {
            this.isMessage[type] = false;
          }, 4000);
        }, 20);
      } else {
        this.isMessage[type] = true;
        setTimeout(() => {
          this.isMessage[type] = false;
        }, 4000);
      }
    },
    checkEmail() {
      if (this.form.email) this.errors.email = !Validation.email(this.form.email);
    },
  },
  computed: {
    ...mapGetters({
      favoriteEmail: 'dataAgency/getFavoriteEmail',
    }),
    readyEmail() {
      return Validation.email(this.form.email);
    },
  },
  watch: {
    readyEmail(value) {
      if (value) this.errors.email = false;
    },
    email() {
      if (!this.form.email) this.errors.email = false;
    },
  },
};
</script>
<style lang="scss">
.rest-form {
  @include flex-row(space-between, flex-start);
  &__inner {
    flex: 0 0 48%;
    @include flex-col(flex-start, stretch);
  }
  &__heading {
    color: $N15;
    font-size: $H800;
    font-weight: 500;
    line-height: 1.5;
    border-bottom: 1px solid $N9;
    margin-bottom: 16px;
  }
  &__checkbox {
    @include flex-row(flex-start, center);
    position: relative;
    z-index: 2;
    margin-bottom: 12px;
  }
  &__checkbox-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    top: 2px;
    left: 2px;
    &:checked + .rest-form__checkbox-button {
      .rest-form__checkbox-icon {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__checkbox-button {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: $N0;
    border: 1px solid $N14;
    @include flex-row(center, center);
    margin-right: 6px;
    cursor: pointer;
  }
  &__checkbox-icon {
    width: 14px;
    height: 14px;
    fill: $G3;
    position: relative;
    left: 2px;
    bottom: 2px;
    visibility: hidden;
    opacity: 0;
    transition-property: fill, opacity, visibility;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  &__checkbox-text {
    color: $N17;
    font-size: $H400;
    cursor: pointer;
  }
  &__label {
    position: relative;
    @include flex-row(flex-start, center);
    margin-bottom: 16px;
  }
  &__input {
    width: 100%;
    height: 46px;
    @include flex-row(flex-start, center);
    padding: 0 12px 0 46px;
    color: $N100;
    font-size: $H600;
    font-weight: 500;
    border-radius: 5px;
    border: solid 1px $N66;
    background-color: $N3;
    transition: border-color ease-in-out 0.2s;
    &--success {
      border-color: $G4;
    }
    &--error {
      border-color: $O1;
    }
    &:focus {
      border-color: $B2;
    }
    &::placeholder {
      color: $N14;
      font-size: $H600;
      font-weight: 500;
    }
    box-shadow: none;
    &:required { box-shadow: none; } 
  }
  &__textarea {
    padding: 12px;
    flex: 0 0 120px;
    margin-bottom: 22px;
    transition: border-color ease-in-out 0.2s;
    color: $N100;
    font-size: $H600;
    font-weight: 500;
    border-radius: 5px;
    border: solid 1px $N66;
    background-color: $N3;
    &:focus {
      border-color: $B2;
    }
     box-shadow: none;
    &:required { box-shadow: none; }
  }
  &__button {
    align-self: flex-start;
    padding: 12px 40px !important;
    position: relative;
    border-radius: 5px !important;
    background-color: $G4 !important;
    color: $N0 !important;
    font-size: $H800 !important;
    font-weight: 500 !important;
    transition: background-color ease-in-out 0.2s;
    height: auto !important;
    width: auto !important;
    &:hover {
      background-color: $G3 !important;
    }
    &:active {
      background-color: $G6 !important;
    }
    &:focus {
      box-shadow: 0 2px 5px 0 rgba(79, 255, 60, 0.16);
    }
  }
  &__notification {
    position: fixed !important;
    top: 72px;
    z-index: 20;
    right: 32px;
  }
  &__icon {
    width: 25px;
    height: 25px;
    fill: $N12;
    flex-shrink: 0;
    position: absolute;
    margin-left: 12px;
  }
}
</style>
